{% extends "base.html" %}
{% load static %}

{% block title %}Crew Onboard List{% endblock %}

{% block content %}
<div id="crew-menu-container" class="container">
	<div id="crew-menu-header">
		<strong>CREW LIST ONBOARD</strong>
		<h3>Print the list of Crew Onboard Ship. <span class="color-msmi-green">Type the desired ship code.</span></h3>
	</div>
	<div id="crew-menu-body" class="form-horizontal">
		<div class="form-group">
			<div class="col-lg-4">
				<div class="input-group">
					<label class="input-group-addon input-label">Ship Code:</label>
					<select class="form-control input-form">
						<option>PRID</option>
					</select>
					<label class="input-group-addon input-label color-msmi-green">Ex: PRID</span>
				</div>
			</div>
			<div class="col-lg-3 col-lg-offset-2">
				<div class="input-group">
					<label class="input-group-addon input-label">Paper Size:</label>
					<select class="form-control input-form">
						<option>Letter</option>
					</select>
				</div>
			</div>
			<div class="col-lg-3">
				<div class="input-group">
					<label class="input-group-addon input-label">Orientation:</label>
					<select class="form-control input-form">
						<option>Landscape</option>
					</select>
				</div>
			</div>
		</div>
		<img src="{% static 'img/crew-list.jpg' %}" style="border: 2px solid #2e76b8; width: 100%">
	</div>
	<div id="crew-menu-footer">
		<div class="form-group screens-footer">
			<div class="col-lg-2">
				<div class="input-group">
					<label class="input-group-addon input-label">Print:</label>
					<select class="form-control input-form">
						<option>No</option>
					</select>
				</div>
			</div>
			<div class="col-lg-2">
				<div class="input-group">
					<label class="input-group-addon input-label">View:</label>
					<select class="form-control input-form">
						<option>Yes</option>
					</select>
				</div>
			</div>
			<div class="col-lg-2 col-lg-offset-2">
				<a href="#" target="_blank"><button class="btn form-control">NEW</button></a>
			</div>
			<div class="col-lg-2">
				<a href="#" target="_blank"><button class="btn form-control">PRINT</button></a>
			</div>
			<div class="col-lg-2">
				<a href="#" target="_blank"><button class="btn form-control">EXIT</button></a>
			</div>
		</div>
	</div>
</div>

{% endblock %}