{% extends "base.html" %}
{% load static %}

{% block title %}Bio{% endblock %}

{% block content %}
<div id="crew-menu-container" class="container-fluid screens-padding">
	<div id="crew-menu-header">
		<strong>BIO ENTRIES</strong>
	</div>
	<div id="crew-menu-body" class="form-horizontal screens-body">
		<div class="form-group negate-margin-bottom">
			{% include 'pure_html/crew_menu/sidebar.html' %}
			<div class="col-lg-10 profile-border">
				<div class="form-group">
					<div class="col-lg-4">
						<div class="input-group">
							<label class="input-group-addon input-label">Lastname:</label>
							<input class="form-control input-form" type="text">
						</div>
					</div>
					<div class="col-lg-4">
						<div class="input-group">
							<label class="input-group-addon input-label">Firstname:</label>
							<input class="form-control input-form" type="text">
						</div>
					</div>
					<div class="col-lg-4">
						<div class="input-group">
							<label class="input-group-addon input-label">Middlename:</label>
							<input class="form-control input-form" type="text">
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="col-lg-4">
						<div class="input-group">
							<label class="input-group-addon input-label">Nickname:</label>
							<input class="form-control input-form" type="text">
						</div>
					</div>
					<div class="col-lg-2">
						<div class="input-group">
							<label class="input-group-addon input-label">UID:</label>
							<input class="form-control input-form" type="text">
						</div>
					</div>
					<div class="col-lg-3">
						<div class="input-group">
							<label class="input-group-addon input-label">Nationality:</label>
							<input class="form-control input-form" type="text">
						</div>
					</div>
					<div class="col-lg-3">
						<div class="input-group">
							<label class="input-group-addon input-label">ExCrew:</label>
							<!-- <input class="form-control input-form" type="text"> -->
							<select class="form-control input-form">
								<option>Yes</option>
								<option>No</option>
							</select>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="col-lg-3">
						<div class="input-group">
							<label class="input-group-addon input-label">Last Ship:</label>
							<input class="form-control input-form" type="text">
						</div>
					</div>
					<div class="col-lg-4">
						<div class="input-group">
							<label class="input-group-addon input-label">Separation Type:</label>
							<input class="form-control input-form" type="text">
						</div>
					</div>
					<div class="col-lg-3">
						<div class="input-group">
							<label class="input-group-addon input-label">Availability:</label>
							<!-- <input class=" form-control input-form" type="text"> -->
							<select class="form-control input-form">
								<option>YYYY</option>
							</select>
						</div>
					</div>
					<div class="col-lg-1">
						<div class="input-group">
							<!-- <input class=" form-control input-form" type="text"> -->
							<select class="form-control input-form">
								<option>MM</option>
							</select>
						</div>
					</div>
					<div class="col-lg-1 negate-padding-left">
						<div class="input-group">
							<!-- <input class=" form-control input-form" type="text"> -->
							<select class="form-control input-form">
								<option>DD</option>
							</select>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="col-lg-12">
						<div class="border-separator"></div>
					</div>
				</div>
				<div class="form-group">
					<div class="col-lg-12">
						<div class="input-group">
							<label class="input-group-addon input-label">Email:</label>
							<input class=" form-control input-form" type="email">
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="col-lg-3">
						<div class="input-group">
							<label class="input-group-addon input-label">Birthdate:</label>
							<!-- <input class=" form-control input-form" type="text"> -->
							<select class="form-control input-form">
								<option>YYYY</option>
							</select>
						</div>
					</div>
					<div class="col-lg-1">
						<div class="input-group">
							<!-- <input class=" form-control input-form" type="text"> -->
							<select class="form-control input-form">
								<option>MM</option>
							</select>
						</div>
					</div>
					<div class="col-lg-1 negate-padding-left">
						<div class="input-group">
							<!-- <input class=" form-control input-form" type="text"> -->
							<select class="form-control input-form">
								<option>DD</option>
							</select>
						</div>
					</div>
					<div class="col-lg-5">
						<div class="input-group">
							<label class="input-group-addon input-label">Place:</label>
							<input class=" form-control input-form" type="text">
						</div>
					</div>
					<div class="col-lg-2">
						<div class="input-group">
							<label class="input-group-addon input-label">BMI:</label>
							<input class=" form-control input-form" type="text">
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="col-lg-4">
						<div class="input-group">
							<label class="input-group-addon input-label">M.Status:</label>
							<input class="form-control input-form" type="text">
						</div>
					</div>
					<div class="col-lg-8">
						<div class="input-group">
							<label class="input-group-addon input-label">Spouse Name:</label>
							<input class="form-control input-form" type="text">
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="col-lg-4">
						<div class="input-group">
							<label class="input-group-addon input-label">No. of Dependents:</label>
							<input class=" form-control input-form" type="text">
						</div>
					</div>
					<div class="col-lg-3">
						<div class="input-group">
							<label class="input-group-addon input-label">Birthdate:</label>
							<!-- <input class=" form-control input-form" type="text"> -->
							<select class="form-control input-form">
								<option>YYYY</option>
							</select>
						</div>
					</div>
					<div class="col-lg-1">
						<div class="input-group">
							<!-- <input class=" form-control input-form" type="text"> -->
							<select class="form-control input-form">
								<option>MM</option>
							</select>
						</div>
					</div>
					<div class="col-lg-1 negate-padding-left">
						<div class="input-group">
							<!-- <input class=" form-control input-form" type="text"> -->
							<select class="form-control input-form">
								<option>DD</option>
							</select>
						</div>
					</div>
					<div class="col-lg-3">
						<div class="input-group">
							<label class="input-group-addon input-label">Wife Works:</label>
							<select class="form-control input-form">
								<option>Yes</option>
							</select>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="col-lg-8">
						<div class="input-group">
							<label class="input-group-addon input-label">Mother Language:</label>
							<input class="form-control input-form" type="text">
						</div>
					</div>
					<div class="col-lg-4">
						<div class="input-group">
							<label class="input-group-addon input-label">English:</label>
							<select class="form-control input-form">
								<option>Yes</option>
							</select>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="col-lg-6">
						<div class="input-group">
							<label class="input-group-addon input-label">BIR Tax No.:</label>
							<input class="form-control input-form" type="text">
						</div>
					</div>
					<div class="col-lg-6">
						<div class="input-group">
							<label class="input-group-addon input-label">SSS No.:</label>
							<input class="form-control input-form" type="text">
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="col-lg-6">
						<div class="input-group">
							<label class="input-group-addon input-label">PagIbig No.:</label>
							<input class="form-control input-form" type="text">
						</div>
					</div>
					<div class="col-lg-6">
						<div class="input-group">
							<label class="input-group-addon input-label">PhilHealth No.:</label>
							<input class="form-control input-form" type="text">
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="col-lg-12">
						<div class="border-separator"></div>
					</div>
				</div>
				<div class="form-group">
					<div class="col-lg-3">
						<div class="input-group">
							<label class="input-group-addon input-label">HighSchool Graduate:</label>
							<select class="form-control input-form">
								<option>Yes</option>
							</select>
						</div>
					</div>
					<div class="col-lg-3">
						<div class="input-group">
							<label class="input-group-addon input-label">Date:</label>
							<!-- <input class=" form-control input-form" type="text"> -->
							<select class="form-control input-form">
								<option>YYYY</option>
							</select>
						</div>
					</div>
					<div class="col-lg-1">
						<div class="input-group">
							<!-- <input class=" form-control input-form" type="text"> -->
							<select class="form-control input-form">
								<option>MM</option>
							</select>
						</div>
					</div>
					<div class="col-lg-1 negate-padding-left">
						<div class="input-group">
							<!-- <input class=" form-control input-form" type="text"> -->
							<select class="form-control input-form">
								<option>DD</option>
							</select>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="input-group">
							<label class="input-group-addon input-label">Vocational:</label>
							<input class="form-control input-form" type="text">
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="col-lg-3">
						<div class="input-group">
							<label class="input-group-addon input-label">Nautical Degree:</label>
							<input class="form-control input-form" type="text">
						</div>
					</div>
					<div class="col-lg-3">
						<div class="input-group">
							<label class="input-group-addon input-label">Date:</label>
							<!-- <input class=" form-control input-form" type="text"> -->
							<select class="form-control input-form">
								<option>YYYY</option>
							</select>
						</div>
					</div>
					<div class="col-lg-1">
						<div class="input-group">
							<!-- <input class=" form-control input-form" type="text"> -->
							<select class="form-control input-form">
								<option>MM</option>
							</select>
						</div>
					</div>
					<div class="col-lg-1 negate-padding-left">
						<div class="input-group">
							<!-- <input class=" form-control input-form" type="text"> -->
							<select class="form-control input-form">
								<option>DD</option>
							</select>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="input-group">
							<label class="input-group-addon input-label">School:</label>
							<input class="form-control input-form" type="text">
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="col-lg-3">
						<div class="input-group">
							<label class="input-group-addon input-label">Other Degree:</label>
							<input class="form-control input-form" type="text">
						</div>
					</div>
					<div class="col-lg-3">
						<div class="input-group">
							<label class="input-group-addon input-label">Date:</label>
							<!-- <input class=" form-control input-form" type="text"> -->
							<select class="form-control input-form">
								<option>YYYY</option>
							</select>
						</div>
					</div>
					<div class="col-lg-1">
						<div class="input-group">
							<!-- <input class=" form-control input-form" type="text"> -->
							<select class="form-control input-form">
								<option>MM</option>
							</select>
						</div>
					</div>
					<div class="col-lg-1 negate-padding-left">
						<div class="input-group">
							<!-- <input class=" form-control input-form" type="text"> -->
							<select class="form-control input-form">
								<option>DD</option>
							</select>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="input-group">
							<label class="input-group-addon input-label">School:</label>
							<input class="form-control input-form" type="text">
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="col-lg-12">
						<div class="input-group">
							<label class="input-group-addon input-label">Educational Notes:</label>
							<input class=" form-control input-form" type="text">
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="col-lg-12">
						<label class="input-group-addon input-label">General Comments:</label>
						<textarea class=" form-control input-form"></textarea>
					</div>
				</div>
				<div class="form-group">
					<div class="col-lg-12">
						<div class="input-group">
							<label class="input-group-addon input-label">Address:</label>
							<input class=" form-control input-form" type="text">
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="col-lg-4">
						<div class="input-group">
							<label class="input-group-addon input-label">Tel1. No:</label>
							<input class="form-control input-form" type="text">
						</div>
					</div>
					<div class="col-lg-4">
						<div class="input-group">
							<label class="input-group-addon input-label">Tel2. No:</label>
							<input class="form-control input-form" type="text">
						</div>
					</div>
					<div class="col-lg-4">
						<div class="input-group">
							<label class="input-group-addon input-label">Tel3. No:</label>
							<input class="form-control input-form" type="text">
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="col-lg-12">
						<div class="input-group">
							<label class="input-group-addon input-label">Emergency Address:</label>
							<input class=" form-control input-form" type="text">
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="col-lg-8">
						<div class="input-group">
							<label class="input-group-addon input-label">Emergency Person:</label>
							<input class=" form-control input-form" type="text">
						</div>
					</div>
					<div class="col-lg-4">
						<div class="input-group">
							<label class="input-group-addon input-label">Relation:</label>
							<input class=" form-control input-form" type="text">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="crew-menu-footer">
		<div class="form-group screens-footer">
			<div class="col-lg-2 col-lg-offset-6">
				<a href="#" target="_blank"><button class="btn form-control">NEW</button></a>
			</div>
			<div class="col-lg-2">
				<a href="#" target="_blank"><button class="btn form-control">PRINT</button></a>
			</div>
			<div class="col-lg-2">
				<a href="#" target="_blank"><button class="btn form-control">EXIT</button></a>
			</div>
		</div>
	</div>
</div>
{% endblock %}


<!-- Notes -->
<!-- Header Uses Default -->
<!-- Header Uses Default -->