{% extends "base.html" %}
{% load static %}

{% block title %}Reports{% endblock %}

{% block content %}
<div id="crew-menu-container" class="container">
	<div id="crew-menu-header">
		<strong>REPORTS</strong>
	</div>
	<div id="crew-menu-body" class="form-horizontal">
		<div class="form-group">
			<div class="col-lg-3">
				<a href="{% url 'bio_index' %}" target="_blank"><button class="btn form-control">Bio Reports</button></a>
			</div>
			<div class="col-lg-3">
				<a href="#" target="_blank"><button class="btn form-control">Departure Doc Checklist</button></a>
			</div>
			<div class="col-lg-3">
				<a href="#" target="_blank"><button class="btn form-control">Everyone for a Rank</button></a>
			</div>
			<div class="col-lg-3">
				<a href="#" target="_blank"><button class="btn form-control">Crew (Avail + Evals)</button></a>
			</div>
		</div>
		<div class="form-group">
			<div class="col-lg-3">
				<a href="{% url 'crew_onboard_list_index' %}" target="_blank"><button class="btn form-control">Crew Onboard List</button></a>
			</div>
			<div class="col-lg-3">
				<a href="#" target="_blank"><button class="btn form-control">Print Contract</button></a>
			</div>
			<div class="col-lg-3">
				<a href="#" target="_blank"><button class="btn form-control">Evaluation Entries</button></a>
			</div>
			<div class="col-lg-3">
				<a href="#" target="_blank"><button class="btn form-control">Delete Contract</button></a>
			</div>
		</div>
		<div class="form-group">
			<div class="col-lg-3">
				<a href="#" target="_blank"><button class="btn form-control">Seaman's Contract</button></a>
			</div>
			<div class="col-lg-3">
				<a href="#" target="_blank"><button class="btn form-control">BIR Tax 2316</button></a>
			</div>
			<div class="col-lg-3">
				<a href="#" target="_blank"><button class="btn form-control">SSS R-3 Monthly</button></a>
			</div>
			<div class="col-lg-3">
				<a href="#" target="_blank"><button class="btn form-control">SSS Individual Report</button></a>
			</div>
		</div>
		<div class="form-group">
			<div class="col-lg-3">
				<a href="#" target="_blank"><button class="btn form-control">SSS Certificate</button></a>
			</div>
			<div class="col-lg-3">
				<a href="#" target="_blank"><button class="btn form-control">PhilHealth RF-1 Report</button></a>
			</div>
			<div class="col-lg-3">
				<a href="#" target="_blank"><button class="btn form-control">PhilHealth Certificate</button></a>
			</div>
			<div class="col-lg-3">
				<a href="#" target="_blank"><button class="btn form-control">SSS Individual Report</button></a>
			</div>
		</div>
		<div class="form-group">
			<div class="col-lg-3">
				<a href="#" target="_blank"><button class="btn form-control">Allotment Report</button></a>
			</div>
			<div class="col-lg-3">
				<a href="#" target="_blank"><button class="btn form-control">Print Allotment Ship</button></a>
			</div>
			<div class="col-lg-3">
				<a href="#" target="_blank"><button class="btn form-control">Certificate of Emp. & Comp.</button></a>
			</div>
			<div class="col-lg-3">
				<a href="#" target="_blank"><button class="btn form-control">Certifications</button></a>
			</div>
		</div>
		<div class="form-group">
			<div class="col-lg-3">
				<a href="#" target="_blank"><button class="btn form-control">Payroll Summary</button></a>
			</div>
			<div class="col-lg-3">
				<a href="#" target="_blank"><button class="btn form-control">Print Payroll Slip</button></a>
			</div>
			<div class="col-lg-3">
				<a href="#" target="_blank"><button class="btn form-control">Print Payroll Slip2</button></a>
			</div>
			<div class="col-lg-3">
				<a href="#" target="_blank"><button class="btn form-control">Print Sundry List</button></a>
			</div>
		</div>
		<div class="form-group">
			<div class="col-lg-3">
				<a href="#" target="_blank"><button class="btn form-control">Pagibig Monthly</button></a>
			</div>
			<div class="col-lg-3">
				<a href="#" target="_blank"><button class="btn form-control">PagIbig Certificate</button></a>
			</div>
			<div class="col-lg-3">
				<a href="#" target="_blank"><button class="btn form-control">Seniority Calculation</button></a>
			</div>
			<div class="col-lg-3">
				<a href="#" target="_blank"><button class="btn form-control btn-msmi-disabled">Add Task</button></a>
			</div>
		</div>
	</div>
	<div id="crew-menu-footer">
		<div class="form-group">
			<div class="col-lg-3">
				<a href="#" target="_blank"><button class="btn form-control">ADMIN</button></a>
			</div>
			<div class="col-lg-3">
				<a href="#" target="_blank"><button class="btn form-control">REPORTS</button></a>
			</div>
			<div class="col-lg-3">
				<a href="#" target="_blank"><button class="btn form-control">KPI</button></a>
			</div>
			<div class="col-lg-3">
				<a href="#" target="_blank"><button class="btn form-control">PRINTER SETTINGS</button></a>
			</div>
		</div>
	</div>
</div>

{% endblock %}