{% extends "base.html" %}
{% load static %}

{% block title %}Log-In Page{% endblock %}

{% block header_content %}

{% endblock %}

{% block content %}
<div class="container">
	<div id="login-container" class="panel-body">
		<div class="row login-body-container">
			<form class="form-horizontal" ng-controller="formController" name="loginForm" {% if next_redirect %} ng-init="notifications='true'" {% endif %} novalidate>
				<input type="hidden" name="csrfmiddlewaretoken" class="form-control" ng-init="input.csrf='{{ csrf_token }}'" ng-model="input.csrfmiddlewaretoken" ng-enter="logIn(input, domainName+'/validation/')" required>
				<div id="login-notifications" ng-if="notifications">
					<!-- Error Notifications! -->[[ errorNotificationTitle ]]
					<!-- <span class="pull-right notifications-close" id="hideLogInNotifications" ng-click="hideLogInNotifications()">X</span> -->
					<span class="pull-right glyphicon glyphicon-remove" id="hideLogInNotifications" ng-click="hideLogInNotifications()"></span>
					<hr>
					{% if next_redirect %}<div>* Session expired, Please login again</div> {% endif %}
					<div>[[loginErrorMessage]]</div>
				</div>
				<div class="col-lg-5 col-lg-offset-2">
					<div id="login-form">
						<img src="{% static 'img/small-logo.png' %}" class="img-responsive">
						<div class="form-group">
							<div class="col-lg-12">
								<input type="text" name="username" id="username" class="form-control" placeholder="Username" ng-model="input.username" ng-enter="logIn(input, domainName+'/validation/')" required>
							</div>
						</div>
						<div class="form-group">
							<div class="col-lg-12">
								<input type="password" name="password" id="password" class="form-control" placeholder="Password" ng-model="input.password" ng-enter="logIn(input, domainName+'/validation/')" required>
							</div>
						</div>
						<!-- <button type="button" class="btn form-control btn-msmi-green" ng-click="logIn(input, 'http://192.168.0.50:8000/api/people/v1/login')"><strong>Login</strong></button> -->
						{% if next_redirect  %}<input type="hidden"  name="redirect" ng-init="input.redirect='{{ next_redirect }}'" ng-model="input.redirect" />{% endif %}
						<button type="button" class="btn form-control btn-msmi-green" ng-click="logIn(input, [[ domainName ]]+'/validation/')" ng-disabled="loginForm.username.$invalid || loginForm.password.$invalid"><strong>Login</strong></button>
					</div>
				</div>
			</form>
			<div class="col-lg-3">
				<img src="{% static 'img/login-mascot.png' %}"	>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block footer_content %}
	<footer>
		<div id="login-mascot-desk">
		</div>
		Copyright &copy; {% now "Y" %} Manila Ship Management & Manning, Inc. All rights reserved
	</footer>
{% endblock %}