{% extends "base.html" %}
{% load static %}

{% block title %}Ranks{% endblock %}

{% block content %}
<div id="crew-menu-container" class="container"> <!-- START id="crew-menu-container" -->
	<div ng-view ng-show="showRouting"></div>
</div> <!-- END id="crew-menu-container" -->

{% endblock %}

{% block angular_scripts %}
<script type="text/javascript" src="{% static 'rank_management/js/angular-scripts.js' %}"></script>
{% endblock %}