{% extends "base.html" %}
{% load static %}

{% block title %}Vessel Types{% endblock %}

{% block content %}
<div id="crew-menu-container" class="container">
	<div ng-view ng-show="showRouting"></div>
</div>
{% endblock %}

{% block angular_scripts %}
<script type="text/javascript" src="{% static 'vessel_type_management/js/angular-scripts.js' %}"></script>
{% endblock %}