/* 
  Control + F these keywords search terms
  Comments Searchables:
    START Manship Global Standard CSS
    START Default Global Declarations
    START Login CSS
    START Bio CSS
    START Principal Management CSS
    START Crew Menu CSS
    START Screens CSS, This is the Standard CSS for each screens of Crew Menu like Bio
    START Admin Screens CSS, This is the Standard CSS for each admin screens of Crew Menu like Rank Admin
    START Pagination CSS
    START Negator Classes
    START overridden bootstrap classes
    START Route Change
    START Custom glyphicons
    START Angular Directives
    START JqueryUI datepicker
    START textextjs css
    START Angular NgInputTags css
    START UI Select css
    START errors style
    
  Extra single element classes:
    .cursor-point
*/

/* START Default Global Declarations */
body{
	color: #2e76b8;
}
input, select, textarea{
	/*color: #2e76b8 !important;*/
	/*border: 3px solid #2e76b8 !important;*/
	border: 2px solid #2e76b8 !important;
	font-weight: bold;
	color: #000
}
input#search, input#search-tree{
	background-image: url(/static/img/search.png);
	background-repeat: no-repeat;
	background-position: right;
}
input:focus, select:focus, textarea:focus{
	border: 3px solid #02be9b !important;
}
input[type="text"]{
	text-transform: uppercase;
}
input#username{
	text-transform: none;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
input[type=number] {
-moz-appearance: textfield;
}
textarea{
	resize: none;
	height: 100px !important;
}
button{
	height: 50px !important;
	font-size: 18px !important;
	/*border-radius: 10px !important;*/
	border-radius: 5px !important;
	margin-bottom: 5px !important;
}
table.table{
	/*font-size: 1.1vw;*/
	font-size: 14px;
	text-align: left;
}
table.table thead{
	background-color:#2e76b8;
	color: #fff;
}
footer{
	text-align: center;
}
table.table, table.table td, table.table th{
	border: 2px solid #2e76b8;
}
td, th{
	vertical-align: middle !important;
}
th label{
	margin-bottom: 0px;
}
footer.default{
	border-top: 2px solid #2e76b8;
	/*margin-top: 25px;*/
	margin-top: 10px;
	line-height: 2.5;
}
.notifications-close{
	/* font-size: 24px;*/
	font-size: 18px;
	/*margin-top: -8px;*/
	cursor: pointer;
}
.navbar-user-identifier{
	margin-top: 15px;
}
.border-separator{
	border: 1px solid #2e76b8;
	margin-top: 10px;
}
.code{
	text-transform: uppercase;
}
.user-code{
	text-transform: lowercase !important;
}
.col-form-button{
	margin-top: 10px;
}
.col-form-button button{
	padding: 0;
/*	padding-left: 5px;
	padding-right: 5px;*/
	height: 35px !important;
	font-size: 14px !important;
}
.change-picture-icon{
	position: absolute;
	/*top: 30px;
	left: 10px;*/
	top: 21px;
	left: 8px;
	width: 38px;
	cursor: pointer;
}
label.change-picture-label
{
	display: inline;
}
label.required:after{
	content:"*";
	color:red;
}
.tree-middle-glyphicon-margin{
	margin-left:3px; margin-right:3px;
}
#profile-sidebar label.input-group-addon{
	padding-left: 0px;
}
label img{
	cursor: pointer;
}
.attached-with-pic{
	border-radius: 0px !important;
}
#profile-sidebar .sections{
	font-weight: 700;
	margin-top: 20px;
}
#profile-sidebar .sections ul{
	list-style-type:none;
	/*padding-left: 0px;*/
	padding-left: 3px;
}

button.add, button.remove{
	height: 36px !important;
}
button.remove{
	color: #ed1c24 !important; 
	border: #ed1c24 2px solid !important;
}
button.remove:hover{
	color: #fff !important; 
	background-color: #ed1c24 !important; 
}
button.add{
	color: #02be9b !important; 
	border: #02be9b 2px solid !important;
}
button.add:hover{
	color: #fff !important; 
	background-color: #02be9b !important; 
}
button span.glyphicon{
	font-size: 11px;
	padding: 2px;
	margin-right: 5px;
}
button span.glyphicon:hover{
	background:	inherit;
}
button span.glyphicon-plus{
	padding-right: 1px;
}
button span.glyphicon-minus{
	padding-left: 1px;
}
.glyphicon-with-label + span{
	margin-top: -6px;
}
.whitespace-button{
	visibility:hidden;
}

.view-separator{
	border-bottom: 2px solid #2e76b8;
	margin-left: -10px;
	/*margin-right: -10px;*/
	margin-right: -9px;
}
#search-filter-container .view-separator{
	margin-left: 0px;
	margin-right: 0px;
}
/* Used in telephone, mobile and social medias in bio-Personal Information Section */
.dynamic-one-liner-grouping{
	visibility:hidden; margin-top: 10px;
}
.disabled.important{
	color: #000 !important;
}
.view-null-values{
	/*background-color: #ddd;*/
	background-color: #f5f5f5;
	border: none !important;
}
.view-values{
	background-color: #ccc !important;
	border: none !important;
}
/* END Default Global Declarations */

/* START Login CSS */
#login-container{
	/*background-color: #2e76b8;*/
	/*width: 50%;*/
	margin-top: 10%;
	margin-left: auto;
	margin-right: auto;
}
#login-notifications, .login-notifications{
	border: 4px solid #ec1c2a;
	border-radius: 8px;
	color: #ec1c2a;
	padding: 20px;
	padding-top: 5px;
	padding-right: 5px;
	font-size: 16px;
	margin: 0 auto;
	margin-bottom: 75px;
	/*width: 50%;*/
	width: 40%;
	font-weight: 700;
	text-align: left;
}
.login-notifications{
	margin-bottom: 15px;
}
#login-notifications hr, .login-notifications hr{
	height: 15px;
	border-top: 2px solid #ec1c2a;
	margin-top: 8px;
	margin-bottom: 8px;
	visibility: hidden;
}
#login-form{
	border: 3px solid #2e76b8;
	border-radius: 10px;
	width: 350px;
	padding: 20px;
}
#login-container img{
	/*margin-bottom: 30px;*/
	margin-bottom: 5px;
	margin-left: 15px;
}
#login-form input{
	text-align: center;
	height: 50px;
	font-size: 18px;
	/*border-radius: 10px;*/
	border-radius: 5px;
	margin-bottom: 5px;
}
#login-mascot{
	/*width: 40%;*/
	height: 400px;
	/*display: inline;*/
	margin-left: 40px;
	border: 4px solid #000;
}
#login-mascot-desk{
	background-color: #6e7b84;
	border: 1px solid black;
	height: 5px;
	margin-top: -35px;
	/*margin-bottom: 30px;*/
	margin-bottom: 20px;
}
#login-notifications button.btn-msmi-blue {
	height: auto !important;
}
/* END Login CSS */

/* START Bio CSS */
@media (min-width: 1400px){
	.bio-container{
		padding-right: 150px;
		padding-left: 150px;
	}
}
@media (max-width: 1300px){
	.bio-container{
		padding-right: 0px;
		padding-left: 0px;
	}
}
#bio .title-section{
	border-bottom: 2px solid #2e76b8;
	margin-bottom: 5px;
}
.title-section h3{
	margin-bottom: 0px;
}
.title-label{
	 margin-bottom: -10px !important;
}
.bio-title{
	text-transform: lowercase;
}
.bio-title:first-letter{
	text-transform: uppercase;
}
#bio-views p{
	cursor: pointer;
}
#bio #main-content{
	min-height: 800px;
}
#bio-sidebar .code{
	height: 50px;
	font-size: 28px;
}
.google-search{
	height: 34px !important;
	padding-top: 0px;
	padding-bottom: 0px;
}
.social-media{
	text-transform: none !important;
}
.same-as-above{
	text-align: center;
	padding-top: 10px;
}
#advanced-filter .button-container, #advanced-filter .conditional-container{
	padding-left: 0px;
	padding-right: 0px;
	
}
#advanced-filter .button-container{
	text-align: center;
}
.dynamic-filter-row{
	margin-bottom: 15px;
}
#advanced-filter .filters-title{
	margin-top:10px;
}
#report-config-container .content{
	border: 2px solid #2e76b8;
	height: 280px;
	overflow-y: scroll;
	overflow-x: hidden;
}
#report-config-container .title{
	padding-left: 15px;
	border-bottom: 2px solid #2e76b8;
	margin-bottom: 15px;
}
#report-preview-table{
	height: 350px;
	overflow-y: scroll;
	overflow-x: hidden;
}
/* END Bio CSS */

/* START Principal Management CSS */
.principal_contact_info_designation{
	color: #02be9b !important;
	font-size: 24px;
	font-weight: 500;
}
/* END Principal Management CSS */

/* START Crew Menu CSS */
#crew-menu-container{
	text-align: center;
	/*font-size: 2vw;*/
	/*margin-top: 115px;*/
	margin-top: 100px;
	font-size: 30px;
/*	padding-right: 150px;
	padding-left: 150px;*/
	/*font-size: 14px;*/
}

#crew-menu-container button{
	/*height: 65px !important;*/
	/*border-radius: 8px !important;*/
	border-radius: 5px !important;
	font-weight: 700;
}
#crew-menu-header h3{
	margin-top: 0px;
	/*font-size: 1.3vw;*/
	color: #02be9b;
	font-size: 18px;
	 font-weight: bold;
	/*font-size: 14px;*/
}
#crew-menu-body{
	border-top: 3px solid #2e76b8;
	border-bottom: 3px solid #2e76b8;
	padding:25px;
	margin-top: 15px;
	/*margin-bottom: 30px;*/
	margin-bottom: 15px;
	text-align: left;
	font-size: 14px;
}
#crew-menu-body button, #profile-sidebar button{
	border: 3px solid #2e76b8;
	color: #2e76b8;
	/*border-radius: 8px !important;*/
	font-size: 14px !important;
	border-radius: 5px !important;
	box-shadow: none !important;
}
#crew-menu-body button:hover, #profile-sidebar button:hover, .pagination-container a:hover{
	background-color: #2e76b8;
	color: #fff;
	text-decoration: none;
}
#crew-menu-body .form-group{
	margin-bottom: 15px;
	/*margin-bottom: 0px;*/
	/*margin-top: 10px;*/
}
#crew-menu-body .form-group + .end{
	margin-bottom: 35px;
}
#crew-menu-body, #search-filter-container{
	padding-top: 10px;
	padding-bottom: 10px;
}
#crew-menu-body .item-sort{
	cursor: pointer;
}
#crew-menu-body .item-sort:hover{
	color: #c0c0c0;
}
#search-filter-container button{
	height: auto !important;
	padding-top: 2px !important;
	padding-bottom: 2px !important;
	margin-top: -1.5px;
}
#crew-menu-footer button{
	border: 2px solid #02be9b;
	color: #02be9b;
	box-shadow: none !important;
}
#crew-menu-footer button:hover{
	background-color: #02be9b;
	color: #fff;
}
/* END Crew Menu CSS */

/* START Screens CSS */
.screens-padding{
	padding-left: 75px;
	padding-right: 75px;
}
.screens-body{
	padding-top: 0px !important;
	padding-bottom: 0px !important;
	border-top: 2px solid #2e76b8 !important;
	border-bottom: 2px solid #2e76b8 !important;
}
/*.screens-body form .col-lg-2{
	width: 13%
}
.screens-body form .col-lg-10{
	width: 87%
}*/
.screens-footer{
	padding-right: 10px;
}
#crew-menu-footer .screens-footer button{
	height: auto !important;
/*	font-size: 12px !important;
	border-radius: 	5px !important;*/
}
#profile-sidebar{
/*	width: 100%;*/
	/*padding-top: 25px;*/
	padding-top: 15px;
	padding-bottom: 25px;
	margin-left: -15px;
	font-size: 14px !important;
	font-weight: bold;
}
#profile-sidebar button{
	font-size: 14px !important;
	height: 40px !important;
}
.profile-picture{
	border: 2px solid #2e76b8;
}
.profile-picture-caption{
	width: 100%;
	border-bottom: 2px solid #2e76b8;
	border-left: 2px solid #2e76b8;
	border-right: 2px solid #2e76b8;
	text-align: center;
	font-size: 2vw !important;
	text-transform: uppercase;
}
.profile-border{
	border-left: 2px solid #2e76b8;
	/*padding-top: 20px;*/
	padding-top: 3px;
	padding-left: 25px;
}
.border-container{
	margin-top: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #2e76b8;
	border-top: 1px solid #2e76b8;
	margin-bottom: 10px;
}
.border-end, .single-border-end{
	padding-bottom: 10px;
	/*border-bottom: 1px solid #2e76b8;*/
	border-bottom: 2px solid #2e76b8;
	margin-bottom: 10px;
}
.single-border-end{
	padding-top: 20px;
	padding-left: 35px;
}
.borderless-top{
	border-top: 0px;
}
/* END Screens CSS */

/* START Admin Screens CSS */
.admin-screens-body{
	padding-top: 0px !important;
	padding-bottom: 0px !important;
	border-top: 2px solid #2e76b8 !important;
	border-bottom: 2px solid #2e76b8 !important;
	
}
.admin-screens-body .profile-border{
	border-right: 2px solid #2e76b8;
	border-left: 0px;
}
/*.admin-screens-body input, .admin-screens-body select, .admin-screens-body textarea{
	border: 2px solid #2e76b8 !important;
}*/
.admin-screens-body #profile-sidebar{
	margin-left: 10px;
}
.admin-screens-body table{
	margin-top: 10px;
}
.order-attributes{
	float:right;
}
/* END Admin Screens CSS */

/* START Pagination CSS*/
.pagination-container{
	/*font-size: 1vw;*/
	font-size: 14px;
	text-align: left;
	margin-top: 20px;
	margin-bottom: 20px;
}
.pagination-container a{
	border: 1px solid #2e76b8;
	padding: 5px 10px;
	border-radius: 0px;
}
.pagination-container a.glyphicon{
	/*font-size: .95vw;*/
	font-size: 14px;
	top: 2px;
}
/* END Pagination CSS*/

/* START Manship Global Standard CSS */
.btn-msmi-green {
  color: #fff;
  background-color: #02be9b;
  border-color: #02be9b;
}
.btn-msmi-green:focus,
.btn-msmi-green.focus {
  color: #fff;
  background-color: #02be9b;
  border-color: #02be9b;
}
.btn-msmi-green:hover {
  color: #fff !important;
  background-color: #82ca9c;
  border-color: #82ca9c;
}
.btn-msmi-green[disabled]{
	color: #02be9b;
}
.btn-msmi-disabled, .glyphicon-disabled, .disabled, .disabled a{
	color: #ccc !important;
	border-color: #ccc !important;
}
select[disabled], input[disabled]{
	color: #000 !important;
	border-color: #ccc !important;
}
.btn-msmi-disabled:hover, .glyphicon-disabled:hover, .disabled a:hover{
	color: none !important;
	background-color: #fff !important;
	cursor: not-allowed;
	text-decoration: none;
}
.btn-msmi-blue {
  color: #fff !important;
  background-color: #2e76b8;
  border-color: #2e76b8;
}
.btn-msmi-blue:focus,
.btn-msmi-blue.focus {
  color: #fff;
  background-color: #2e76b8;
  border-color: #2e76b8;
}
.btn-msmi-blue:hover {
  color: #fff !important;
  background-color: #04508e !important;
  border-color: #04508e !important;
}
.btn-msmi-blue[disabled]{
	color: #2e76b8;
}
.background-msmi-blue{
  background-color: #2e76b8 !important;
  /*border-bottom: 5px solid #04508e;*/
  color: #fff;
}
.background-msmi-blue a, .background-msmi-blue li a{
	color: #fff;
}
.color-msmi-blue{
  color: #2e76b8;
}
.color-msmi-green{
  color: #02be9b !important;
}

/* START errors style */
input.error, select.error, textarea.error, .ui-select-container.error .selectize-input, tags-input.error .host{
	background-image: url(/static/img/error.png) !important;
	background-repeat: no-repeat;
	background-position: right;
	border-color: #ed1c24 !important;
}
select.error{
	background-position: right 10px center;
}
.errors, .errors.reversed:before, .errors:after{
	opacity: 1;
}

.errors{
	font-size: 14px;
	color: white;
	transition: font-size 0.5s;
	position: absolute;
	background-color: rgba(237,28,36, 1);
	border-radius: 5px;
	padding: 10px;
	z-index: 999;
	top: -40px;
	right: 15px;
	display: none;
}
.errors:after {
	border-top: solid #ed1c24 10px;
	bottom: -10px;
}
.errors.reversed{
	top: auto;
	/*bottom: -20px;*/
	margin-top: 10px;
}
.errors.reversed:before, .errors:after{
	border-left: solid transparent 10px;
	border-right: solid transparent 10px;
	content: " ";
	height: 0;
	left: 50%;
	margin-left: -13px;
	position: absolute;
	width: 0;
}
.errors.reversed:after{
	display: none;
}
.errors.reversed:before{
	border-bottom: solid #ed1c24 10px;
	top: -10px;
}
div.error{
	border: 2px solid #ed1c24;
}
/* END errors style */

form .form-group div .errors{
	float: right;
}
.border-bottom{
	border-bottom: 2px solid;
}
.h4-column-glyphicons-right{
	/*margin-top: 15px;*/
	text-align: right;
	margin-top: 5px;
	margin-bottom: 5px;
}
.title-with-border{
	border-top: 2px solid;
	border-bottom: 2px solid;
}
.title-with-border h3{
	color: #02be9b;
	margin-top: 10px;
}
.title-with-border input{
	margin-top: 5px;
	margin-bottom: 5px;
}
/* END Manship Global Standard CSS */

/* START overridden bootstrap classes */
.navbar-default .navbar-nav>li>a{
	color: #fff;
	font-weight: 700;
}
@media (min-width: 768px){
	.navbar-nav>li>a{
		padding-top: 20px;
		padding-bottom: 20px;
	}
	.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{
		background-color: #2e76b8;
	}
}
.input-label{
	color: #2e76b8;
	background-color: transparent;
	border: none;
	font-size: 14px;
}
.input-label-textarea{
	vertical-align: top;
	padding-top: 9px;
}
.input-group{
	margin-top: 10px;
}
.input-form, tags-input .tags{
	border-radius: 0px !important;
	 box-shadow: none !important;
}
.input-group-addon{
	text-align: left;
}
span.glyphicon{
	border: 2px solid; 
	border-radius: 20px;
	padding:5px;
	cursor: pointer;
}
span.glyphicon:hover{
	color: #fff;
	background-color: #2e76b8;
}
span.glyphicon-remove, span.glyphicon-ban-circle, button.remove, #advanced-filter span.glyphicon-minus, #report-page span.glyphicon-minus{
	color: #ed1c24;
}
span.glyphicon-remove:hover, span.glyphicon-ban-circle:hover, #advanced-filter span.glyphicon-minus:hover, #report-page span.glyphicon-minus:hover{
	color: #fff;
	background-color: #ed1c24;
}
#login-notifications span.glyphicon, .order-attributes span.glyphicon, .login-notifications span.glyphicon{
	border: 0px;
	border-radius: 0px;
	padding: 0px;
}
#login-notifications span.glyphicon-remove:hover, .login-notifications span.glyphicon-remove:hover, button.remove:hover{
	color: #ed1c24;
	background-color: inherit;
}
.order-attributes span.glyphicon{
	/*visibility: visible;*/
	font-size: 12px;
}
span.glyphicon-ok, #advanced-filter span.glyphicon-plus, #report-page span.glyphicon-plus{
	color: #02be9b;
}
span.glyphicon-ok:hover, #advanced-filter span.glyphicon-plus:hover, #report-page span.glyphicon-plus:hover{
	color: #fff;
	background-color: #02be9b;
}
span.glyphicon-eye-open{
	color: #f7941d;
}
span.glyphicon-eye-open:hover{
	color: #fff;
	background-color: #f7941d;
}
span.glyphicon-plus{
	padding-right: 4px;
}
span.glyphicon-minus{
	padding-left: 3px;
}
i.glyphicon-file{
	display: none;
}
#bio-views .glyphicon{
	font-size: 20px;
	margin-right: 15px;
}
.modal{
	text-align: left;
	/*font-size: 1.5vw;*/
	font-size: 14px;
}
.modal-header{
	background-color: #2e76b8;
	color: #fff;
	border-bottom: 0px;
	padding: 10px;
}
.modal-body{
	border: 3px solid #2e76b8;
}
.modal-sm{
	width: 450px;
}
input.form-control{
	box-shadow: none !important;
	padding: 0px 12px;
}
input.twin, select.twin{
	width: 49%;
	display: inline;
}
.second-twin-margin{
	/*margin-left:2px;*/
}
label.twin{
	display: block;
}
.caret{
	cursor:pointer;
}
.caret.caret-reversed {
    border-top-width: 0;
    border-bottom: 4px solid #fff;
}
.caret.caret-reversed:hover{
	border-bottom: 4px solid #c0c0c0;
}
.caret.caret-left {
    border-bottom: 4px solid transparent;
    border-top: 4px solid transparent;
    border-left: 4px solid;
}
.big-caret{
	border-top: 7px dashed;
	border-right: 7px solid transparent;
	border-left: 7px solid transparent;
}
.big-caret.caret-reversed {
    border-top-width: 0;
    border-bottom: 7px dashed;
}
.big-caret.caret-reversed:hover{
	border-bottom: 7px dashed;
}
/*.caret.caret-left:hover{
	border-bottom: 4px solid ;
}*/
.affix{
	/*margin-top: -115px;*/
	margin-top: -75px;
	width: 265px;
}
.affix #bio-profile-picture{
	display:none;
}
.table > tbody > tr.active > td, .table > tbody > tr.active > th, .table > tbody > tr > td.active, .table > tbody > tr > th.active, .table > tfoot > tr.active > td, .table > tfoot > tr.active > th, .table > tfoot > tr > td.active, .table > tfoot > tr > th.active, .table > thead > tr.active > td, .table > thead > tr.active > th, .table > thead > tr > td.active, .table > thead > tr > th.active{
	background-color: transparent;
}
.profile-border .col-lg-1, .profile-border .col-lg-10, .profile-border .col-lg-11, .profile-border .col-lg-12, .profile-border .col-lg-2, .profile-border .col-lg-3, .profile-border .col-lg-4, .profile-border .col-lg-5, .profile-border .col-lg-6, .profile-border .col-lg-7, .profile-border .col-lg-8, .profile-border .col-lg-9, .profile-border .col-md-1, .profile-border .col-md-10, .profile-border .col-md-11, .profile-border .col-md-12, .profile-border .col-md-2, .profile-border .col-md-3, .profile-border .col-md-4, .profile-border .col-md-5, .profile-border .col-md-6, .profile-border .col-md-7, .profile-border .col-md-8, .profile-border .col-md-9, .profile-border .col-sm-1, .profile-border .col-sm-10, .profile-border .col-sm-11, .profile-border .col-sm-12, .profile-border .col-sm-2, .profile-border .col-sm-3, .profile-border .col-sm-4, .profile-border .col-sm-5, .profile-border .col-sm-6, .profile-border .col-sm-7, .profile-border .col-sm-8, .profile-border .col-sm-9, .profile-border .col-xs-1, .profile-border .col-xs-10, .profile-border .col-xs-11, .profile-border .col-xs-12, .profile-border .col-xs-2, .profile-border .col-xs-3, .profile-border .col-xs-4, .profile-border .col-xs-5, .profile-border .col-xs-6, .profile-border .col-xs-7, .profile-border .col-xs-8, .profile-border .col-xs-9{
	padding-left: 5px;
	padding-right: 5px;
}
.checkbox-input-custom-form-control{
	padding-left: 20px;
	margin-top: 10px;
}
/* END overridden bootstrap classes */

/* START Custom id modal to override id points */
#modal-body button{
	/*font-size: 1.3vw !important;*/
	font-size: 14px !important;
	height: auto !important;
	border-radius: 10px !important;
	color: #fff;
	background-color: #02be9b;
	border-color: #02be9b;
}
#modal-body button:focus,
#modal-body button.focus {
  color: #fff;
  background-color: #02be9b;
  border-color: #02be9b;
}
#modal-body button:hover {
  color: #fff !important;
  background-color: #82ca9c;
  border-color: #82ca9c;
}
label.input-label{
	font-weight: 400;
}
.h4, .h5, .h6, h4, h5, h6 {
	margin-top: 6px;
}
/* END Custom id modal to override id points */
/* END overrdden bootstrap classes 

/* START Negator Classes */
.negate-margin-bottom{
	margin-bottom: 0px !important;
}
.negate-margin-top{
	margin-top: 0px !important;
}
.negate-padding-left{
	padding-left: 0px;
}
.negate-padding-right{
	padding-right: 0px;
}
/*.glyphicon-border-negate{
	border: 0px;
	border-radius: 0px;
}
.glyphicon-border-negate:hover{
	background-color: #fff;
	color: #ed1c24;
}*/
/* END Negator Classes */



/* START AngularJS Animations */
@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fade-out {
  from { opacity: 1; }
  to { opacity: 0; }
}

@keyframes slide-up {
  from { height: inherit; }
  to { height: 0px; overflow: hidden; padding: 0px; border: 0px; }
}

@keyframes slide-down {
  from { height: 0px; overflow: hidden; padding: 0px; border: 0px; }
  to { height: inherit; }
}

@keyframes hide-font{
	to { font-size: 0; }
}

@keyframes loader{
  50% { height: 6px; margin-top: 74px; opacity: .1; }
}

/*.ng-enter {
	-webkit-animation: 0.3s fade-in;
	-moz-animation: 0.3s fade-in;
	-o-animation: 0.3s fade-in;
	animation: 0.3s fade-in;
	z-index: 100;
}

.ng-hide-add {
	-webkit-animation: 0.5s slide-up;
	-moz-animation: 0.5s slide-up;
	-o-animation: 0.5s slide-up;
	animation: 0.5s slide-up;
}

.ng-hide-remove {
	-webkit-animation: 0.5s slide-down;
	-moz-animation: 0.5s slide-down;
	-o-animation: 0.5s slide-down;
	animation: 0.5s slide-down;
}*/

.ng-leave{
	/*-webkit-animation: 0.1s fade-out;
	-moz-animation: 0.1s fade-out;
	-o-animation: 0.1s fade-out;
	animation: 0.1s fade-out;
	z-index: 100;*/
	display: none;
}

/* No transition on showing required field again */
span.ng-hide{
	-webkit-animation: 0.5s hide-font;
	-moz-animation: 0.5s hide-font;
	-o-animation: 0.5s hide-font;
	animation: 0.5s hide-font;
}

/* With transition */
/*span.ng-hide{
	font-size: 0;
	transition: font-size 0.5s;
}
*/

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak],
.ng-cloak, .x-ng-cloak, .ng-hide {
    display: none !important;
}

/*[ng-view]{
	display:none;
}*/

/*.ng-view{
	display: none;
}*/

/* END AngularJS Animations */

/* START Route Change */
#loading-page {
	/*background-color: rgba(0,0,0,0.95);*/
	background-color: #fff;
	position: fixed; 
	height: 100%; 
	width: 100%; 
	z-index:100; 
	text-align: center;
	margin-top: -45px;
}

#loading-page img{
	margin-top: 15%;
}
/* END Route Change */

/* START Extra single element classes */
.cursor-pointer{
	cursor: pointer;
}
/* END Extra single element classes */

/* START overridden jquery-ui css */
.ui-autocomplete{
	max-height: 100px;
	overflow-y: auto;
}
/* END overridden jquery-ui css */

/* START Custom glyphicons */
@font-face {
    font-family: 'msmi-people';
    src:    url('/static/fonts/msmi-people.eot?sxy4pj');
    src:    url('/static/fonts/msmi-people.eot?sxy4pj#iefix') format('embedded-opentype'),
        url('/static/fonts/msmi-people.ttf?sxy4pj') format('truetype'),
        url('/static/fonts/msmi-people.woff?sxy4pj') format('woff'),
        url('/static/fonts/msmi-people.svg?sxy4pj#msmi-people') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="msmi"], [class*=" msmi"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'msmi-people' !important;
    /*font-size: 32px;*/
    font-size: 27px;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: middle;	

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}



.msmi-calendar:before {
    content: "\e906";
}
.msmi-certificate:before {
    content: "\e907";
}
.msmi-evaluation:before {
    content: "\e908";
}
.msmi-license:before {
    content: "\e909";
}
.msmi-plus:before {
    content: "\e90a";
}
.msmi-relation:before {
    content: "\e90b";
}
.msmi-service:before {
    content: "\e90c";
}
.msmi-user:before {
    content: "\e900";
}
.msmi-vtype:before {
    content: "\e901";
}
.msmi-admin:before {
    content: "\e902";
}
.msmi-bio:before {
    content: "\e903";
}
.msmi-client:before {
    content: "\e904";
}
.msmi-ranks:before {
    content: "\e905";
}

/* END Custom glyphicons */

/* START Angular Directives */

/* NOTEL: commented because glyphicon-eye-open is currently declared */
/*view-glyphicon-button span{
	color: #f7941d;
}
view-glyphicon-button span:hover{
	color: #fff !important;
	background-color: #f7941d !important;
}*/
input[datepicker]{ 
	background-image: url(/static/img/date.png);
	background-repeat: no-repeat;
	background-position: right;
	z-index: 99999 !important;
}
input[datepicker][disabled]{
	background-image: url();
}

/* END Angular Directives */

/* START JqueryUI datepicker */
.ui-widget-header {
  background: #2e76b8!important;
  border-color: #2e76b8!important;
}
.ui-state-default {
  color: #02be9b!important;
  background: #fff!important;
}
.ui-state-hover,
.ui-state-highlight,
.ui-state-active {
  border: 1px solid #2e76b8!important;
}
.ui-datepicker {
  color: #04508e!important;
}
.ui-widget-content {
  border-color: #2e76b8!important;
  background: #fff!important;
}
.ui-datepicker-current{
	display: none;
}
#ui-datepicker-div button{
	font-size: inherit !important;
	height: inherit !important;
}
.ui-datepicker-header a{
	display: none;
}
#ui-datepicker-div{
	z-index: 99999 !important;
}

/* END JqueryUI datepicker */

.hover-green{
	text-decoration: none !important;
}
.hover-green:hover{
	color: #02be9b !important;
}

/* START textextjs css */
/*.text-wrap, .text-wrap textarea{
  width: 100% !important;
  height: 35px !important;
}*/
/* END textextjs css *

/* START Angular NgInputTags css */
tags-input .tags .tag-item, .tags input{
	margin: 1px !important;
	text-transform: none;
}
.tags input{
	border: 0px !important;
}
tags-input .host{
	margin-top: 0px;
	margin-bottom: 0px;
	border: 2px solid;
}
tags-input .tags, .selectize-input input{
	border: 0px !important;
}
li.tag-item span{
	color: #555;
	font-weight: 700;
}
tags-input .tags{
	background: inherit;
}
/* END Angular NgInputTags css */

/* START font awesome css */
.fa{
	font-size: 20px;
	border: 2px solid;
	padding: 5px;
	cursor: pointer !important;
	margin-bottom: 0px;
}
/* END font awesome css */

/* START UI Select css */
	.ui-select-container.error{
		border: 0px;
	}
	.selectize-input{
		border: 2px solid #2e76b8 !important;
		padding-top: 6px;
		padding-bottom: 6px;
		border-radius: 0px;
	}
	span.ui-select-clear{
		position: absolute;
		right: 40px;
		top: 4px;
		border: 0px !important;
	}
	.ui-select-container.error .selectize-input{
		background-position: right 20px center;
	}
/* END UI Select css 