{% extends "base.html" %}
{% load static %}

{% block title %}
	MANSHIP People
{% endblock %}

{% block content %}
<div id="crew-menu-container" class="container">
	<div id="crew-menu-header">
		<strong>MANSHIP PEOPLE</strong>
	</div>
	<div id="crew-menu-body" class="form-horizontal">
		<div class="form-group">
			<div class="col-lg-4">
				<a href="{% url 'bio_index' %}" target="_blank"><button class="btn form-control" id="bio"><span class="msmi-bio"></span>Biodata</button></a>
			</div>
			<div class="col-lg-4">
				<a ><button class="btn form-control btn-msmi-disabled"><!-- Bio Entries (Non-Filipino) --></button></a>
			</div>
			<div class="col-lg-4">
				<a ><button class="btn form-control btn-msmi-disabled"><!-- Bio Entries (Non-Hellespont) --></button></a>
			</div>
		</div>
		<div class="form-group">
			<div class="col-lg-4">
				<a href="{% url 'crew_onboard_list_index' %}" target="_blank"><button class="btn form-control btn-msmi-disabled"><!-- Licenses Seaman Books --></button></a>
			</div>
			<div class="col-lg-4">
				<a ><button class="btn form-control btn-msmi-disabled"><!-- Certificates and Documents --></button></a>
			</div>
			<div class="col-lg-4">
				<a ><button class="btn form-control btn-msmi-disabled"><!-- Prior Services --></button></a>
			</div>
		</div>
		<div class="form-group">
			<div class="col-lg-4">
				<a ><button class="btn form-control btn-msmi-disabled"><!-- Evaluation Entries --></button></a>
			</div>
			<div class="col-lg-4">
				<a ><button class="btn form-control btn-msmi-disabled"><!-- Delete Contract --></button></a>
			</div>
			<div class="col-lg-4">
				<a ><button class="btn form-control btn-msmi-disabled"><!-- Seaman's Contract --></button></a>
			</div>
		</div>
		<div class="form-group">
			<div class="col-lg-4">
				<a ><button class="btn form-control btn-msmi-disabled"><!-- Prepare All Allotment --></button></a>
			</div>
			<div class="col-lg-4">
				<a ><button class="btn form-control btn-msmi-disabled"><!-- Beneficiary Details --></button></a>
			</div>
			<div class="col-lg-4">
				<a ><button class="btn form-control btn-msmi-disabled"><!-- Allotee Info --></button></a>
			</div>
		</div>
		<div class="form-group">
			<div class="col-lg-4">
				<a ><button class="btn form-control btn-msmi-disabled"><!-- Add/Del + Confirm Allot --></button></a>
			</div>
			<div class="col-lg-4">
				<a ><button class="btn form-control btn-msmi-disabled"><!-- Principal Fund Receipt --></button></a>
			</div>
			<div class="col-lg-4">
				<a ><button class="btn form-control btn-msmi-disabled"><!-- Payment Records --></button></a>
			</div>
		</div>
		<div class="form-group">
			<div class="col-lg-4">
				<a ><button class="btn form-control btn-msmi-disabled"><!-- SSS and Deductions --></button></a>
			</div>
			<div class="col-lg-4">
				<a ><button class="btn form-control btn-msmi-disabled"><!-- Wage Scale --></button></a>
			</div>
			<div class="col-lg-4">
				<a ><button class="btn form-control btn-msmi-disabled"><!-- Vessel Type --></button></a>
			</div>
		</div>
		<div class="form-group">
			<div class="col-lg-4">
				<a ><button class="btn form-control btn-msmi-disabled"><!-- Dependents --></button></a>
			</div>
			<div class="col-lg-4">
				<a ><button class="btn form-control btn-msmi-disabled"><!-- Add/Del/Confirm Allot for D --></button></a>
			</div>
			<div class="col-lg-4">
				<a ><button class="btn form-control btn-msmi-disabled"><!-- Add Task --></button></a>
			</div>
		</div>
	</div>
	<div id="crew-menu-footer">
		<div class="form-group">
			<div class="col-lg-4">
				<a href="{% url 'crew_admin_index' %}" target="_blank"><button class="btn form-control" id="admin"><span class="msmi-admin"></span><span>ADMIN</span></button></a>
			</div>
			<div class="col-lg-4">
				<!-- <a href="{% url 'crew_menu_report' %}" target="_blank"><button class="btn form-control">REPORTS</button></a> -->
				<a ><button class="btn form-control btn-msmi-disabled"><!-- REPORTS --></button></a>
			</div>
			<div class="col-lg-4">
				<a ><button class="btn form-control btn-msmi-disabled"><!-- KPI --></button></a>
			</div>
			<!-- <div class="col-lg-3">
				<a ><button class="btn form-control btn-msmi-disabled"></button></a>
			</div> -->
		</div>
	</div>
</div>

{% endblock %}