{% load static %}

<aside>
	<div class="col-lg-2">
		<div id="profile-sidebar">
			<!-- Take note that profile-pictures should be 200px -->
			<img src="{% static 'img/default-profile-picture.pix' %}" class="img-responsive profile-picture" style="width: 100%">
			<div class="profile-picture-caption">CODE</div>
			<div class="input-group">
				<label class="input-group-addon input-label negate-padding-left">Rank:</label>
				<select class="form-control input-form">
					<option>Captain</option>
				</select>
			</div>
			<div class="input-group">
				<label class="input-group-addon input-label negate-padding-left">Status:</label>
				<select class="form-control input-form">
					<option>Onboard</option>
				</select>
			</div>
		</div>
	</div>
</aside>