<div id="crew-menu-header"> <!-- START id="crew-menu-header" -->
	<strong>ADD VESSEL TYPE</strong>
	<h3 class="color-msmi-green">Adding information for the vessel types</h3>
</div> <!-- END id="crew-menu-header" -->
<form ng-controller="formController" name="vesselTypeManagementForm" onsubmit="formSubmit()" novalidate> <!-- START ng-controller="formController" -->
	<div ng-include="'/static/vessel_type_management/html/form-and-notifications.html?query='+forceReload"></div>
  <div id="crew-menu-footer"> <!-- START id="crew-menu-footer" -->
    <div class="form-group screens-footer" > <!-- START class="form-group screens-footer" -->
      <div class="col-lg-2 col-lg-offset-6">
        <button class="btn form-control" ng-click="clearInput()" id="clear" type="button">CLEAR</button>
      </div>
      <div class="col-lg-2">
        <button class="btn form-control" ng-click="saveInput(vesselTypeManagementForm.$invalid, input, apiAdd)" id="save">SAVE</button>
      </div>
      <admin-form-cancel-button></admin-form-cancel-button>
    </div> <!-- END class="form-group screens-footer" -->
  </div>  <!-- END id="crew-menu-footer" -->
</form> <!-- END ng-controller="formController" -->