<div id="crew-menu-body" class="form-horizontal admin-screens-body"> <!-- START id="crew-menu-body" -->
	<div class="form-group negate-margin-bottom "> <!-- START class="form-group negate-margin-bottom" -->
		<div class="col-lg-12"> <!-- START class="col-lg-12" -->
			<div class="form-group"> <!-- START class="form-group" -->
				<div class="col-lg-6">
					<div class="input-group">
						<label class="input-group-addon input-label required" ng-class="{ 'required': validations.vessel_type_code.required }">Code:</label>
						<input class="form-control input-form code" ng-class="{ 'error': vesselTypeManagementForm.vessel_type_code.$invalid && notifications }" ng-model="input.vessel_type_code" ng-model-options="{allowInvalid: true}" name="vessel_type_code" type="text" ng-keyup="uniqueCheck(vesselTypeManagementForm, $event, code_readonly)" ng-readonly="[[ code_readonly ]]" minlength="[[ validations.vessel_type_code.min_length ]]" maxlength="[[ validations.vessel_type_code.max_length ]]" ng-required="[[ validations.vessel_type_code.required ]]" ng-disabled="[[ viewOnly ]]">
					</div>
					<span class="errors" id="error-vessel-type-code">
						<!-- <span ng-hide="!vesselTypeManagementForm.vessel_type_code.$error.required"> * [[ requiredMessage ]] <br /></span> -->
						<span ng-if="vesselTypeManagementForm.vessel_type_code.$error.required && notifications"> * [[ requiredMessage ]] <br /></span>
						<span ng-if="vesselTypeManagementForm.vessel_type_code.$error.unique">* This code [[ errorDuplicate ]] <br /></span>
						<span ng-if="vesselTypeManagementForm.vessel_type_code.$error.minlength || vesselTypeManagementForm.vessel_type_code.$error.maxlength">* Code length must be [[ validations.vessel_type_code.min_length ]] to [[ validations.vessel_type_code.max_length ]] <br /></span>
					</span>	
				</div>
				<div class="col-lg-6">
					<div class="input-group">
						<label class="input-group-addon input-label required" ng-class="{ 'required': validations.vessel_type_full.required }">Name:</label>
						<input class="form-control input-form" ng-class="{ 'error': vesselTypeManagementForm.vessel_type_full.$invalid && notifications }" ng-model="input.vessel_type_full" ng-model-options="{allowInvalid: true}" name="vessel_type_full" type="text" maxlength="[[ validations.vessel_type_full.max_length ]]" minlength="[[ validations.vessel_type_code.min_length ]]" ng-required="[[ validations.vessel_type_full.required ]]" ng-disabled="[[ viewOnly ]]">
					</div>
					<span class="errors" id="error-vessel-type-name">
						<span ng-if="vesselTypeManagementForm.vessel_type_full.$error.required">* [[ requiredMessage ]] <br /></span>
						<span ng-if="vesselTypeManagementForm.vessel_type_full.$error.maxlength || vesselTypeManagementForm.vessel_type_full.$error.minlength">* Code length must be [[ validations.vessel_type_full.min_length ]] to [[ validations.vessel_type_full.max_length ]] <br /></span>
					</span>
				</div>
			</div> <!-- END class="form-group" -->
			<div class="form-group"> <!-- START class="form-group" -->
				<div class="col-lg-6">
					<div class="input-group">
						<label class="input-group-addon input-label" ng-class="{ 'required': validations.vessel_type_parent.required }">Main Type:</label>
						<!-- <input class="form-control input-form" ng-class="{ 'error': vesselTypeManagementForm.vessel_type_parent.$invalid && notifications }" ng-model="input.vessel_type_parent" name="vessel_type_parent" type="text" maxlength="4" required> -->
						<select ng-if="!inUpdate" class="form-control input-form" ng-class="{ 'error': vesselTypeManagementForm.vessel_type_parent.$invalid && notifications }" ng-model="input.vessel_type_parent" ng-model-options="{allowInvalid: true}" name="vessel_type_parent" ng-options="x.value as x.label for x in vesselTypeParentLists" ng-init="input.vessel_type_parent=vesselTypeParentLists[0]['value']" ng-disabled="[[ viewOnly ]]" ng-required="[[ validations.vessel_type_parent.required ]]">
						</select>
						<select ng-if="inUpdate" class="form-control input-form" ng-class="{ 'error': vesselTypeManagementForm.vessel_type_parent.$invalid && notifications }" ng-model="input.vessel_type_parent" ng-model-options="{allowInvalid: true}" name="vessel_type_parent" ng-options="x.value as x.label for x in vesselTypeParentLists" ng-disabled="[[ viewOnly ]]" ng-required="[[ validations.vessel_type_parent.required ]]">
						</select>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="input-group">
						<label class="input-group-addon input-label input-label-textarea" ng-class="{ 'required': validations.vessel_type_description.required }">Description:</label>
						<textarea ng-class="{ 'error': vesselTypeManagementForm.vessel_type_description.$invalid && notifications }" ng-model="input.vessel_type_description" class="form-control input-form" ng-minlength="[[ validations.vessel_type_description.min_length ]]" ng-maxlength="[[ validations.vessel_type_description.max_length ]]" name="vessel_type_description" ng-disabled="[[ viewOnly ]]" ng-required="[[ validations.vessel_type_description.required ]]"></textarea>
					</div>
					<span class="errors" id="error-vessel-type-description">
						<span ng-if="vesselTypeManagementForm.vessel_type_description.$error.maxlength || vesselTypeManagementForm.vessel_type_description.$error.minlength">* Code length must be [[ validations.vessel_type_description.min_length ]] to [[ validations.vessel_type_description.max_length ]] <br /></span>
					</span>
				</div>
			</div> <!-- END class="form-group" -->
		</div> <!-- END class="col-lg-12" -->
	</div> <!-- END class="form-group negate-margin-bottom" -->
</div> <!-- END id="crew-menu-body" -->