<div class="container"> <!-- START class="container" -->
	<div id="crew-menu-header"> <!-- START id="crew-menu-header" -->
		<strong>VESSEL TYPES</strong>
		<h3>See vessel type information</h3>
		<!-- <h3 class="color-msmi-green">Create and update vessel types.</h3> -->
	</div> <!-- END id="crew-menu-header" -->
	<div ng-controller="itemListController">
		<script type="text/ng-template" id="tree-dnd-template-render.html">
		  	<table ng-class="$tree_class">
				<thead>
				  <tr>
				      <th ng-class="expandingProperty.titleClass" ng-style="expandingProperty.titleStyle"

				          compile="expandingProperty.titleTemplate">
				          [[expandingProperty.displayName || expandingProperty.field || expandingProperty]]
				      </th>
				      <th ng-repeat="col in colDefinitions" ng-class="col.titleClass" ng-style="col.titleStyle"
				          compile="col.titleTemplate">
				          [[col.displayName || col.field]]
				      </th>
				  </tr>
				</thead>
				<tbody tree-dnd-nodes>
					<!-- // ng-show="enabledFilter ? ( node.vessel_type_code.match(filter._$) || node.vessel_type_name.match(filter._$)) && node.__filtered_visible__ === true && node.__visible__ : node.__visible__" -->
				  <tr tree-dnd-node="node" ng-repeat="node in tree_nodes track by node.__hashKey__ "
				      ng-if="enabledFilter ? node.__filtered_visible__ === true && node.__visible__ : node.__visible__"
				      ng-class="enabledFilter ? (node.__filtered__ === true? 'success': '') : (node.__selected__ ? ' active':'')"
				      ng-click="onSelect(node)"
				      >
				      <td tree-dnd-node-handle
				          ng-style="expandingProperty.cellStyle ? expandingProperty.cellStyle : {'padding-left': $callbacks.calsIndent(node.__level__)}"
				          ng-class="expandingProperty.cellClass" compile="expandingProperty.cellTemplate">
				          <a data-nodrag> <i ng-class="node.__icon_class__"
				                             ng-click="toggleExpand(node)"
				                             class="tree-icon"></i>
				          </a> 	<span ng-click="toggleExpand(node)">[[ node[expandingProperty.field] || node[expandingProperty] ]]</span>
				      </td>
				      <td ng-repeat="col in colDefinitions" ng-class="col.cellClass" ng-style="col.cellStyle"
				          compile="col.cellTemplate">
				          [[ node[col.field] ]]
				      </td>
				  </tr>
				</tbody>
			</table>
		</script>
		<div id="crew-menu-body" class="form-horizontal admin-screens-body"> <!-- START id="crew-menu-body" -->
			<div class="form-group negate-margin-bottom"> <!-- START class="form-group negate-margin-bottom" -->
				<div class="col-lg-12"> <!-- START class="col-lg-10 profile-border" -->
					<div class="form-group" id="search-filter-container"> <!-- START class="form-group search-filter-container" -->
						<div class="col-lg-3">
							<div class="input-group">
								<label class="input-group-addon input-label negate-padding-left">Search:</label>
								<input class="form-control input-form" id="search-tree" type="text" placeholder="Search here..." ng-model="_filter._$">
							</div>
						</div>
					</div> <!-- END class="form-group" -->
					<tree-dnd
						tree-class="table table-condensed"
						tree-data="tree_data"
						tree-control="my_tree"
						filter="_filter",
						primary-key="id"
						column-defs="col_defs"
						expand-on="expanding_property"
						template-url="tree-dnd-template-render.html"
					></tree-dnd>

				</div> <!-- START class="col-lg-12 profile-border" -->
				<!-- <aside> --> <!-- START aside -->
					<!-- <div class="col-lg-2"> --> <!-- START class="col-lg-2" -->
						<!-- <div id="profile-sidebar">  --><!-- START id="profile-sidebar" -->
							<!-- <a href=""><button class="btn form-control" ng-hide="!isChecked()" ng-click="deleteMultiple()">DELETE</button></a>
							<a href="#/add"><button class="btn form-control">ADD</button></a>
							<a href=""><button class="btn form-control" ng-click="close()">EXIT</button></a> -->
						<!-- </div> --> <!-- END id="profile-sidebar" -->
					<!-- </div> --> <!-- END class="col-lg-2" -->
				<!-- </aside> --> <!-- END aside -->
			</div> <!-- END class="form-group negate-margin-bottom" -->
		</div> <!-- END id="crew-menu-body" -->
<!-- 		template -- <div ng-include="templateUrl"></div>
		<span ng-click="changeTemplate()">Change Template</span> -->

		<confirmation-modal title="Confirm Delete" visible="showModal"> <!-- START delete-modal -->
			<div id="notifications">
				<div ng-if="!notifications">
					<div class="form-group">
						[[ deleteStatement ]]
					</div>
					<div class="text-right">
						<!-- [[ obj ]] -->
						<button class="btn btn-default" data-dismiss="modal">Cancel</button>
						<button class="btn btn-default" ng-click="treeDelete(id, 'vessel_type_code', apiDelete, obj)" data-dismiss="modal" ng-if="individualDelete" id="delete">Delete</button>
						<button class="btn btn-default" ng-click="deleteMultiple('vessel_type_code', apiDelete)" data-dismiss="modal" ng-if="multipleDelete">Delete All</button>
					</div>
				</div>
				<div ng-if="notifications">
					<div ng-repeat="x in deleteArray">
						<div> <span class="item-notification">[[ x.name ]]</span> - has been deleted <button class="btn btn-default btn-msmi-blue undo-button" ng-click="treeRestore($event, x.id,'vessel_type_sys_status', null, apiUpdate, x, obj)">UNDO</button></div>
					</div>
				</div>
			</div>
		</confirmation-modal> <!-- END delete-modal -->
		<div id="crew-menu-footer"> <!-- START id="crew-menu-footer" -->
			<div class="form-group screens-footer"> <!-- START class="form-group screens-footer" -->
				<div class="col-lg-2 col-lg-offset-6">
					<a href=""><button class="btn form-control" ng-hide="!isChecked()" ng-click="toggleModalMultiple()">DELETE</button></a>
				</div>
				<div class="col-lg-2">
					<a href="#/add"><button class="btn form-control" id="add-page">ADD</button></a>
				</div>
				<div class="col-lg-2">
					<a href=""><button class="btn form-control" ng-click="close()" id="exit">EXIT</button></a>
				</div>
			</div> <!-- END class="form-group screens-footer" -->
		</div> <!-- END id="crew-menu-foote"r -->
	</div>
</div> <!-- END class="container" -->