<!-- <div ng-class="{ 'default-bio-content-height': viewOnly }"> -->

<div class="form-group">
	<div class="col-lg-12">
		<h4><strong>PHILHEALTH DEPENDENTS</strong></h4>
	</div>
</div>
<fieldset ng-repeat="relationType in relationTypes" ng-if="relationType.related_people_is_dependent == 'Y'">
	<div ng-include="'/static/bio/html/views/reusable-form-template.html?query='+forceReload"></div>
</fieldset>
<!-- </div> -->