<div ng-class="{ 'default-bio-content-height': viewOnly }">
	<div class="form-group">
		<div class="col-lg-6">
			<h4><strong>EDUCATIONAL BACKGROUND</strong></h4>
		</div>
		<div ng-if="!viewOnly" class="col-lg-6 text-right">
			<h4><span class="caret big-caret" data-toggle="collapse" data-target="#educational-background" ng-click="dynamicCaret($event)" aria-expanded="true"></span></h4>
		</div>
	</div>
	<div id="educational-background" class="collapse in">
		<fieldset ng-repeat="bioEducation in bioEducations" data-ng-form="nestedbioEducationsForm" ng-if="!bioEducation.deleted">
			<input type="text" ng-model="bioEducation._id" class="hide" ng-if="title == 'UPDATE'"> <!-- Id used for the Updates -->
			<input type="text" ng-model="bioEducation.bio_education_type" class="hide" ng-init="bioEducation.bio_education_type = 'others'" ng-if="title == 'UPDATE'">
			<div class="form-group">
				<div class="col-lg-9">
					<div>
						<label class="input-label">
							<span>Degree:</span>
						</label>
						<input ng-if="viewOnly" ng-disabled="viewOnly" class="form-control input-form" type="text" ng-model="bioEducation.bio_education_degree.label">
						<ui-select ng-if="!viewOnly" ng-model="bioEducation.bio_education_degree"theme="selectize" show-errors>
						    <ui-select-match>
						    	[[ $select.selected.degree_name ]] 
						    	<span class="glyphicon glyphicon-remove ui-select-clear" ng-click="uiSelectClear('bio_education_degree', bioEducation)"></span>
						    </ui-select-match>
						    <ui-select-choices repeat="degree.id as degree in degrees | filter: $select.search">
						      	<span ng-if="!degree.degree_code" ng-bind-html="degree.degree_name | highlight: $select.search"></span>
						      	<span ng-if="degree.degree_code" ng-bind-html="degree.degree_name+' - '+degree.degree_code | highlight: $select.search"></span>
						    </ui-select-choices>
						</ui-select>
					</div>
					<span class="errors" id="error-bio-education-degree">
						<span ng-if="!bioEducation.bio_education_degree && notifications"> * [[ requiredMessage ]] <br /></span>
					</span>
				</div>
				<div class="col-lg-3">
					<div>
						<label class="input-label"  ng-class="{ 'required': bioEducation.bio_education_degree && !viewOnly }">Year Graduated:</label>
						<input ng-disabled="viewOnly" class="form-control input-form" ng-class="{ 'error': nestedbioEducationsForm.bio_education_date_completed.$invalid && notifications }" type="text" ng-model="bioEducation.bio_education_date_completed" name="bio_education_date_completed" id="bio_education_date_completed_[[$index]]" ng-required="bioEducation.bio_education_degree" numbers-only maxlength="4" nullify-on-update>
					</div>
					<span class="errors" id="error-bio-education-date-completed">
						<span ng-if="nestedbioEducationsForm.bio_education_date_completed.$error.required && notifications"> * [[ requiredMessage ]] <br /></span>
					</span>
				</div>
			</div>
			<div class="form-group">
				<div class="col-lg-9">
					<div>
						<label class="input-label"  ng-class="{ 'required': bioEducation.bio_education_degree && !viewOnly }">School:</label>
						<input ng-if="viewOnly" ng-disabled="viewOnly" class="form-control input-form" type="text" ng-model="bioEducation.bio_education_school.label">
						<ui-select ng-if="!viewOnly" ng-class="{ 'error': bioEducation.bio_education_degree && !bioEducation.bio_education_school && notifications }" ng-model="bioEducation.bio_education_school" theme="selectize" show-errors>
						    <ui-select-match>
						    	[[ $select.selected.school_name ]]
						    	<span class="glyphicon glyphicon-remove ui-select-clear" ng-click="uiSelectClear('bio_education_school', bioEducation)" data-toggle="tooltip" title="Clear"></span>
						    </ui-select-match>
						    <ui-select-choices repeat="school.id as school in schools | filter: $select.search">
						      	<span ng-if="school.school_code" ng-bind-html="school.school_name+' - '+school.school_code | highlight: $select.search"></span>
						      	<span ng-if="!school.school_code" ng-bind-html="school.school_name | highlight: $select.search"></span>
						    </ui-select-choices>
						</ui-select>
					</div>
					<span class="errors reversed" id="error-bio-education-school">
						<span ng-if="bioEducation.bio_education_degree && !bioEducation.bio_education_school && notifications"> * [[ requiredMessage ]] <br /></span>
					</span>
				</div>	
				<div class="col-lg-3" ng-if="$index >= 1 && !viewOnly">
					<label class="input-label">&nbsp; </label>
					<button class="btn form-control remove" ng-click="removeNestedModels(bioEducations, $index, originalBioEducations)"><span class="glyphicon [[ glyphiconRemoveObject ]]"></span>Delete Degree</button>
				</div>
				<div class="col-lg-3" ng-if="$index == 0 && !viewOnly">
					<label class="input-label">&nbsp; </label>
					<button class="btn form-control add" ng-click="addNestedModels(bioEducations)"><span class="glyphicon [[ glyphiconAddObject ]]"></span>Add Degree</button>
				</div>
			</div>
		</fieldset>
	</div>
	<!-- qweasdc zxas -- [[ input ]] -->
<!-- </div> -->