<div ng-class="{ 'default-bio-content-height': viewOnly }">
	<div class="form-group">
		<div class="col-lg-12">
			<h4><strong>PARENTS</strong></h4>
		</div>
	</div>
	<fieldset ng-repeat="relationType in relationTypes" ng-if="relationType.related_people_relationship_type.id == mother || relationType.related_people_relationship_type.id == father">
		<div>
			<div class="form-group">
				<div class="col-lg-3">
					<label class="input-label">Relation Type:</label>
					<input ng-disabled="viewOnly" class="form-control input-form" type="text" ng-model="relationType.related_people_relationship_type.label">
				</div>
				<div class="col-lg-3" ng-if="relationType.related_people_is_deceased == 'Y'">
					<label class="input-label"><br /></label>
					<input ng-disabled="viewOnly" class="form-control input-form" type="text" value="DECEASED">
				</div>
				<div class="col-lg-6">
					<label class="input-label">Relation Group:</label>
					<input ng-disabled="viewOnly" class="form-control input-form" type="text" ng-model="relationType.relation_group">
				</div>
			</div>
			<div class="form-group">
				<div class="col-lg-3 text-center" ng-if="relationType.related_people_relationship_type.id == mother">
					<div>
						<input ng-disabled="viewOnly" class="form-control input-form" type="text" style="visibility:hidden">
						<label class="input-label">Maiden Name</label>
					</div>
				</div>
				<div class="col-lg-3">
					<div>
						<label class="input-label">Last Name:</label>
						<input ng-disabled="viewOnly" class="form-control input-form" type="text" ng-model="relationType.related_people_last_name">
					</div>
				</div>
				<div class="col-lg-3">
					<div>
						<label class="input-label">First Name:</label>
						<input ng-disabled="viewOnly" class="form-control input-form" type="text" ng-model="relationType.related_people_first_name">
					</div>
				</div>
				<div class="col-lg-3">
					<div>
						<label class="input-label">Middle Name:</label>
						<input ng-disabled="viewOnly" class="form-control input-form" type="text" ng-model="relationType.related_people_middle_name">
					</div>
				</div>
				<div class="col-lg-3" ng-if="relationType.related_people_relationship_type.id == father">
					<div>
						<label class="input-label">Suffix:</label>
						<input ng-disabled="viewOnly" class="form-control input-form" type="text" ng-model="relationType.related_people_name_suffix.label">
					</div>
				</div>
			</div>
			<div class="form-group" ng-if="relationType.related_people_relationship_type.id == mother">
				<div class="col-lg-3 text-center">
					<div>
						<input ng-disabled="viewOnly" class="form-control input-form" type="text" style="visibility:hidden">
						<label for="married-name-$index">Married Name</label>
					</div>
				</div>
				<div class="col-lg-3">
					<div>
						<label class="input-label">Last Name:</label>
						<input class="form-control input-form"  ng-model="relationType.related_people_married_last_name" type="text" ng-disabled="!relationTypePreDefined.marriedName || viewOnly">
					</div>
				</div>
				<div class="col-lg-3">
					<div>
						<label class="input-label">First Name:</label>
						<input class="form-control input-form"  ng-model="relationType.related_people_first_name" type="text" ng-disabled="!relationTypePreDefined.marriedName || viewOnly">
					</div>
				</div>
				<div class="col-lg-3">
					<div>
						<label class="input-label">Middle Name:</label>
						<input class="form-control input-form"  ng-model="relationType.related_people_married_middle_name" type="text" ng-disabled="!relationTypePreDefined.marriedName || viewOnly">
					</div>
				</div>
			</div>
			<div ng-include="'/static/bio/html/views/reusable-last-rows-template.html?query='+forceReload"></div>
		</div>
	</fieldset>
</div>