<div class="form-group">
	<div class="col-lg-6">
		<h4><strong>PERSONAL INFORMATION</strong></h4>
	</div>
	<div ng-if="!viewOnly" class="col-lg-6 text-right">
		<h4><span class="caret big-caret" data-toggle="collapse" data-target="#personal-information" ng-click="dynamicCaret($event)" aria-expanded="true"></span></h4>
	</div>
</div>
<div id="personal-information" class="collapse in">
	<div class="form-group">
		<div class="col-lg-3">
			<div>
				<label class="input-label " ng-class="{ 'required': validations.last_name.required }">Lastname:</label>
				<input ng-disabled="viewOnly" class="form-control input-form" type="text" ng-class="{ 'error': bioManagementForm.last_name.$invalid && notifications }" name="last_name" ng-model="input.last_name" id="last_name" name="last_name" ng-required="[[ validations.last_name.required ]]" maxlength="[[ validations.last_name.max_length ]]" negate-special-characters="name">
			</div>
			<span class="errors" id="error-bio-last-name">
				<span ng-if="bioManagementForm.last_name.$error.required && notifications"> * [[ requiredMessage ]] <br /></span>
				<span ng-if="bioManagementForm.last_name.$error.maxlength">* Maximum of [[ validations.last_name.max_length ]] characters <br /></span>
			</span>
		</div>
		<div class="col-lg-3">
			<div>
				<label class="input-label " ng-class="{ 'required': validations.first_name.required }">Firstname:</label>
				<input ng-disabled="viewOnly" class="form-control input-form" ng-class="{ 'error': bioManagementForm.first_name.$invalid && notifications }" type="text" ng-model="input.first_name" id="first_name" name="first_name" ng-required="[[ validations.first_name.required ]]" maxlength="[[ validations.first_name.max_length ]]" negate-special-characters="name">
			</div>
			<span class="errors" id="error-bio-first-name">
				<span ng-if="bioManagementForm.first_name.$error.required && notifications"> * [[ requiredMessage ]] <br /></span>
				<span ng-if="bioManagementForm.first_name.$error.maxlength">* Maximum of [[ validations.first_name.max_length ]] characters <br /></span>
			</span>
		</div>
		<div class="col-lg-2">
			<div>
				<label class="input-label" ng-class="{ 'required': validations.middle_name.required }">Middlename:</label>
				<input ng-disabled="viewOnly" class="form-control input-form" ng-class="{ 'error': bioManagementForm.middle_name.$invalid && notifications }" type="text" ng-model="input.middle_name" id="middle_name" name="middle_name" ng-required="[[ validations.middle_name.required ]]" maxlength="[[ validations.middle_name.max_length ]]" negate-special-characters="name">
			</div>
			<span class="errors" id="error-bio-middle-name">
				<span ng-if="bioManagementForm.middle_name.$error.maxlength">* Maximum of [[ validations.middle_name.max_length ]] characters <br /></span>
			</span>
		</div>
		<div class="col-lg-1">
			<div>
				<label class="input-label" ng-class="{ 'required': validations.name_suffix.required }">Suffix:</label>
				<input ng-if="viewOnly" ng-disabled="viewOnly" class="form-control input-form" type="text" ng-model="input.name_suffix.label">
				<select ng-if="!viewOnly" name="name_suffix" ng-disabled="viewOnly" class="form-control input-form" ng-class="{ 'error': bioManagementForm.name_suffix.$invalid && notifications }" ng-model="input.name_suffix" ng-options="x.value as x.label for x in nameSuffixOptions" ng-required="[[ validations.name_suffix.required ]]">
					<option value=""></option>
				</select>
			</div>
		</div>
		<div class="col-lg-2">
			<div>
				<label class="input-label " ng-class="{ 'required': validations.nickname.max_length }">Nickname:</label>
				<input ng-disabled="viewOnly" class="form-control input-form" ng-class="{ 'error': bioManagementForm.nickname.$invalid && notifications }" type="text" ng-model="input.nickname" id="nickname" name="nickname" ng-required="[[ validations.nickname.required ]]" maxlength="[[ validations.nickname.max_length ]]">
			</div>
			<span class="errors" id="error-bio-nickname">
				<span ng-if="bioManagementForm.nickname.$error.required && notifications"> * [[ requiredMessage ]] <br /></span>
				<span ng-if="bioManagementForm.nickname.$error.maxlength">* Maximum of [[ validations.nickname.max_length ]] characters <br /></span>
			</span>
		</div>
		<div class="col-lg-1">
			<label class="input-label twin " ng-class="{ 'required': validations.gender.required }">Sex:</label>
			<div class="text-center" ng-if="!viewOnly" ng-class="{ 'error': bioManagementForm.gender.$invalid && notifications }" show-errors>
				<input type="radio" name="gender" ng-model="input.gender" value="M" id="gender-male" class="hide" ng-required="[[ validations.gender.required ]]"><label for="gender-male" class="fa fa-male" ng-class="{ 'disabled': input.gender != 'M' }" data-toggle="tooltip" title="Male"></label> 
				&nbsp;
				<input type="radio" name="gender" ng-model="input.gender" value="F" id="gender-female" class="hide" ng-required="[[ validations.gender.required ]]"><label for="gender-female" class="fa fa-female" ng-class="{ 'disabled': input.gender != 'F' }" data-toggle="tooltip" title="Female"></label>
			</div>
			<input ng-disabled="viewOnly" ng-if="viewOnly" class="form-control input-form" type="text" ng-model="input.gender">
		</div>
		<span class="errors reversed" id="error-bio-gender" style="margin-top:75px; right:-30px">
			<span ng-if="bioManagementForm.gender.$error.required && notifications"> * [[ requiredMessage ]] <br /></span>
		</span>
	</div>
	<div class="form-group">
		<div class="col-lg-2">
			<div>
				<label class="input-label " ng-class="{ 'required': validations.birthdate.required }">Birthdate:</label>
				<input ng-disabled="viewOnly" class="form-control input-form birth_date" ng-class="{ 'error': bioManagementForm.birthdate.$invalid && notifications }" type="text" ng-model="input.birthdate" id="birthdate" name="birthdate" ng-required="[[ validations.birthdate.required ]]" datepicker>
			</div>
			<span class="errors" id="error-bio-birthdate">
				<span ng-if="bioManagementForm.birthdate.$error.required && notifications"> * [[ requiredMessage ]] <br /></span>
			</span>
		</div>
		<div class="col-lg-3">
			<div>
				<label class="input-label " ng-class="{ 'required': validations.birthplace.required }">Birthplace:</label>
				<input ng-disabled="viewOnly" class=" form-control input-form" ng-class="{ 'error': bioManagementForm.birthplace.$invalid && notifications }" type="text" ng-model="input.birthplace" id="birthplace" name="birthplace" maxlength="[[ validations.birthplace.max_length ]]" ng-required="[[ validations.birthplace.required ]]" negate-special-characters="address">
			</div>
			<span class="errors" id="error-bio-birthplace">
				<span ng-if="bioManagementForm.birthplace.$error.required && notifications"> * [[ requiredMessage ]] <br /></span>
				<span ng-if="bioManagementForm.birthplace.$error.maxlength">* Maximum of [[ validations.birthplace.max_length ]] characters <br /></span>
			</span>
		</div>
		<div class="col-lg-1">
			<div>
				<label class="input-label">Age:</label>
				<input disabled class="form-control input-form disabled important" type="number" value="[[ input.birthdate | ageFilter ]]">
			</div>
		</div>
		<div class="col-lg-4">
			<div>
				<label class="input-label " ng-class="{ 'required': validations.nationality.required }">Nationality:</label>
				<input ng-if="viewOnly" ng-disabled="viewOnly" class="form-control input-form" type="text" ng-model="input.nationality.label">
				<select ng-if="!viewOnly" ng-disabled="viewOnly" class="form-control input-form" ng-model="input.nationality" id="nationality" name="nationality" ng-options="x.value as x.label for x in nationalityOptions" ng-required="[[ validations.nationality.required ]]" ng-change="uidGenerator()">
				</select>
			</div>
			<span class="errors" id="error-bio-nationality">
				<span ng-if="bioManagementForm.nationality.$error.required && notifications"> * [[ requiredMessage ]] <br /></span>
			</span>
		</div>
		<div class="col-lg-1">
			<div>
				<label class="input-label" ng-class="{ 'required': validations.bmi.required }">BMI:</label>
				<!-- input text because the backend returns string on the viewonly -->
				<input ng-disabled="viewOnly" class="form-control input-form" ng-class="{ 'error': bioManagementForm.bmi.$invalid && notifications }" type="text" name="bmi" id="bmi" ng-model="input.bmi" ng-pattern="/^[0-9]{0,3}[.][0-9]{0,2}$|^[0-9]{0,3}$/" ng-required="[[ validations.bmi.required ]]" numbers-decimal-only> <!-- type is text because bmi value on the endpoint returns a string -->
			</div>
			<span class="errors" id="error-bio-bmi">
				<!-- ng-pattern is used to check the validity -->
				<span ng-if="!bioManagementForm.bmi.$valid"> * At least 2 decimal places and 3 whole digits <br /></span>
			</span>
		</div>
		<div class="col-lg-1">
			<div>
				<label class="input-label" ng-class="{ 'required': validations.blood_type.required }">Blood Type:</label>
				<input ng-if="viewOnly" ng-disabled="viewOnly" class="form-control input-form" type="text" ng-model="input.blood_type.label">
				<select name="blood_type" ng-if="!viewOnly" ng-disabled="viewOnly" class="form-control input-form" ng-class="{ 'error': bioManagementForm.blood_type.$invalid && notifications }" ng-model="input.blood_type" ng-options="x.value as x.label for x in bloodTypeOptions">
					<option value=""></option>
				</select>
			</div>
		</div>
	</div>
	<fieldset ng-repeat="bioAddress in bioAddresses" data-ng-form="nestedbioAddressesForm">
		<input type="text" ng-model="bioAddress._id" class="hide" ng-if="title == 'UPDATE'"> <!-- Id used for the Updates -->
		<div class="view-separator disabled"></div>
		<div class="form-group">
			<div class="col-lg-6">
				<h4>
					<span ng-if="!$index">PERMANENT ADDRESS <input type="text" class="hide" ng-model="bioAddress.bio_fil_address_type" id="bio_fil_address_type" name="bio_fil_address_type" ng-init="bioAddress.bio_fil_address_type = 'Permanent'"> </span>
					<span ng-if="$index">CURRENT ADDRESS <input type="text" class="hide" ng-model="bioAddress.bio_fil_address_type" id="bio_fil_address_type" name="bio_fil_address_type" ng-init="bioAddress.bio_fil_address_type = 'Current'"></span>
				</h4>
			</div>
		</div>
		<div class="form-group">
			<div class="col-lg-2" ng-if="$index && !viewOnly">
				<div class="same-as-above">
					<label class="input-label"></label><br />
					<input type="checkbox" id="same-as-above-permanent"  ng-model="same" ng-click="sameAsAbove(same, bioAddresses[0], bioAddresses[1], 'region'+$index, 'province'+$index, 'municipality'+$index, 0)">
					<label for="same-as-above-permanent">Same as above</label>
				</div>
			</div>
			<div ng-class="{ 'col-lg-6': !$index || viewOnly, 'col-lg-5': $index && !viewOnly }">
				<div>
					<label class="input-label" ng-class="{ 'required': validations.bio_fil_address.required }">Address (Unit/House/Street/Subdivision):</label>
					<input ng-disabled="viewOnly || bioAddress.addressReadonly" class="form-control input-form" ng-class="{ 'error': nestedbioAddressesForm.bio_fil_address.$invalid && notifications }" type="text" ng-model="bioAddress.bio_fil_address" id="bio_fil_address" name="bio_fil_address" ng-required="[[ validations.bio_fil_address.required ]]" maxlength="[[ validations.bio_fil_address.max_length ]]" negate-special-characters="address">
				</div>
				<span class="errors" id="error-bio-fil-address">
					<span ng-if="nestedbioAddressesForm.bio_fil_address.$error.required && notifications"> * [[ requiredMessage ]] <br /></span>
					<span ng-if="nestedbioAddressesForm.bio_fil_address.$error.maxlength">* Maximum of [[ validations.bio_fil_address.max_length ]] characters <br /></span>
				</span>
			</div>
			<div ng-class="{ 'col-lg-6': !$index || viewOnly, 'col-lg-5': $index && !viewOnly }">
				<div>
					<label class="input-label" ng-class="{ 'required': !viewOnly }">Region:</label>
					<input ng-if="viewOnly" class="form-control input-form" ng-model="bioAddress.region" disabled="">
					<select ng-if="!viewOnly" ng-disabled="viewOnly || bioAddress.regionReadonly" class="form-control input-form" ng-class="{ 'error': nestedbioAddressesForm.region.$invalid && notifications }" name="region" id="region[[ $index ]]" ng-model="bioAddress.region" ng-options="x.value as x.label for x in regionOptions" ng-change="dynamicFilter(0 , 'provinces', 'region', bioAddress.region, 'region'+$index, 'province', 'province', $index+1)" ng-required="!viewOnly">
					</select>
				</div>
				<span class="errors" id="province">
					<span ng-if="nestedbioAddressesForm.region.$error.required && notifications"> * [[ requiredMessage ]] <br /></span>
				</span>
			</div>
			<!-- <div class="col-lg-2" ng-if="!$index || viewOnly">
				<div>
					<label class="input-label" ng-class="{ 'required': !viewOnly }">Province:</label>
					<input ng-if="viewOnly" class="form-control input-form" ng-model="bioAddress.province" disabled="">
					<select ng-if="!viewOnly" ng-disabled="viewOnly || !bioAddress.region || bioAddress.provinceReadonly" class="form-control input-form" ng-class="{ 'error': nestedbioAddressesForm.province.$invalid && notifications }" name="province" id="province[[ $index ]]" ng-model="bioAddress.province" ng-options="x.value as x.label for x in filter['region'+$index].province" ng-change="dynamicFilter(0 , 'municipalities', 'province', bioAddress.province, 'province'+$index, 'municipality', 'municipality', $index+1)" ng-required="!viewOnly">
					</select>
				</div>
				<span class="errors" id="province">
					<span ng-if="nestedbioAddressesForm.province.$error.required && notifications"> * [[ requiredMessage ]] <br /></span>
				</span>
			</div> -->
		</div>
		<div class="form-group">
			<div class="col-lg-3">
				<div>
					<label class="input-label" ng-class="{ 'required': !viewOnly }">Province:</label>
					<input ng-if="viewOnly" class="form-control input-form" ng-model="bioAddress.province" disabled="">
					<select ng-if="!viewOnly" ng-disabled="viewOnly || !bioAddress.region || bioAddress.provinceReadonly" class="form-control input-form" ng-class="{ 'error': nestedbioAddressesForm.province.$invalid && notifications }" name="province" id="province[[ $index ]]" ng-model="bioAddress.province" ng-options="x.value as x.label for x in filter['region'+$index].province" ng-change="dynamicFilter(0 , 'municipalities', 'province', bioAddress.province, 'province'+$index, 'municipality', 'municipality', $index+1)" ng-required="!viewOnly">
					</select>
				</div>
				<span class="errors" id="province">
					<span ng-if="nestedbioAddressesForm.province.$error.required && notifications"> * [[ requiredMessage ]] <br /></span>
				</span>
			</div>
			<div class="col-lg-3">
				<div>
					<label class="input-label" ng-class="{ 'required': !viewOnly }">City/Municipality:</label>
					<input ng-if="viewOnly" class="form-control input-form" ng-model="bioAddress.municipality" disabled="">
					<select ng-if="bioAddress.region != ncr && !viewOnly" ng-disabled="viewOnly || !bioAddress.province || bioAddress.cityReadonly" class="form-control input-form" ng-class="{ 'error': nestedbioAddressesForm.municipality.$invalid && notifications }" name="municipality" id="municipality[[ $index ]]" ng-model="bioAddress.municipality" ng-options="x.value as x.label for x in filter['province'+$index].municipality" ng-change="zipFilter(0, $index, bioAddress.municipality)" ng-required="!viewOnly">
					</select>
					<select ng-if="bioAddress.region == ncr && !viewOnly" ng-disabled="viewOnly || !bioAddress.province || bioAddress.cityReadonly" class="form-control input-form" ng-class="{ 'error': nestedbioAddressesForm.municipality.$invalid && notifications }" name="municipality" id="municipality[[ $index ]]" ng-model="bioAddress.municipality" ng-options="x.value as x.label for x in filter['province'+$index].municipality" ng-change="dynamicFilter(0 , 'barangays', 'municipality', bioAddress.municipality, 'municipality'+$index, 'barangay', 'barangay', $index+1)" ng-required="!viewOnly">
					</select>
				</div>
				<span class="errors" id="municipality">
					<span ng-if="nestedbioAddressesForm.municipality.$error.required && notifications"> * [[ requiredMessage ]] <br /></span>
				</span>
			</div>
			<div class="col-lg-5">
				<div>
					<label class="input-label " ng-class="{ 'required': !viewOnly && bioAddress.region == ncr }">Barangay/Purok/Barrio:</label>
					<input ng-if="viewOnly && barangay" class="form-control input-form" ng-model="bioAddress.bio_fil_zip.barangay" disabled="">
					<input ng-if="viewOnly && !barangay" class="form-control input-form" ng-model="bioAddress.bio_fil_province_barangay" disabled="">
					<input ng-if="bioAddress.region != ncr && !viewOnly" ng-disabled="viewOnly || !bioAddress.municipality || bioAddress.barangayReadonly" class="form-control input-form" type="text" ng-model="bioAddress.bio_fil_province_barangay" name="barangay" id="barangay[[ $index ]]" ng-required="false" maxlength="[[ validations.bio_fil_province_barangay.max_length ]]" negate-special-characters="address">
					<select ng-if="bioAddress.region == ncr && !viewOnly" ng-disabled="viewOnly || !bioAddress.municipality || bioAddress.barangayReadonly" class="form-control input-form" ng-class="{ 'error': nestedbioAddressesForm.barangay.$invalid && notifications }" ng-model="bioAddress.bio_fil_province_barangay" name="barangay" id="barangay[[ $index ]]" ng-options="x.value as x.label for x in filter['municipality'+$index].barangay" ng-change="zipFilter(0, $index, bioAddress.municipality, bioAddress.bio_fil_province_barangay)" ng-required="!viewOnly">
					</select>
				</div>
				<span class="errors" id="error-bio-fil-barangay">
					<span ng-if="nestedbioAddressesForm.barangay.$error.required">* [[ requiredMessage ]] <br /></span>
					<span ng-if="nestedbioAddressesForm.bio_fil_province_barangay.$error.maxlength">* Maximum of [[ validations.bio_fil_province_barangay.max_length ]] characters <br /></span>
				</span>
			</div>
			<div class="col-lg-1">
				<div>
					<label class="input-label" ng-class="{ 'required': !viewOnly }">Zip Code:</label>
					<!-- The input below shows the zip id and is hidden -->
					<input ng-disabled="viewOnly" class="form-control input-form disabled hide" type="text" ng-model="bioAddress.bio_fil_zip" id="bio_fil_zip" name="bio_fil_zip" ng-required="!viewOnly" readonly="">
					<!-- Proxy is the input that shows the zip code on the screen -->
					<input ng-disabled="viewOnly" class="form-control input-form disabled important" ng-class="{ 'error': nestedbioAddressesForm.bio_fil_zip.$invalid && notifications }" type="text" ng-model="bioAddress.bio_fil_zip_proxy"readonly="">
				</div>
				<span class="errors" id="error-bio-fil-zip-code">
					<span ng-if="nestedbioAddressesForm.bio_fil_zip.$error.required">* Please fill up everything in the address to get the zip code <br /></span>
				</span>
				<!-- TODO: Autocomplete with API -->
			</div>
			<!-- <div class="col-lg-2">
				<div>
					<label class="input-label"><br /></label>
					<a href="https://www.google.com.ph/webhp?hl=en#hl=en&q=[[ bioAddress.bio_fil_zip_proxy ]] [[  bioAddress.bio_fil_address ]]" target="_blank">
						<button type="button" class="btn form-control google-search" ng-if="!viewOnly">Search on Google</button>
					</a>
				</div>
			</div> -->
		</div>
	</fieldset>
	<div class="view-separator disabled"></div>
	<div class="form-group">
		<div class="col-lg-6">
			<h4>
				CONTACT DETAILS
			</h4>
		</div>
	</div>
	<div class="form-group">
		<span ng-repeat="bioTelephone in bioTelephones" data-ng-form="nestedbioTelephonesForm" ng-if="!bioTelephone.deleted">
			<input type="text" ng-model="bioTelephone._id" class="hide" ng-if="title == 'UPDATE'"> <!-- Id used for the Updates -->
			<div class="col-lg-3">
				<div>
					<label class="input-label "><i class="glyphicon [[ glyphiconTelephone ]]"></i> [[$index + 1 ]]. Area Code:</label>
					<input ng-if="viewOnly" class="form-control input-form" ng-model="bioTelephone.bio_tel_area_code.label" disabled="">
					<select ng-if="!viewOnly" ng-disabled="viewOnly" class="form-control input-form" ng-model="bioTelephone.bio_tel_area_code" name="bio_tel_area_code" id="bio_tel_area_code_[[ $index ]]" ng-options="x.value as x.label for x in areaCodeOptions" ng-change="nullRemover('bio_tel_area_code', bioTelephone); emptyTelephoneChange(bioTelephone.bio_tel_area_code, bioTelephone, 'bio_tel_number');">
						<option value=""></option>
					</select>
				</div>
				<span class="errors" id="error-bio-telephone-area-code">
					<span ng-if="nestedbioTelephonesForm.bio_tel_area_code.$error.required && notifications"> * [[ requiredMessage ]] <br /></span>
				</span>
			</div>
			<div class="col-lg-2">
				<div>
					<label class="input-label ">Telephone:</label>
					<input ng-if="!viewOnly" ng-disabled="viewOnly || !bioTelephone.bio_tel_area_code" class="form-control input-form" type="text" ng-model="bioTelephone.bio_tel_number" name="bio_tel_number" id="bio_tel_number" ng-change="nullRemover('bio_tel_number', bioTelephone)" ui-mask="999-99-99" ui-mask-placeholder="xxx-xx-xx">
					<input ng-if="viewOnly && bioTelephone.bio_tel_number" ng-model="bioTelephone.bio_tel_number" name="bio_tel_number" class="form-control input-form" type="text" id="bio_tel_number" ui-mask="999-99-99" ng-disabled="viewOnly">
					<input ng-if="viewOnly && !bioTelephone.bio_tel_number" class="form-control input-form" type="text"  ng-disabled="viewOnly">
				</div>
				<span class="errors" id="error-bio-tel-number">
					<span ng-if="nestedbioTelephonesForm.bio_tel_number.$error.required && notifications"> * [[ requiredMessage ]] <br /></span>
				</span>
			</div>
			<div class="col-lg-2" ng-if="!viewOnly && $index == 1">
				<label class="input-label">&nbsp; </label>
				<button class="btn form-control add" ng-click="addNestedModels(bioTelephones, 2)"><span class="glyphicon [[ glyphiconAddObject ]]"></span>Add Telephone</button>
			</div>
			<div class="col-lg-2" ng-if="viewOnly && $odd">
				<label class="input-label">&nbsp; </label>
				<button class="form-control whitespace-button"></button>
			</div>
			<div class="col-lg-2" ng-if="$odd && $index != 1 && !viewOnly">
				<!-- <label class="input-label ">[[ $index ]]</label>
				<input type="text" class="form-control"> -->
				<label class="input-label">&nbsp; </label>
				<button class="btn form-control remove" ng-click="removeNestedModels(bioTelephones, $index-1, 2, originalBioTelephones)"><span class="glyphicon [[ glyphiconRemoveObject ]]"></span>Delete Telephone</button>
			</div>
		</span>
	</div>
	<div class="form-group">
		<span ng-repeat="bioMobile in bioMobiles" data-ng-form="nestedbioMobilesForm" ng-if="!bioMobile.deleted">
			<input type="text" ng-model="bioMobile._id" class="hide" ng-if="title == 'UPDATE'"> <!-- Id used for the Updates -->
			<div class="col-lg-2">
				<div>
					<label class="input-label"><i class="glyphicon [[ glyphiconMobile ]]"></i> [[$index + 1 ]]. Network:</label>
					<input ng-if="viewOnly" ng-disabled="viewOnly" class="form-control input-form" type="text" ng-model="bioMobile.bio_mobile_network.label"> 
					<input ng-if="!viewOnly" ng-disabled="!viewOnly" class="form-control input-form" ng-class="{ 'error': nestedbioMobilesForm.bio_network.$invalid && notifications }" name="bio_network" id="bio_network_[[ $index ]]" value="[[ determineNetwork(bioMobile.bio_mobile_prefix) ]]">
				</div>
			</div>
			<div class="col-lg-1">
				<div>
					<label class="input-label" ng-class="{ 'required': !viewOnly && !$index }">Prefix:</label>
					<input ng-if="viewOnly" ng-disabled="viewOnly" class="form-control input-form" type="text" ng-model="bioMobile.bio_mobile_prefix.label"> 
					<select ng-if="!viewOnly" ng-disabled="viewOnly" class="form-control input-form" ng-class="{ 'error': nestedbioMobilesForm.bio_mobile_prefix.$invalid && notifications }" ng-model="bioMobile.bio_mobile_prefix" name="bio_mobile_prefix" id="bio_mobile_prefix" ng-required="!$index" ng-options="x.value as x.label for x in mobilePrefixNetworkOptions" ng-change="nullRemover('bio_mobile_prefix', bioMobile); fieldDependentRemover(bioMobile, 'bio_mobile_prefix', 'bio_mobile_number'); prefixTypeChange('[[ bioMobile.bio_mobile_prefix ]]', bioMobile, 'bio_mobile_number');">
						<option value=""></option>
					</select>
				</div>
				<span class="errors" id="error-bio-mobile-prefix">
					<span ng-if="nestedbioMobilesForm.bio_mobile_prefix.$error.required && notifications"> * [[ requiredMessage ]] <br /></span>
				</span>
			</div>
			<div class="col-lg-2">
				<div>
					<label class="input-label" ng-class="{ 'required': !viewOnly && !$index }">Mobile:</label>
					<input ng-if="!viewOnly && bioMobile.bio_mobile_prefix == other_prefix || !bioMobile.bio_mobile_prefix && !viewOnly" ng-disabled="viewOnly || !bioMobile.bio_mobile_prefix" class="form-control input-form" ng-class="{ 'error': nestedbioMobilesForm.bio_mobile_number.$invalid && notifications }" type="text" ng-model="bioMobile.bio_mobile_number" name="bio_mobile_number" id="bio_mobile_number" ng-required="!$index" numbers-only ng-change="nullRemover('bio_mobile_number', bioMobile)" maxlength="[[ validations.related_people_mobile_number.max_length ]]">
					<input ng-if="!viewOnly && bioMobile.bio_mobile_prefix != other_prefix && bioMobile.bio_mobile_prefix" ng-disabled="viewOnly" class=" form-control input-form" ng-class="{ 'error': nestedbioMobilesForm.bio_mobile_number.$invalid && notifications }" type="text" ui-mask="99-99-999" ui-mask-placeholder="xx-xx-xxx" ng-model="bioMobile.bio_mobile_number" name="bio_mobile_number" ng-required="!$index" numbers-only ng-change="nullRemover('bio_mobile_number', bioMobile)">
					<input ng-if="viewOnly && bioMobile.bio_mobile_prefix.label != '+' && bioMobile.bio_mobile_prefix" ng-model="bioMobile.bio_mobile_number" class="form-control input-form" type="text" id="bio_mobile_number" name="bio_mobile_number" ui-mask="99-99-999" ng-disabled="viewOnly">
					<input ng-if="viewOnly && bioMobile.bio_mobile_prefix.label == '+'" ng-model="bioMobile.bio_mobile_number" class="form-control input-form" type="text" id="bio_mobile_number" name="bio_mobile_number" ng-disabled="viewOnly">
					<input ng-if="viewOnly && !bioMobile.bio_mobile_prefix" class="form-control input-form" type="text" id="bio_mobile_number" name="bio_mobile_number" ng-disabled="viewOnly">
				</div>
				<span class="errors" id="error-bio-mobile-mobile-bio">
					<span ng-if="nestedbioMobilesForm.bio_mobile_number.$error.required && notifications"> * [[ requiredMessage ]] <br /></span>
				</span>
			</div>
			<div class="col-lg-2" ng-if="!viewOnly && $index == 1">
				<label class="input-label twin">&nbsp; </label>
				<button class="btn form-control add" ng-click="addNestedModels(bioMobiles, 2)"><span class="glyphicon [[ glyphiconAddObject ]]"></span>Add Mobile</button>
			</div>
			<div class="col-lg-2" ng-if="viewOnly && $odd">
				<label class="input-label twin">&nbsp; </label>
				<button class="form-control whitespace-button"></button>
			</div>
			<div class="col-lg-2" ng-if="$odd && $index != 1 && !viewOnly">
				<!-- <label class="input-label ">[[ $index ]]</label>
				<input type="text" class="form-control"> -->
				<label class="input-label twin">&nbsp; </label>
				<button class="btn form-control remove" ng-click="removeNestedModels(bioMobiles, $index-1, 2, originalBioMobiles)"><span class="glyphicon [[ glyphiconRemoveObject ]]"></span>Delete Mobile</button>
			</div>
		</span>
	</div>
	<div class="form-group">
		<span ng-repeat="bioSocialMedium in bioSocialMedia" data-ng-form="nestedbioSocialMediaForm" ng-if="!bioSocialMedium.deleted">
			<input type="text" ng-model="bioSocialMedium._id" class="hide" ng-if="title == 'UPDATE'"> <!-- Id used for the Updates -->
			<div class="col-lg-5">
				<label class="input-label twin">[[$index + 1 ]]. Social Media ID:</label>
				<input ng-if="viewOnly" ng-disabled="viewOnly" class="form-control input-form twin" type="text" ng-model="bioSocialMedium.bio_social_media.label"> 
				<select ng-if="!viewOnly" ng-disabled="viewOnly" class="form-control input-form twin" ng-model="bioSocialMedium.bio_social_media" name="bio_social_media" id="bio_social_media_[[ $index ]]" ng-options="x.value as x.label for x in socialMediaOptions" ng-change="nullRemover('bio_social_media', bioSocialMedium)">
					<option value=""></option>
				</select>
				<input ng-disabled="viewOnly || !bioSocialMedium.bio_social_media" class="form-control input-form twin second-twin-margin social-media" type="text" ng-model="bioSocialMedium.bio_social_id" class="hide" name="bio_social_id" class="hide" id="bio_social_id_[[ $index ]]" ng-change="nullRemover('bio_social_id', bioSocialMedium)">
			</div>
			<div class="col-lg-2" ng-if="!viewOnly && $index == 1">
				<label class="input-label twin">&nbsp; </label>
				<button class="btn form-control add" ng-click="addNestedModels(bioSocialMedia, 2)"><span class="glyphicon [[ glyphiconAddObject ]]"></span>Add Social Media</button>
			</div>
			<div class="col-lg-2" ng-if="$odd && $index != 1 && !viewOnly">
				<!-- <label class="input-label ">[[ $index ]]</label>
				<input type="text" class="form-control"> -->
				<label class="input-label twin">&nbsp; </label>
				<button class="btn form-control remove" ng-click="removeNestedModels(bioSocialMedia, $index-1, 2, originalBioSocialMedia)"><span class="glyphicon [[ glyphiconRemoveObject ]]"></span>Delete Social Media</button>
			</div>
		</span>
	</div>
	<div class="form-group">
		<div class="col-lg-6">
			<div>
				<label class="input-label " ng-class="{ 'required': validations.email_address.required }">E-mail 1:</label>
				<input ng-disabled="viewOnly" class="form-control input-form" ng-class="{ 'error': bioManagementForm.email_address.$invalid && notifications }" type="email" ng-model="input.email_address" id="email_address" name="email_address" maxlength="[[ validations.email_address.max_length ]]" ng-required="[[ validations.email_address.required ]]" ng-blur="uniqueCheck(bioManagementForm, $event, 'email')" >
			</div>
			<span class="errors" id="error-bio-email-address">
				<span ng-if="bioManagementForm.email_address.$error.required && notifications"> * [[ requiredMessage ]] <br /></span>
				<span ng-if="bioManagementForm.email_address.$error.unique">* This email [[ errorDuplicate ]] <br /></span>
				<span ng-if="bioManagementForm.email_address.$error.maxlength">* Maximum of [[ validations.email_address.max_length ]] characters <br /></span>
				<span ng-if="bioManagementForm.email_address.$error.email || bioManagementForm.email_address.$error.pattern">* [[ invalidEmail ]] <br /></span>
			</span>
		</div>
		<div class="col-lg-6">
			<div>
				<label class="input-label" ng-class="{ 'required': validations.email_address_2.required }">E-mail 2:</label>
				<input ng-disabled="viewOnly" class="form-control input-form" ng-class="{ 'error': bioManagementForm.email_address_2.$invalid && notifications }" type="email" ng-model="input.email_address_2" id="email_address_2" name="email_address_2" maxlength="[[ validations.email_address_2.max_length ]]" ng-required="[[ validations.email_address_2.required ]]">
			</div>
			<span class="errors" id="error-bio-email-address-2">
				<span ng-if="bioManagementForm.email_address_2.$error.maxlength">* Maximum of [[ validations.email_address_2.max_length ]] characters <br /></span>
				<span ng-if="bioManagementForm.email_address_2.$error.email || bioManagementForm.email_address_2.$error.pattern">* [[ invalidEmail ]] <br /></span>
			</span>
		</div>
	</div>
	<div class="view-separator disabled"></div>
	<div class="form-group">
		<div class="col-lg-6">
			<h4>
				GOVERNMENT REMITTANCE EMPLOYEE NUMBER
			</h4>
		</div>
	</div>
	<div class="form-group">
		<div class="col-lg-3">
			<div>
				<label class="input-label" ng-class="{ 'required': input.employee_type != seafarer && !viewOnly }">TIN:</label>
				<input ng-if="!viewOnly" ng-disabled="viewOnly" class=" form-control input-form" ng-class="{ 'error': bioManagementForm.tax_account_number.$invalid && notifications }" type="text" ui-mask="999-999-999-999" ui-mask-placeholder="xxx-xxx-xxx-xxx" ng-model="input.tax_account_number" id="tax_account_number" name="tax_account_number" maxlength="[[ validations.tax_account_number.max_length ]]" ng-required="input.employee_type != seafarer">
				<input ng-if="viewOnly && input.tax_account_number" ng-model="input.tax_account_number" name="tax_account_number" class="form-control input-form" type="text" id="tax_account_number" ui-mask="999-999-999-999" ng-disabled="viewOnly">
				<input ng-if="viewOnly && !input.tax_account_number" name="tax_account_number" id="tax_account_number" class="form-control input-form" type="text" ng-disabled="true" ng-disabled="viewOnly">
			</div>
			<span class="errors" id="error-bio-tax-account-number">
				<!-- <span  ng-if="principalManagementForm.principal_sss.$error.required">* [[ requiredMessage ]] <br /></span> -->
				<span  ng-if="bioManagementForm.tax_account_number.$error.required && notifications">* [[ requiredMessage ]] <br /></span>
				<span  ng-if="bioManagementForm.tax_account_number.$invalid && !bioManagementForm.tax_account_number.$error.required">* Must be exactly [[ validations.tax_account_number.max_length ]] characters <br /></span>
				<!-- <span ng-if="bioManagementForm.tax_account_number.$error.unique">* This code [[ errorDuplicate ]] <br /></span> -->
			</span>	
		</div>
		<div class="col-lg-3">
			<div>
				<label class="input-label" ng-class="{ 'required': validations.sss_number.required }">SSS No:</label>
				<input ng-if="!viewOnly" ng-disabled="viewOnly" class=" form-control input-form" type="text" ng-class="{ 'error': bioManagementForm.sss_number.$invalid && notifications }" ui-mask="99-9999999-9" ui-mask-placeholder="xx-xxxxxxx-x" ng-model="input.sss_number" id="sss_number" name="sss_number" ng-required="[[ validations.sss_number.required ]]">
				<input ng-if="viewOnly && input.sss_number" ng-model="input.sss_number" class="form-control input-form" type="text" id="sss_number" name="sss_number" ui-mask="99-9999999-9" ng-disabled="viewOnly">
				<input ng-if="viewOnly && !input.sss_number" class="form-control input-form" type="text"  ng-disabled="viewOnly">
			</div>
			<span class="errors" id="error-bio-sss-number">
				<!-- <span  ng-if="principalManagementForm.principal_sss.$error.required">* [[ requiredMessage ]] <br /></span> -->
				<span  ng-if="bioManagementForm.sss_number.$error.required && notifications">* [[ requiredMessage ]] <br /></span>
				<span  ng-if="bioManagementForm.sss_number.$invalid && !bioManagementForm.sss_number.$error.required">* * Maximum of [[ validations.sss_number.max_length ]] characters <br /></span>
				<!-- <span ng-if="bioManagementForm.tax_account_number.$error.unique">* This code [[ errorDuplicate ]] <br /></span> -->
			</span>
		</div>
		<div class="col-lg-3">
			<div>
				<label class="input-label" ng-class="{ 'required': validations.pagibig_number.required }">PagIbig No:</label>
				<input ng-if="!viewOnly" ng-disabled="viewOnly" class=" form-control input-form" type="text" ng-class="{ 'error': bioManagementForm.pagibig_number.$invalid && notifications }" ng-model="input.pagibig_number" id="pagibig_number" name="pagibig_number" ng-required="[[ validations.pagibig_number.required ]]" maxlength="[[ validations.pagibig_number.max_length ]]" minlength="[[ validations.pagibig_number.min_length ]]" ui-mask="****-****-****" ui-mask-placeholder="xxxx-xxxx-xxxx">
				<input ng-if="viewOnly && input.pagibig_number" ng-model="input.pagibig_number" name="pagibig_number" class="form-control input-form" type="text" id="pagibig_number" ui-mask="****-****-****" ng-disabled="viewOnly">
				<input ng-if="viewOnly && !input.pagibig_number" class="form-control input-form" type="text" ng-disabled="true" name="pagibig_number" id="pagibig_number" ng-disabled="viewOnly">
			</div>
			<span class="errors" id="error-bio-pagibig-number">
				<!-- <span ng-hide="!userManagementForm.user_code.$error.required">* [[ requiredMessage ]] <br /></span>  -->
				<span ng-if="bioManagementForm.pagibig_number.$error.required && notifications"> * [[ requiredMessage ]] </span>
				<span ng-if="bioManagementForm.pagibig_number.$error.maxlength || bioManagementForm.pagibig_number.$error.minlength">* Must be exactly [[ validations.pagibig_number.min_length ]] characters <br /></span> 
				<!-- <span ng-if="bioManagementForm.pagibig_number.$error.unique">* This code [[ errorDuplicate ]] <br /></span>  -->
			</span>	
		</div>
		<div class="col-lg-3">
			<div>
				<label class="input-label" ng-class="{ 'required': validations.philhealth_number.required }">Philhealth No:</label>
				<input ng-if="!viewOnly" name="philhealth_number" id="philhealth_number" ng-model="input.philhealth_number" ng-disabled="viewOnly" class=" form-control input-form" ng-class="{ 'error': bioManagementForm.philhealth_number.$invalid && notifications }" type="text" ui-mask="99-999999999-9" ui-mask-placeholder="xx-xxxxxxxxx-x" ng-required="[[ validations.philhealth_number.required ]]">
				<input ng-if="viewOnly && input.philhealth_number" ng-model="input.philhealth_number" class="form-control input-form" type="text" id="philhealth_number" name="philhealth_number" ui-mask="99-999999999-9" ng-disabled="viewOnly">
				<input ng-if="viewOnly && !input.philhealth_number" class="form-control input-form" type="text" ng-disabled="true" id="philhealth_number" name="philhealth_number" ng-disabled="viewOnly">
			</div>
			<span class="errors" id="error-bio-philhealth-number">
				<!-- <span  ng-if="principalManagementForm.principal_sss.$error.required">* [[ requiredMessage ]] <br /></span> -->
				<span  ng-if="bioManagementForm.philhealth_number.$error.required && notifications">* [[ requiredMessage ]] <br /></span>
				<span  ng-if="bioManagementForm.philhealth_number.$invalid && !bioManagementForm.philhealth_number.$error.required">* * Must be exactly [[ validations.sss_number.max_length ]] characters <br /></span>
				<!-- <span ng-if="bioManagementForm.tax_account_number.$error.unique">* This code [[ errorDuplicate ]] <br /></span> -->
			</span>
		</div>
	</div>
	<div class="view-separator disabled"></div>
	<div class="form-group">
		<div class="col-lg-6">
			<h4>
				OTHERS
			</h4>
		</div>
	</div>
	<div class="form-group">
		<div class="col-lg-6">
			<div>
				<label class="input-label">Hobbies:</label>
				<!-- <input type="text" ng-model="bioAddress._id" class="hide" ng-if="title == 'UPDATE'"> --> <!-- Id used for the Updates -->
				<tags-input ng-if="!viewOnly" ng-model="input.bio_hobbies_proxy" placeholder="-" min-length="1" tabindex="0" add-on-paste="true" display-property="hobby" on-tag-added="bioHobbyAdded($tag)" on-tag-removing="tagHobbyRemove($tag, 'bio_hobbies_proxy', 'bio_hobbies')">
					<auto-complete source="load_items($query, hobbyItems, 'hobby')" select-first-match=="false" min-length="2"></auto-complete>
				</tags-input>
				<!-- <tags-input ng-if="viewOnly" disabled="true" ng-model="input.bio_hobbies_proxy" placeholder="-" min-length="1" tabindex="0" display-property="hobby">
				</tags-input> -->
				<input type="text" ng-if="viewOnly" class="form-control input-form" ng-model="input.bio_hobbies_proxy" ng-disabled="true">
			</div>
			<!-- TODO: Discuss with JED reagarding API endpoint with values -->
		</div>
		<div class="col-lg-6">
			<div>
				<label class="input-label">Referred By:</label>
				<input ng-if="viewOnly" ng-disabled="viewOnly" class="form-control input-form" type="text" ng-model="input.referred_by.label">
				<ui-select ng-if="!viewOnly" ng-model="input.referred_by" theme="selectize" ng-click="lazyLoadReferrers()">
				    <ui-select-match> 
				    	[[ $select.selected.user_code ]] - [[ $select.selected.first_name ]] [[ $select.selected.middle_name ]] [[ $select.selected.last_name ]]
				    	<span class="glyphicon glyphicon-remove ui-select-clear" ng-click="uiSelectClear('referred_by.label')"></span>
				    </ui-select-match>
				    <ui-select-choices repeat="referrer.id as referrer in referrers | filter: $select.search">
				    	<span ng-bind-html="referrer.user_code | highlight: $select.search"></span>
				    	-
				      	<span ng-bind-html="referrer.first_name | highlight: $select.search"></span>
				      	<span ng-bind-html="referrer.middle_name | highlight: $select.search"></span>
				      	<span ng-bind-html="referrer.last_name | highlight: $select.search"></span>
				    </ui-select-choices>
				</ui-select>
			</div>
		</div>
	</div>
	<div class="form-group">
		<div class="col-lg-6">
			<div>
				<label class="input-label " ng-class="{ 'required': !viewOnly }">Language:</label>
				<tags-input ng-if="!viewOnly" ng-model="input.bio_languages_proxy" placeholder="-" min-length="1" tabindex="0" add-on-paste="true" display-property="language" on-tag-added="bioLanguageAdded($tag)" on-tag-removing="tagLanguageRemove($tag, 'bio_languages_proxy', 'bio_languages', 'bio_language')" ng-class="{ 'error': bioManagementForm.languages.$error.required && notifications }" show-errors>
					<auto-complete source="load_items($query, languageItems, 'language')" select-first-match=="false" min-length="2"></auto-complete>
				</tags-input>
				<!-- <tags-input ng-if="viewOnly" disabled="true" ng-model="input.bio_languages_proxy" placeholder="-" min-length="1" tabindex="0" display-property="language">
				</tags-input> -->
				<input type="text" ng-if="viewOnly" class="form-control input-form" ng-model="input.bio_languages_proxy" ng-disabled="true">
				<!-- Extra input type is used to declare its validity. As this is most precise method -->
				<input type="text" name="languages" id="languages" ng-model="languages" class="hide" ng-required="true">
				<!-- Declared function is used to pass the form object that will define the validity of the language-->
				[[ languageRequired(bioManagementForm) ]]
				<!-- Declared function is used to pass JSON to be converted into arrays -->
				[[ tagsJSONToArray(input.bio_languages_proxy, 'language') ]]
			</div>
			<span class="errors" id="error-bio-language">
				<span ng-if="bioManagementForm.languages.$error.required && notifications"> * [[ requiredMessage ]] <br /></span>
			</span>
		</div>
		<div class="col-lg-6">
			<div>
				<label class="input-label " ng-class="{ 'required': dialectRequired(bioManagementForm) }">Dialects:</label>
				<!-- <input ng-disabled="viewOnly" class="form-control input-form" type="text" multiple-auto-complete ui-items="searchItems"> -->
				<!-- <textarea class="form-control input-form" multiple-auto-complete ui-items="searchItems"></textarea> -->
				<tags-input ng-if="!viewOnly" ng-model="input.bio_dialects_proxy" placeholder="-" min-length="1" tabindex="0" add-on-paste="true" display-property="dialect" on-tag-added="bioDialectAdded($tag)" on-tag-removing="bioDialectRemove($tag)" ng-class="{ 'error': bioManagementForm.dialects.$error.required && notifications }" show-errors>
					<auto-complete source="load_items($query, dialectItems, 'dialect')" select-first-match=="false" min-length="2"></auto-complete>
				</tags-input>
				<!-- <tags-input ng-if="viewOnly" disabled="true" ng-model="input.bio_dialects_proxy" placeholder="-" min-length="1" tabindex="0" display-property="language">
				</tags-input> -->
				<input type="text" ng-if="viewOnly" class="form-control input-form" ng-model="input.bio_dialects_proxy" ng-disabled="true">
				<input type="text" name="dialects" id="dialects" ng-model="dialects" class="hide" ng-required="dialectRequired(bioManagementForm)">
				<span class="hide">[[ dialectRequired(bioManagementForm) ]]</span>
				[[ tagsJSONToArray(input.bio_dialects_proxy, 'dialect') ]]	
			</div>
			<span class="errors" id="error-bio-dialect">
				<span ng-if="bioManagementForm.dialects.$error.required && notifications"> * [[ requiredMessage ]] <br /></span>
			</span>
		</div>
	</div>
	<div class="form-group">
		<div class="col-lg-3">
			<div>
				<label class="input-label" ng-class="{ 'required': validations.religion.required }">Religion:</label>
				<input ng-if="viewOnly" ng-disabled="viewOnly" class="form-control input-form" type="text" ng-model="input.religion.label">
				<select ng-if="!viewOnly" ng-disabled="viewOnly" class="form-control input-form" ng-class="{ 'error': bioManagementForm.religion.$invalid && notifications }" ng-model="input.religion" id="religion" name="religion" ng-options="x.value as x.label for x in religionOptions" ng-required="[[ validations.religion.required ]]">
					<option value=""></option>
				</select>
			</div>
			<!-- TODO: integrate choices with API -->
			<span class="errors" id="error-bio-religion">
				<span ng-if="bioManagementForm.religion.$error.required && notifications"> * [[ requiredMessage ]] <br /></span>
			</span>
		</div>
		<div class="col-lg-3">
			<div>
				<label class="input-label" ng-class="{ 'required': validations.civil_status.required }">Civil Status:</label>
				<input ng-if="viewOnly" ng-disabled="viewOnly" class="form-control input-form" type="text" ng-model="input.civil_status.label">
				<select ng-if="!viewOnly" ng-disabled="viewOnly" class="form-control input-form" ng-class="{ 'error': bioManagementForm.civil_status.$invalid && notifications }" ng-model="input.civil_status" id="civil_status" name="civil_status" ng-options="x.value as x.label for x in civilStatusOptions" ng-required="[[ validations.civil_status.required ]]" ng-change="civilStatusMarriedBool()">
				</select>
			</div>
			<span class="errors" id="error-bio-civil-status">
				<span ng-if="bioManagementForm.civil_status.$error.required && notifications"> * [[ requiredMessage ]] <br /></span>
			</span>
		</div>
		<!-- <div class="col-lg-3">
			<div>
				<label class="input-label">Philhealth:</label>
				<input ng-disabled="viewOnly" class="form-control input-form" type="text">
			</div>
		</div> -->
		<div class="col-lg-3">
			<div>
				<label class="input-label glyphicon-with-label">No. of Dependents:</label> <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="This field is for Philhealth Dependents"></span>
				<input ng-model="input.dependentCount" ng-disabled="true" class="form-control input-form" type="text">
			</div>
		</div>
		<div class="col-lg-3">
			<div>
				<label class="input-label" ng-class="{ 'required': input.employee_type != seafarer && !viewOnly }">Tax Status:</label>
				<input ng-if="viewOnly" ng-disabled="viewOnly" class="form-control input-form" type="text" ng-model="input.tax_status.label">
				<select ng-if="!viewOnly" ng-disabled="viewOnly" class="form-control input-form" ng-class="{ 'error': bioManagementForm.tax_status.$invalid && notifications }" ng-model="input.tax_status" id="tax_status" name="tax_status" ng-options="x.value as x.label for x in taxStatusOptions" ng-required="input.employee_type != seafarer">
					<option value=""></option>
				</select>
			</div>
			<span class="errors" id="error-bio-tax-status">
				<span ng-if="bioManagementForm.tax_status.$error.required && notifications"> * [[ requiredMessage ]] <br /></span>
			</span>
		</div>
	</div>
	<div ng-if="viewOnly" ng-include="'/static/bio/html/views/spouse.html?query='+forceReload"></div>
</div>