<div class="view-separator disabled"></div>
<div class="form-group">
	<div class="col-lg-6">
		<h4>
			ADDRESS
		</h4>
	</div>
</div>
<div class="form-group">
	<div class="col-lg-6">
		<div>
			<label class="input-label">Address (Unit/House/Street/Subdivision):</label>
			<input ng-disabled="viewOnly" class="form-control input-form" type="text" ng-model="relationType.related_people_address">
		</div>
	</div>
	<div class="col-lg-6">
		<div>
			<label class="input-label">Region:</label>
			<!-- <select ng-disabled="viewOnly" class="form-control input-form" ng-model="relationType.region">
			</select> -->
			<input ng-disabled="viewOnly" class="form-control input-form" ng-model="relationType.region">
		</div>
	</div>
</div>
<div class="form-group">
	<div class="col-lg-3">
		<div>
			<label class="input-label">Province:</label>
			<!-- <select ng-disabled="viewOnly" class="form-control input-form" ng-model="relationType.province">
			</select> -->
			<input ng-disabled="viewOnly" class="form-control input-form" ng-model="relationType.province">
		</div>
	</div>
	<div class="col-lg-3">
		<div>
			<label class="input-label">City/Municipality:</label>
			<!-- <select ng-disabled="viewOnly" class="form-control input-form" ng-model="relationType.municipality">
			</select> -->
			<input ng-disabled="viewOnly" class="form-control input-form" ng-model="relationType.municipality">
		</div>
	</div>
	<div class="col-lg-5">
		<div>
			<label class="input-label " ng-class="{ 'required': !viewOnly }">Barangay/Purok/Barrio:</label>
			<input ng-disabled="viewOnly" ng-disabled="viewOnly" class="form-control input-form" type="text" ng-model="relationType.barangay">
		</div>
	</div>
	<div class="col-lg-1">
		<div>
			<label class="input-label">Zip Code:</label>
			<input ng-disabled="viewOnly" ng-disabled="viewOnly" class="form-control input-form disabled" type="text" ng-model="relationType.zip_code">
		</div>
	</div>
</div>