<div class="form-group">
	<div class="col-lg-2">
		<label class="input-label">Relation Type:</label>
		<input ng-disabled="viewOnly" class="form-control input-form" type="text" ng-model="relationType.related_people_relationship_type.label">
		<!-- <select ng-disabled="viewOnly" class="form-control input-form" ng-model="relationType.related_people_relationship_type" ng-options="x.value as x.label for x in relationshipTypesOptions"></select> -->
	</div>
</div>
<div class="form-group" ng-if="!relationType.related_people_married_last_name || relationType.related_people_relationship_type_gender == 'M'">
	<div class="col-lg-3">
		<div>
			<label class="input-label">Last Name:</label>
			<input ng-disabled="viewOnly" class="form-control input-form" type="text" ng-model="relationType.related_people_last_name">
		</div>
	</div>
	<div class="col-lg-3">
		<div>
			<label class="input-label">First Name:</label>
			<input ng-disabled="viewOnly" class="form-control input-form" type="text" ng-model="relationType.related_people_first_name">
		</div>
	</div>
	<div class="col-lg-3">
		<div>
			<label class="input-label">Middle Name:</label>
			<input ng-disabled="viewOnly" class="form-control input-form" type="text" ng-model="relationType.related_people_middle_name">
		</div>
	</div>
	<div class="col-lg-3" ng-if="relationType.related_people_relationship_type_gender != 'F'">
		<div>
			<label class="input-label">Suffix:</label>
			<input ng-disabled="viewOnly" class="form-control input-form" type="text" ng-model="relationType.related_people_name_suffix.label">
		</div>
	</div>
</div>
<div class="form-group"  ng-if="relationType.related_people_relationship_type_gender == 'F' && relationType.related_people_married_last_name">
	<div class="col-lg-3">
		<div>
			<label class="input-label">Last Name:</label>
			<input ng-disabled="viewOnly" class="form-control input-form" type="text" ng-model="relationType.related_people_married_last_name">
		</div>
	</div>
	<div class="col-lg-3">
		<div>
			<label class="input-label">First Name:</label>
			<input ng-disabled="viewOnly" class="form-control input-form" type="text" ng-model="relationType.related_people_first_name">
		</div>
	</div>
	<div class="col-lg-3">
		<div>
			<label class="input-label">Middle Name:</label>
			<input ng-disabled="viewOnly" class="form-control input-form" type="text" ng-model="relationType.related_people_married_middle_name">
		</div>
	</div>
</div>
<div ng-include="'/static/bio/html/views/reusable-last-rows-template.html?query='+forceReload"></div>