<div class="form-group">
	<div class="col-lg-2">
		<div>
			<label class="input-label">Birthdate:</label>
			<input ng-disabled="viewOnly" class="form-control input-form" type="text" ng-model="relationType.related_people_birthdate" id="birthdate" datepicker>
		</div>
	</div>
	<div class="col-lg-1">
		<div>
			<label class="input-label">Age:</label>
			<input ng-disabled="viewOnly" class="form-control input-form disabled" type="number" value="[[ relationType.related_people_birthdate | ageFilter ]]">
		</div>
	</div>
	<div class="col-lg-3">
		<div>
			<label class="input-label">Birthplace:</label>
			<input ng-disabled="viewOnly" class="form-control input-form" type="text" ng-model="relationType.related_people_birthplace">
		</div>
	</div>
	<div class="col-lg-3">
		<div>
			<label class="input-label">Nationality:</label>
			<input ng-disabled="viewOnly" class="form-control input-form" type="text" ng-model="relationType.related_people_nationality.label">
		</div>
	</div>
	<div class="col-lg-3">
		<div>
			<label class="input-label">Passport:</label>
			<input ng-disabled="viewOnly" class="form-control input-form" type="text" ng-model="relationType.related_people_passport_number">
		</div>
	</div>
</div>
<div class="form-group" ng-if="relationType.related_people_relationship_type.id == wife">
	<div class="col-lg-2">
		<div>
			<label class="input-label" ng-class="{ 'required': relationType.related_people_relationship_type == wife && !relationType.related_people_relationship_type == husband }">Date of Marriage:</label>
			<input disabled name="marriage_date" class="form-control input-form" ng-class="{ 'error': nestedRelationTypesForm.marriage_date.$invalid && notifications }" type="text" ng-model="relationType.related_people_marriage_date" ng-required="relationType.related_people_relationship_type == wife && !relationType.related_people_relationship_type == husband" datepicker>
		</div>
		<span class="errors" id="error-bio-relations-marriage-date">
			<span ng-if="nestedRelationTypesForm.marriage_date.$error.required && notifications"> * [[ requiredMessage ]] <br /></span>
		</span>
		<!-- TODO: ng-required -->
	</div>
	<div class="col-lg-3">
		<div>
			<label class="input-label" ng-class="{ 'required': !viewOnly }">Place of Marriage:</label>
			<input disabled class="form-control input-form" type="text" ng-class="{ 'error': nestedRelationTypesForm.marriage_place.$invalid && notifications }" ng-model="relationType.related_people_marriage_place" id="marriage_place" name="marriage_place" ng-required="relationType.related_people_relationship_type == wife && !relationType.related_people_relationship_type == husband" maxlength="[[ validations.related_people_marriage_place.max_length ]]">
		</div>
		<span class="errors" id="error-bio-relations-marriage-place">
			<span ng-if="nestedRelationTypesForm.marriage_place.$error.required && notifications"> * [[ requiredMessage ]] <br /></span>
		</span>
		<!-- TODO: ng-required -->
	</div>
	<div class="col-lg-2">
		<label class="input-label">Working:</label>
		<input disabled class="form-control input-form" type="text" ng-model="relationType.related_people_is_working">
	</div>
	<div class="col-lg-2">
		<label class="input-label">Studying:</label>
		<input disabled class="form-control input-form" type="text" ng-model="relationType.related_people_is_student">
	</div>
	<div class="col-lg-3">
		<div>
			<label class="input-label">Occupation:</label>
			<input ng-disabled="!relationType.related_people_relationship_type || viewOnly" class="form-control input-form" type="text" ng-model="relationType.related_people_occupation" name="occupation-[[ $index ]]" id="occupation-[[ $index ]]">
		</div>
	</div>
</div>
<div ng-include="'/static/bio/html/views/reusable-contacts-template.html?query='+forceReload"></div>
<div ng-include="'/static/bio/html/views/reusable-address-template.html?query='+forceReload"></div>
<div class="form-group" ng-if="!$last">
	<div class="col-lg-12">
		<div class="border-separator"></div>
	</div>
</div>