<div class="view-separator disabled"></div>
<div class="form-group">
	<div class="col-lg-6">
		<h4>
			CONTACT DETAILS
		</h4>
	</div>
</div>
<div class="form-group">
	<div class="col-lg-3">
		<div>
			<label class="input-label"><i class="glyphicon [[ glyphiconTelephone ]]"></i> 1. Area Code:</label>
			<input ng-disabled="true" class="form-control input-form" type="text" ng-model="relationType.related_people_tel_area_code.label">
		</div>
	</div>
	<div class="col-lg-3">
		<div>
			<label class="input-label">Telephone:</label>
			<!-- <input ng-disabled="true" class="form-control input-form" type="text" ng-model="relationType.related_people_tel_number"> -->
			<input ng-disabled="true" ng-if="relationType.related_people_tel_number" ng-model="relationType.related_people_tel_number"  class="form-control input-form" type="text" name="related_people_tel_number" id="related_people_tel_number" ui-mask="999-99-99">
			<input ng-disabled="true" ng-if="!relationType.related_people_tel_number" class="form-control input-form" type="text" name="related_people_tel_number" id="related_people_tel_number" >
		</div>
	</div>
	<div class="col-lg-3">
		<div>
			<label class="input-label"><i class="glyphicon [[ glyphiconTelephone ]]"></i> 2. Area Code:</label>
			<input ng-disabled="true" class="form-control input-form" type="text" ng-model="relationType.related_people_tel_area_code_2.label">
		</div>
	</div>
	<div class="col-lg-3">
		<div>
			<label class="input-label">Telephone:</label>
			<!-- <input ng-disabled="true" class="form-control input-form" type="text" ng-model="relationType.related_people_tel_number_2"> -->
			<input ng-disabled="true" ng-if="relationType.related_people_tel_number_2" ng-model="relationType.related_people_tel_number_2" class="form-control input-form" type="text" name="related_people_tel_number_2" id="related_people_tel_number_2" ui-mask="999-99-99">
			<input ng-disabled="true" ng-if="!relationType.related_people_tel_number_2" class="form-control input-form" type="text" name="related_people_tel_number_2" id="related_people_tel_number_2" >
		</div>
	</div>
</div>
<div class="form-group">
	<div class="col-lg-2">
		<div>
			<label class="input-label"><i class="glyphicon [[ glyphiconMobile ]]"></i> 1. Network:</label>
			<input ng-disabled="true" class="form-control input-form" type="text" ng-model="relationType.related_people_mobile_network.label">
		</div>
	</div>
	<div class="col-lg-1">
		<div>
			<label class="input-label" ng-class="{ 'required': !viewOnly }">Prefix:</label>
			<input ng-disabled="true" class="form-control input-form" type="text" ng-model="relationType.related_people_mobile_prefix.label">
		</div>
	</div>
	<div class="col-lg-3">
		<div>
			<label class="input-label" ng-class="{ 'required': !viewOnly }">Mobile:</label>
			<!-- <input ng-disabled="true" class="form-control input-form" type="text" ng-model="relationType.related_people_mobile_number"> -->
			<input ng-disabled="true" ng-if="relationType.related_people_mobile_prefix.label != '+' && relationType.related_people_mobile_number" ng-model="relationType.related_people_mobile_number" class="form-control input-form" type="text" name="related_people_mobile_number" id="related_people_mobile_number" ui-mask="99-99-999">
			<input ng-disabled="true" ng-if="relationType.related_people_mobile_prefix.label == '+' || !relationType.related_people_mobile_number" class="form-control input-form" type="text" name="related_people_mobile_number_2" id="related_people_mobile_number_2" ng-model="relationType.related_people_mobile_number" >
		</div>
	</div>
	<div class="col-lg-2">
		<div>
			<label class="input-label"><i class="glyphicon [[ glyphiconMobile ]]"></i> 2. Network:</label>
			<input ng-disabled="true" class="form-control input-form" type="text" ng-model="relationType.related_people_mobile_network_2.label">
		</div>
	</div>
	<div class="col-lg-1">
		<div>
			<label class="input-label">Prefix:</label>
			<input ng-disabled="true" class="form-control input-form" type="text" ng-model="relationType.related_people_mobile_prefix_2.label">
		</div>
	</div>
	<div class="col-lg-3">
		<div>
			<label class="input-label">Mobile:</label>
			<!-- <input ng-disabled="true" class="form-control input-form" type="text" ng-model="relationType.related_people_mobile_number_2"> -->
			<input ng-disabled="true" ng-if="relationType.related_people_mobile_prefix_2.label != '+' && relationType.related_people_mobile_number_2" ng-model="relationType.related_people_mobile_number_2" class="form-control input-form" type="text" name="related_people_mobile_number_2" id="related_people_mobile_number_2" ui-mask="99-99-999" ng-model="relationType.related_people_mobile_number_2">
			<input ng-disabled="true" ng-if="relationType.related_people_mobile_prefix_2.label == '+' || !relationType.related_people_mobile_number_2" class="form-control input-form" type="text" name="related_people_mobile_number_2" id="related_people_mobile_number_2" ng-model="relationType.related_people_mobile_number_2">
		</div>
	</div>
</div>