<aside id="bio-sidebar">
	<div class="col-lg-2">
		<div id="profile-sidebar" get-width-affix>
			<!-- Take note that profile-pictures should be 200px -->
			<img src="/static/img/sample_profile_picture.jpg" ng-if="!photo" class="img-responsive profile-picture" style="width: 100%" data-toggle="tooltip" title="[[ input.first_name ]] [[ input.middle_name ]] [[ input.last_name ]]">
			<!-- ng-if will result to a bug -->
			<img align="center" ng-show="photo" ngf-thumbnail="photo" class="img-responsive profile-picture" style="width: 100%">
			<!-- <label for="profile_picture" class="change-picture-label"><img src="/static/img/camcon.png" class="change-picture-icon" data-toggle="tooltip" title="Change Picture"></label> -->
			<input type="file" ngf-select name="photo" ng-model="photo" id="profile_picture" accept="image/*" ngf-model-invalid="errorFile" class="hide">
			<div class="profile-picture-caption">[[ input.user_code ]]</div>
			<div class="single-border-end" id="bio-views">
				<p ng-click="changeContent('status')"><i class="glyphicon glyphicon-hand-right" ng-if="page == 'status'"></i> Employment Status</p>
				<p ng-click="changeContent('personal-information')"><i class="glyphicon glyphicon-hand-right" ng-if="page == 'personal-information'"></i> Personal Information</p>
				<p ng-click="changeContent('educational-background')"><i class="glyphicon glyphicon-hand-right" ng-if="page == 'educational-background'"></i> Educational Background</p>
				<p ng-click="changeContent('parents')"><i class="glyphicon glyphicon-hand-right" ng-if="page == 'parents'"></i> Parents</p>
				<p ng-click="changeContent('dependents')"><i class="glyphicon glyphicon-hand-right" ng-if="page == 'dependents'"></i> Philhealth Dependents</p>
				<p ng-click="changeContent('beneficiaries')"><i class="glyphicon glyphicon-hand-right" ng-if="page == 'beneficiaries'"></i> OWWA Beneficiaries</p>
				<p ng-click="changeContent('next-of-kin')"><i class="glyphicon glyphicon-hand-right" ng-if="page == 'next-of-kin'"></i> Next of Kin</p>
				<p ng-click="changeContent('emergency')"><i class="glyphicon glyphicon-hand-right" ng-if="page == 'emergency'"></i> Emergency</p>
			</div>
			<div class="sections disabled">
				<ul>
					<li><a class="hover-green" href=""><span class="msmi-certificate"></span> CERTIFICATES</a></li>
					<li><a class="hover-green" href=""><span class="msmi-evaluation"></span> EVALUATIONS</a></li>
					<li><a class="hover-green" href=""><span class="msmi-license"></span> LICENSES</a></li>
					<li><a class="hover-green" href=""><span class="msmi-service"></span> SERVICES</a></li>
					<li><a class="hover-green" href=""><span class="msmi-relation"></span> REFERRALS</a></li>
				</ul>
			</div>
			<!-- <div class="input-group">
				<label class="input-group-addon input-label negate-padding-left">Rank:</label>
				<select class="form-control input-form">
					<option>Captain</option>
				</select>
			</div>
			<div class="input-group">
				<label class="input-group-addon input-label negate-padding-left">Status:</label>
				<select class="form-control input-form">
					<option>Onboard</option>
				</select>
			</div> -->
		</div>
	</div>
</aside>

<script type="text/javascript" src="/static/js/scripts.js"></script>