<div style="">
	<div class="form-group">
		<div class="col-lg-6">
			<!-- <h4><strong>STATUS</strong></h4> -->
			<h4><strong>EMPLOYMENT STATUS</strong></h4>
		</div>
		<div ng-if="!viewOnly" class="col-lg-6 text-right">
			<h4><span class="caret big-caret" data-toggle="collapse" data-target="#status" ng-click="dynamicCaret($event)" aria-expanded="true"></span></h4>
		</div>
	</div>
	<div id="status" class="collapse in">
		<div class="form-group">
			<div class="col-lg-2">
				<div>
					<label class="input-label" ng-class="{ 'required': validations.user_id.required }">UID:</label>
					<input ng-disabled="viewOnly" class="form-control input-form" ng-class="{ 'error': bioManagementForm.user_id.$invalid && notifications }" type="text" ng-model="input.user_id" name="user_id" ng-required="[[ validations.user_id.required ]]" ng-blur="uniqueCheck(bioManagementForm, $event, 'uid')" ng-readonly="true" numbers-only>
					<!-- TODO: Unique Validation -->
					<!-- TOOD: Default integrated with database -->
				</div>
				<span class="errors" id="error-bio-uid">
					<span ng-if="bioManagementForm.user_id.$error.required && notifications"> * [[ requiredMessage ]] <br /></span>
					<span ng-if="bioManagementForm.user_id.$error.unique">* This UID [[ errorDuplicate ]] <br /></span>
				</span>
			</div>
			<div class="col-lg-3">
				<div>
					<label class="input-label twin " ng-class="{ 'required': validations.employee_type.required }">Employee Type:</label>
					<input ng-if="viewOnly" ng-disabled="viewOnly" class="form-control input-form" type="text" ng-model="input.employee_type.label">
					<select ng-if="!viewOnly" ng-disabled="viewOnly" class="form-control input-form" ng-model="input.employee_type" id="employee_type" name="employee_type"  ng-options="x.value as x.label for x in employeeTypeOptions" ng-required="[[ validations.employee_type.required ]]" ng-change="changeEmployeeType()"></select>
				</div>
				<span class="errors" id="error-bio-employee-type">
					<span ng-if="bioManagementForm.employee_type.$error.required && notifications"> * [[ requiredMessage ]] <br /></span>
				</span>
			</div>
			<div class="col-lg-3" ng-if="employeeTypes[input.employee_type] == 'STAFF' || employeeTypes[input.employee_type] == 'Staff' || input.employee_type.label == 'STAFF' || input.employee_type.label == 'Staff' ">
				<div>
					<label class="input-label twin " ng-class="{ 'required': validations.employment_type.required }">Employment Type:</label>
					<input ng-if="viewOnly" ng-disabled="viewOnly" class="form-control input-form" type="text" ng-model="input.employment_type.label">
					<select ng-if="!viewOnly" class="form-control input-form" ng-class="{ 'error': bioManagementForm.employment_type.$invalid && notifications }" name="employment_type" ng-model="input.employment_type" ng-options="x.value as x.label for x in employmentTypeOptions" ng-required="[[ validations.employment_type.required ]]">
					</select>
				</div>
				<span class="errors" id="error-bio-employment-type">
					<span ng-if="bioManagementForm.employee_type.$error.required && notifications"> * [[ requiredMessage ]] <br /></span>
				</span>
			</div>
			<div class="col-lg-2" ng-if="employeeTypes[input.employee_type] == 'SEAFARER' || employeeTypes[input.employee_type] == 'Seafarer' || input.employee_type.label == 'SEAFARER' || input.emploempyee_type.label == 'Seafarer'">
				<div>
					<label class="input-label " ng-class="{ 'required': validations.bio_status.required }">Employment Status:</label>
					<input ng-if="viewOnly" ng-disabled="viewOnly" class="form-control input-form" type="text" ng-model="input.status.label">
					<select ng-if="!viewOnly" name="bio_status" class="form-control input-form" ng-class="{ 'error': bioManagementForm.bio_status.$invalid && notifications }" ng-model="input.bio_status" ng-options="x.value as x.label for x in bioStatusOptions" ng-required="[[ validations.bio_status.required ]]" ng-disabled="viewOnly">
					</select>
					<!-- <input ng-disabled="viewOnly" ng-model="input.bio_status" id="bio_status" name="bio_status" class="form-control input-form" type="text" ng-required="[[ validations.bio_status.required ]]"> -->
				</div>
				<span class="errors" id="error-bio-status">
					<span ng-if="bioManagementForm.bio_status.$error.required && notifications"> * [[ requiredMessage ]] <br /></span>
				</span>
			</div>
			<div class="col-lg-3" ng-if="employeeTypes[input.employee_type] == 'SEAFARER' || employeeTypes[input.employee_type] == 'Seafarer' || input.employee_type.label == 'SEAFARER' || input.employee_type.label == 'Seafarer'">
				<div>
					<label class="input-label" ng-class="{ 'required': validations.availability_date.required }">Availability:</label>
					<input ng-disabled="viewOnly" class="form-control input-form" ng-class="{ 'error': bioManagementForm.availability_date.$invalid && notifications }" type="text" ng-model="input.availability_date" name="availability_date" id="availability_date" ng-required="[[ validations.availability_date.required ]]" datepicker>
				</div>
				<span class="errors" id="error-bio-availability-date">
					<span ng-if="bioManagementForm.availability_date.$error.required && notifications"> * [[ requiredMessage ]] <br /></span>
				</span>
			</div>
			<div class="col-lg-2" ng-if="employeeTypes[input.employee_type] != 'SEAFARER' && employeeTypes[input.employee_type] != 'Seafarer' && input.employee_type.label != 'SEAFARER' && input.employee_type.label != 'Seafarer'">
				<div>
					<label class="input-label " ng-class="{ 'required': validations.title.required }">Title:</label>
					<input ng-if="viewOnly" ng-disabled="viewOnly" class="form-control input-form" type="text" ng-model="input.title.label">
					<select ng-if="!viewOnly" name="title" class="form-control input-form" ng-class="{ 'error': bioManagementForm.title.$invalid && notifications }" ng-disabled="viewOnly" id="title" ng-model="input.title" ng-options="x.value as x.label for x in titleOptions" ng-required="[[ validations.title.required ]]">
						<option value=""></option>
					</select>
				</div>
				<!-- Required not yet clarified -->
			</div>
			<div class="col-lg-2" ng-if="employeeTypes[input.employee_type] != 'SEAFARER' && employeeTypes[input.employee_type] != 'Seafarer' && input.employee_type.label != 'SEAFARER' && input.employee_type.label != 'Seafarer'">
				<div>
					<label class="input-label" ng-class="{ 'required': validations.company_id_number.required }">Company ID:</label>
					<input  ng-disabled="viewOnly" class="form-control input-form" ng-class="{ 'error': bioManagementForm.company_id_number.$invalid && notifications }" type="text" name="company_id_number" id="company_id_number" ng-model="input.company_id_number" ng-required="[[ validations.company_id_number.required ]]" maxlength="[[ validations.company_id_number.max_length ]]">
				</div>
				<span class="errors" id="error-bio-company-id">
					<span ng-if="bioManagementForm.company_id_number.$error.maxlength">* Maximum of [[ validations.company_id_number.max_length ]] characters <br /></span>
				</span>
			</div>
		</div>
		<div class="form-group">
			<div ng-class="{ 'col-lg-5': employeeTypes[input.employee_type] == 'STAFF' || employeeTypes[input.employee_type] == 'Staff' || input.employee_type.label == 'STAFF' || input.employee_type.label == 'Staff', 'col-lg-8': employeeTypes[input.employee_type] != 'STAFF' || employeeTypes[input.employee_type] != 'Staff' || input.employee_type.label != 'STAFF' || input.employee_type.label != 'Staff'}">
				<div>
					<label class="input-label " ng-class="{ 'required': validations.current_company.required }">Company:</label>
					<!-- <input ng-disabled="viewOnly" class="form-control input-form" type="text"> -->
					<input ng-if="viewOnly" ng-disabled="viewOnly" class="form-control input-form" type="text" ng-model="input.current_company.label">
					<select ng-if="!viewOnly" class="form-control input-form" ng-class="{ 'error': bioManagementForm.current_company.$invalid && notifications }" ng-model="input.current_company" id="current_company" name="current_company" ng-required="[[ validations.current_company.required ]]" ng-options="x.value as x.label for x in companyOptions" ng-disabled="viewOnly" ng-change="uidGenerator()">
					</select>
					<!-- TODO: integrate choices with API -->
				</div>
				<span class="errors" id="error-bio-current-company">
					<span ng-if="bioManagementForm.current_company.$error.required && notifications"> * [[ requiredMessage ]] <br /></span>
				</span>
			</div>
			<div ng-class="{ 'col-lg-3': employeeTypes[input.employee_type] == 'STAFF' || employeeTypes[input.employee_type] == 'Staff' || input.employee_type.label == 'STAFF' || input.employee_type.label == 'Staff', 'col-lg-2': employeeTypes[input.employee_type] != 'STAFF' && employeeTypes[input.employee_type] != 'Staff' && input.employee_type.label != 'STAFF' && input.employee_type.label != 'Staff'}">
				<div>
					<label class="input-label twin " ng-class="{ 'required': validations.in_company_since.required }">Since:</label>
					<input ng-disabled="viewOnly" class="form-control input-form since birth_date" ng-class="{ 'error': bioManagementForm.in_company_since.$invalid && notifications }" type="text" id="in_company_since" name="in_company_since" ng-model="input.in_company_since" ng-required="[[ validations.in_company_since.required ]]" ng-model-options="{allowInvalid: true}" datepicker>
				</div>
				<span class="errors" id="error-bio-in-company-since">
					<span ng-if="bioManagementForm.in_company_since.$error.required && notifications"> * [[ requiredMessage ]] <br /></span>
				</span>
			</div>
			<div class="col-lg-2">
				<div>
					<label class="input-label" ng-class="{ 'required': validations.in_company_until.required }">Until:</label>
					<input ng-disabled="viewOnly" name="in_company_until" class="form-control input-form until" ng-class="{ 'error': bioManagementForm.in_company_until.$invalid && notifications }" type="text" id="in_company_until" ng-model="input.in_company_until" ng-required="[[ validations.in_company_until.required ]]" datepicker>
				</div>
				<span class="errors" id="error-bio-in-company-until">
					
				</span>
			</div>
			<div class="col-lg-2" ng-if="employeeTypes[input.employee_type] == 'STAFF' || employeeTypes[input.employee_type] == 'Staff' || input.employee_type.label == 'STAFF' || input.employee_type.label == 'Staff'">
				<div>
					<label class="input-label">Years in Company:</label>
					<input ng-disabled="true" class="form-control input-form disabled important" type="number" value="[[ input.in_company_since | sinceUntilFilter: input.in_company_until ]]" disabled="">
					<!-- TODO: Get the specific key from JED -->
				</div>
			</div>
		</div>
		<div class="form-group" ng-if="employeeTypes[input.employee_type] == 'SEAFARER' || employeeTypes[input.employee_type] == 'Seafarer' || input.employee_type.label == 'SEAFARER' || input.employee_type.label == 'Seafarer'">
			<div class="col-lg-4">
				<div>
					<!-- ng-class="{ 'required': !viewOnly }", removed because of cadet purposes which have no ranks before -->
					<label class="input-label " ng-class="{ 'required': validations.last_rank.required }">Rank:</label>
					<!-- <input ng-disabled="viewOnly" class="form-control input-form" type="text"> -->
					<input ng-if="viewOnly" ng-disabled="viewOnly" class="form-control input-form" type="text" ng-model="input.last_rank.label">
					<select ng-if="!viewOnly" class="form-control input-form" ng-class="{ 'error': bioManagementForm.last_rank.$invalid && notifications }" id="last_rank" name="last_rank" ng-model="input.last_rank" ng-required="[[ validations.last_rank.required ]]" ng-options="x.value as x.label for x in rankOptions" ng-disabled="viewOnly">
						<option value=""></option>
					</select>
					<!-- TODO: integrate choices with API -->
				</div>
			</div>
			<div class="col-lg-4">
				<div>
					<!-- ng-class="{ 'required': !viewOnly }", removed because of cadet purposes which have no vessels before -->
					<label class="input-label " ng-class="{ 'required': validations.last_vessel.required }">Vessel:</label>
					<input ng-disabled="true" ng-if="viewOnly" class="form-control input-form" type="text">
					<!-- <select ng-if="!viewOnly" class="form-control input-form" id="last_vessel" ng-model="input.last_vessel" ng-required="[[ validations.last_vessel.required ]]"> -->
					<select name="last_vessel" ng-if="!viewOnly" class="form-control input-form" ng-class="{ 'error': bioManagementForm.last_vessel.$invalid && notifications }" id="last_vessel" ng-required="[[ validations.last_vessel.required ]]" ng-disabled="viewOnly"> <!-- TODO: select with model(uncomment the select tag above) -->
						<option></option>
						<option>PROM</option>
						<option>PRIDE</option>
						<option>PROT</option>
						<option>PROG</option>
						<option>AURA</option>
					</select>
					<!-- TODO: integrate choices with API -->
				</div>
			</div>
			<div class="col-lg-2">
				<div>
					<label class="input-label">Years in Company:</label>
					<input ng-disabled="true" class="form-control input-form disabled important" type="number" value="[[ input.in_company_since | sinceUntilFilter: input.in_company_until ]]">
					<!-- TODO: Get the specific key from JED -->
				</div>
			</div>
		</div>
		<div class="form-group"  ng-if="employeeTypes[input.employee_type] == 'SEAFARER' || employeeTypes[input.employee_type] == 'Seafarer' || input.employee_type.label == 'SEAFARER' || input.employee_type.label == 'Seafarer'">
			<!-- <div class="col-lg-2 col-lg-offset-2">
				<div>
					<label class="input-label">Years in Company:</label>
					<input ng-disabled="viewOnly" class="form-control input-form disabled important" type="number" value="[[ input.in_company_since | sinceUntilFilter: input.in_company_until ]]">
				</div>
			</div> -->
			<div class="col-lg-4">
				<div>
					<label class="input-label">Years in Rank:</label>
					<input ng-disabled="true" class="form-control input-form disabled" type="number" disabled="" value="">
					<!-- TODO: Get the specific key from JED -->
				</div>
			</div>
			<div class="col-lg-4">
				<div>
					<label class="input-label twin">Years in Vessel Type:</label>
					<input ng-disabled="true" class="form-control input-form twin disabled" type="text" value="">
					<input ng-disabled="true" class="form-control input-form twin second-twin-margin disabled" type="text" value="">
					<!-- TODO: Get the specific key from JED -->
				</div>
			</div>
			<div class="col-lg-2">
				<div>
					<label class="input-label" ng-class="{ 'required': validations.company_id_number.required }">Company ID:</label>
					<input name="company_id_number" ng-disabled="viewOnly" class="form-control input-form" ng-class="{ 'error': bioManagementForm.company_id_number.$invalid && notifications }" type="text" id="company_id_number" ng-model="input.company_id_number" ng-required="[[ validations.company_id_number.required ]]" maxlength="[[ validations.company_id_number.max_length ]]">
				</div>
				<span class="errors" id="error-bio-company-id">
					<span ng-if="bioManagementForm.company_id_number.$error.maxlength">* Maximum of [[ validations.company_id_number.max_length ]] characters <br /></span>
				</span>
			</div>
		</div>
		<div class="form-group">
			<div class="col-lg-3">
				<div>
					<label class="input-label" ng-class="{ 'required': validations.separation_date.required }">Separation Date:</label>
					<input ng-disabled="viewOnly" class="form-control input-form" ng-class="{ 'error': bioManagementForm.separation_date.$invalid && notifications }" type="text" ng-model="input.separation_date" id="separation_date" name="separation_date" ng-required="[[ validations.separation_date.required ]]" ng-change="separationDate()" datepicker>
				</div>
			</div>
			<div class="col-lg-3">
				<div>
					<label class="input-label " ng-class="{ 'required': !viewOnly && input.separation_date }">Separation Type:</label>
					<input ng-if="viewOnly" ng-disabled="viewOnly" class="form-control input-form" type="text" ng-model="input.separation_type.label">
					<select ng-if="!viewOnly" ng-disabled="viewOnly || !input.separation_date" ng-class="{ 'error': bioManagementForm.separation_type.$invalid && notifications }" class="form-control input-form" name="separation_type" ng-model="input.separation_type" id="separation_type" ng-options="x.value as x.label for x in separationTypeOptions" ng-required="input.separation_date">
						<option value=""></option>
					</select>
				</div>
				<span class="errors" id="error-bio-separation-type">
					<span ng-if="bioManagementForm.separation_type.$error.required && notifications"> * [[ requiredMessage ]] <br /></span>
				</span>
			</div>
			<div class="col-lg-6">
				<div>
					<label class="input-label " ng-class="{ 'required': !viewOnly && input.separation_date }">Comments:</label>
					<input ng-disabled="viewOnly || !input.separation_date" class="form-control input-form" ng-class="{ 'error': bioManagementForm.separation_comments.$invalid && notifications }" type="text" ng-model="input.separation_comments" id="separation_comments" name="separation_comments" ng-required="input.separation_date" maxlength="[[ validations.separation_comments.max_length ]]">
				</div>
				<span class="errors" id="error-bio-separation-comments">
					<span ng-if="bioManagementForm.separation_comments.$error.maxlength">* Maximum of [[ validations.separation_comments.max_length ]] characters <br /></span>
				</span>
			</div>
		</div>
	</div>
<!-- </div>