<div class="container"> <!-- START class="container" -->
	<div id="crew-menu-header"> <!-- START id="crew-menu-header" -->
		<strong>NEW USER</strong>
	</div> <!-- END id="crew-menu-header" -->
	<form ng-controller="formController" name="userManagementForm" onsubmit="formSubmit()" novalidate> <!-- START ng-controller="formController" -->
		<div ng-include="'/static/user_management/html/form-and-notifications.html?query='+forceReload"></div>
		<div id="crew-menu-footer"> <!-- START id="crew-menu-footer" -->
			<div class="form-group screens-footer" > <!-- START class="form-group screens-footer" -->
				<div class="col-lg-2 col-lg-offset-6">
					<button class="btn form-control" ng-click="clearInput()" type="button" id="clear">CLEAR</button>
				</div>
				<div class="col-lg-2">
					<button class="btn form-control" ng-click="saveInput(userManagementForm.$invalid, input, apiAdd)" id="save">SAVE</button>
				</div>
				<!-- <div class="col-lg-2">
					<a href="#/"><button class="btn form-control" id="cancel">CANCEL</button></a>
				</div> -->
				<admin-form-cancel-button></admin-form-cancel-button>
			</div> <!-- END class="form-group screens-footer" -->
		</div>	<!-- END id="crew-menu-footer" -->				
	</form> <!-- END ng-controller="formController" -->
<!-- </div> --> <!-- END class="container"