<div id="crew-menu-body" class="form-horizontal admin-screens-body"> <!-- START id="crew-menu-body" -->
	<div class="form-group negate-margin-bottom "> <!-- START class="form-group negate-margin-bottom" -->
		<div class="col-lg-12"> <!-- START class="col-lg-12" -->
			<div class="form-group"> <!-- START class="form-group" -->
				<div class="col-lg-4">
					<div class="input-group">
						<label class="input-group-addon input-label" ng-class="{ 'required': validations.last_name.required }">Last Name: </label>
						<input type="text" class="form-control input-form" ng-class="{ 'error': userManagementForm.last_name.$invalid && notifications }" ng-model="input.last_name" ng-class="{ 'error': userManagementForm.last_name.$invalid && notifications }" ng-model-options="{allowInvalid: true}" name="last_name"  ng-required="[[ validations.last_name.required ]]">
					</div>
					<span class="errors" id="error-last-name" > 
						<span ng-if="userManagementForm.last_name.$error.required && notifications">* [[ requiredMessage ]]</span>
					</span>
				</div>
				<div class="col-lg-4">
					<div class="input-group">
						<label class="input-group-addon input-label " ng-class="{ 'required': validations.first_name.required }">First Name:</label>
						<input class="form-control input-form" ng-class="{ 'error': userManagementForm.first_name.$invalid && notifications }" ng-model="input.first_name" ng-class="{ 'error': userManagementForm.last_name.$invalid && notifications }" ng-model-options="{allowInvalid: true}" name="first_name" type="text" ng-required="[[ validations.first_name.required ]]">
					</div>
					<span class="errors" id="error-first-name">
						<!-- <span ng-hide="!userManagementForm.first_name.$error." ng-class="{ 'required': validations.last_name.required }"> * [[ requiredMessage ]] </span>  -->
						<span ng-if="userManagementForm.first_name.$error.required && notifications"> * [[ requiredMessage ]] </span>
					</span>
				</div>
				<div class="col-lg-4">
					<div class="input-group">
						<label class="input-group-addon input-label" ng-class="{ 'required': validations.middle_name.required }">Middle Name:</label>
						<input class="form-control input-form" ng-class="{ 'error': userManagementForm.middle_name.$invalid && notifications }" ng-model="input.middle_name" ng-class="{ 'error': userManagementForm.last_name.$invalid && notifications }" ng-model-options="{allowInvalid: true}" name="middle_name" type="text" ng-required="[[ validations.middle_name.required ]]">
					</div>
				</div>
			</div> <!-- END class="form-group" -->
			<div class="form-group"> <!-- START class="form-group" -->
				<div class="col-lg-3">
					<div class="input-group">
						<label class="input-group-addon input-label " ng-class="{ 'required': validations.user_code.required }">Code:</label>
						<input class="form-control input-form user-code" ng-class="{ 'error': userManagementForm.user_code.$invalid && notifications }" ng-model="input.user_code" ng-class="{ 'error': userManagementForm.last_name.$invalid && notifications }" ng-model-options="{allowInvalid: true}" name="user_code" type="text" maxlength="[[ validations.user_code.max_length ]]" minlength="[[ validations.user_code.min_length ]]" ng-change="input.username = input.user_code" ng-keyup="uniqueCheck(userManagementForm, 'bio__user_code__iexact', validations.user_code.min_length, $event, code_readonly)" ng-readonly="[[ code_readonly ]]" ng-required="[[ validations.user_code.required ]]">
					</div>
					<span class="errors" id="error-user-code">
						<!-- <span ng-hide="!userManagementForm.user_code.$error." ng-class="{ 'required': validations.last_name.required }">* [[ requiredMessage ]] <br /></span>  -->
						<span ng-if="userManagementForm.user_code.$error.required && notifications"> * [[ requiredMessage ]] </span>
						<span ng-if="userManagementForm.user_code.$error.maxlength || userManagementForm.user_code.$error.minlength">* Must be exactly [[ validations.user_code.min_length ]] characters <br /></span> 
						<span ng-if="userManagementForm.user_code.$error.unique">* This code [[ errorDuplicate ]] <br /></span> 
						<!-- <span ng-hide="!userManagementForm.user_code.$error." ng-class="{ 'required': validations.last_name.required }">* [[ requiredMessage ]]</span> <br />
						<span  ng-if="userManagementForm.user_code.$error.maxlength || userManagementForm.user_code.$error.minlength">* Must be exactly [[ validations.user_code.min_length ]] characters</span> <br />
						<span ng-if="userManagementForm.user_code.$error.unique">* This code [[ errorDuplicate ]]</span> <br /> -->
					</span>	
				</div>
				<!-- <div class="col-lg-4">
					<div class="input-group">
						<label class="input-group-addon input-label">Username:</label>
						<input class="form-control input-form" ng-class="{ 'error': userManagementForm.last_name.$invalid && notifications }" ng-model="input.username" ng-class="{ 'error': userManagementForm.last_name.$invalid && notifications }" ng-model-options="{allowInvalid: true}" name="username" type="text" required>
					</div>
					<span class="errors" ng-hide="!userManagementForm.username.$error." ng-class="{ 'required': validations.last_name.required }">* [[ requiredMessage ]]</span>
				</div> -->
				<div class="col-lg-4">
					<div class="input-group">
						<label class="input-group-addon input-label " ng-class="{ 'required': validations.email.required }">E-mail:</label>
						<input class="form-control input-form" ng-class="{ 'error': userManagementForm.email.$invalid && notifications }" ng-model="input.email" ng-class="{ 'error': userManagementForm.last_name.$invalid && notifications }" ng-model-options="{allowInvalid: true}" name="email" type="email" maxlength="[[ validations.email.max_length ]]" ng-keyup="uniqueCheck(userManagementForm, 'email__iexact', [30, validations.email.max_length], $event, userManagementForm.email.$valid)" ng-required="[[ validations.email.required ]]">
					</div>
					<span class="errors" id="error-email">
						<!-- <span ng-hide="!userManagementForm.email.$error." ng-class="{ 'required': validations.last_name.required }">* [[ requiredMessage ]] <br /></span> -->
						<span ng-if="userManagementForm.email.$error.required && notifications"> * [[ requiredMessage ]] </span>
						<span ng-if="userManagementForm.email.$error.email">* Must be a valid email <br /></span>
						<span ng-if="userManagementForm.email.$error.maxlength">* Maximum of [[ validations.email.max_length ]] characters</span>
						<span ng-if="userManagementForm.email.$error.unique">* Email [[ errorDuplicate ]] <br /></span>
					</span>
				</div>
				<div class="col-lg-3">
					<div class="input-group">
						<label class="input-group-addon input-label" style="color:#ccc">Group:</label>
						<!-- <input class="form-control input-form" disabled> -->
						<select class="form-control input-form" style="border:3px solid #ccc !important" disabled="">
							<option></option>
						</select>
					</div>
				</div>
				<div class="col-lg-2  col-form-button">
						<button class="form-control input-form btn-msmi-disabled" type="text" disabled="">MANAGE GROUP</button>
				</div>
			</div> <!-- END class="form-group" -->
			<!-- <div class="form-group"> --> <!-- START class="form-group" -->
				<!-- <div class="col-lg-6">
					<div class="input-group">
						<label class="input-group-addon input-label">Password:</label>
						<input class="form-control input-form" ng-class="{ 'error': userManagementForm.last_name.$invalid && notifications }" ng-model="input.password" ng-class="{ 'error': userManagementForm.last_name.$invalid && notifications }" ng-model-options="{allowInvalid: true}" name="password" type="password" minlength="8" no-white-space required>
					</div>
					<span class="errors" ng-hide="!userManagementForm.password.$error." ng-class="{ 'required': validations.last_name.required }">* [[ requiredMessage ]]</span>
					<span class="errors" ng-if="userManagementForm.password.$error.minlength">* Must be at least 8 characters</span>
				</div>
				<div class="col-lg-6">
					<div class="input-group">
						<label class="input-group-addon input-label">Confirm Password:</label>
						<input class="form-control input-form" ng-class="{ 'error': userManagementForm.last_name.$invalid && notifications }" ng-model="input.confirm_password" ng-class="{ 'error': userManagementForm.last_name.$invalid && notifications }" ng-model-options="{allowInvalid: true}" name="confirm_password" type="password" valid-password-confirmation="input.password" minlength="8" no-white-space required>
					</div>
					<span class="errors" ng-hide="!userManagementForm.confirm_password.$error." ng-class="{ 'required': validations.last_name.required }">* [[ requiredMessage ]]</span>
					<span class="errors">
						<span  ng-if="userManagementForm.confirm_password.$error.noMatch && !userManagementForm.confirm_password.$error." ng-class="{ 'required': validations.last_name.required }">* Must match with password </span> <br />
						<span ng-if="userManagementForm.confirm_password.$error.minlength">* Must be at least 8 characters</span>
					</span>
				</div> -->
			<!-- </div> --> <!-- END class="form-group" -->
		</div> <!-- END class="col-lg-12" -->
	</div> <!-- END class="form-group negate-margin-bottom" -->
</div> <!-- END id="crew-menu-body" -->