<div id="crew-menu-header"> <!-- START id="crew-menu-header" -->
	<strong>UPDATE USER</strong>
</div> <!-- END id="crew-menu-header" -->
<form ng-controller="formController" name="userManagementForm" onsubmit="formSubmit()" novalidate> <!-- START ng-controller="formController" -->
	<div ng-include="'/static/user_management/html/form-and-notifications.html?query='+forceReload"></div>
	<div id="crew-menu-footer"> <!-- START id="crew-menu-footer" -->
		<div class="form-group screens-footer" > <!-- START class="form-group screens-footer" -->
			<div class="col-lg-2 col-lg-offset-6">
				<button class="btn form-control" type="button" ng-click="clearNotAll(['user_code', 'email', 'username'])" id="clear">CLEAR</button>
			</div>
			<div class="col-lg-2">
				<button class="btn form-control" ng-disabled="rankManagementForm.$invalid" ng-click="toggleModal()" id="confirmation-save">SAVE</button>
			</div>
			<!-- <div class="col-lg-2">
				<a href="#/"><button class="btn form-control" id="cancel">CANCEL</button></a>
			</div> -->
			<admin-form-cancel-button></admin-form-cancel-button>
		</div> <!-- END class="form-group screens-footer" -->
	</div>	<!-- END id="crew-menu-footer" -->
	<confirmation-modal title="Please Confirm" visible="showModal"> <!-- START delete-modal -->
		<div class="form-group">
			Are you sure you want to update the record?
		</div>
		<div class="text-right">
			<button class="btn btn-default" data-dismiss="modal" id="update-cancel">Cancel</button>
			<a href="" target="_blank" ng-click="updateInput(userManagementForm.$invalid, input, apiUpdate)" ><button class="btn" data-dismiss="modal" id="save">Save</button></a>
		</div>
	</confirmation-modal> <!-- END delete-modal -->
</form> <!-- END ng-controller="formController" -->