<div id="crew-menu-body" class="form-horizontal screens-body">
		<div class="form-group negate-margin-bottom">
			<aside>
				<div class="col-lg-3">
					<div id="profile-sidebar" get-width-affix>
					<!-- <div id="profile-sidebar"> -->
						<!-- Take note that profile-pictures should be at least 265px -->
						<span ng-if="operation == 'update' || operation == 'add'">
							<img align="center" ng-if="!principal_logo" src="/static/img/sample_logo.jpg" class="img-responsive profile-picture">
							<!-- ng-if in the image will result to a bug -->
							<img align="center" ng-show="principal_logo" ngf-thumbnail="principal_logo" class="img-responsive profile-picture">
						</span>
						<label for="principal_logo" class="change-picture-label"><img src="/static/img/camcon.png" class="change-picture-icon" data-toggle="tooltip" title="Change Picture" ng-if="!viewOnly"></label>
						<!-- <input type="file" ngf-select ng-class="{ 'error': principalManagementForm.principal_full.$invalid && notifications }" ng-model="principal_logo" name="principal_logo" id="principal_logo" ngf-model-invalid="errorFile" class="hide"> -->
						<input type="file" ngf-select ng-class="{ 'error': principalManagementForm.principal_logo.$invalid && notifications }" ng-model="principal_logo" name="principal_logo" id="principal_logo" accept="image/*" ngf-model-invalid="errorFile" class="hide">
						<div>
							<!-- <label class=" input-label negate-padding-left">Code:</label> -->
							<input class="form-control code text-center attached-with-pic" ng-class="{ 'error': principalManagementForm.principal_code.$invalid && notifications }" ng-model="input.principal_code" ng-model-options="{allowInvalid: true}"  name="principal_code" id="principal_code" type="text" minlength="[[ validations.principal_code.min_length ]]" maxlength="[[ validations.principal_code.max_length ]]" ng-keyup="uniqueCheck(principalManagementForm, $event, code_readonly)" ng-readonly="[[ code_readonly ]]" ng-disabled="[[ viewOnly ]]" placeholder="CODE" ng-required="[[ validations.principal_code.required ]]">
						</div>
						<span class="errors reversed" id="error-principal-code">
							<div class="text-center">
							<span ng-if="principalManagementForm.principal_code.$error.required && notifications"> * [[ requiredMessage ]] <br /></span>
							<span ng-if="principalManagementForm.principal_code.$error.unique && notifications">* This code [[ errorDuplicate ]] <br /></span>
							<span ng-if="principalManagementForm.principal_code.$error.minlength || principalManagementForm.principal_code.$error.maxlength && notifications">* Code length must be [[ validations.principal_code.min_length ]] to [[ validations.principal_code.max_length ]] <br /></span>
							</div>
						</span>
						<!-- <p><textarea class="form-control" style="resize: both;">[[ input ]]</textarea></p> -->
					</div>
				</div>
			</aside>
			<div class="col-lg-9 profile-border">
				<div class="form-group">
					<div class="col-lg-6">
						<div>
							<label class=" input-label" ng-class="{ 'required': validations.principal_full.required }">Name:</label>
							<input class="form-control input-form" ng-class="{ 'error': principalManagementForm.principal_full.$invalid && notifications }" ng-model="input.principal_full" ng-model-options="{allowInvalid: true}"  name="principal_full" id="principal_full" type="text" minlength="[[ validations.principal_full.min_length ]]" maxlength="[[ validations.principal_full.max_length ]]" ng-disabled="[[ viewOnly ]]" ng-required="[[ validations.principal_full.required ]]">
						</div>
						<span class="errors" id="error-principal-full">
							<!-- <span ng-hide="!principalManagementForm.principal_full.$error.required"> * [[ requiredMessage ]] <br /></span> --> 
							<span ng-if="principalManagementForm.principal_full.$error.required && notifications"> * [[ requiredMessage ]] <br /></span>
							<span ng-if="principalManagementForm.principal_full.$error.minlength || principalManagementForm.principal_full.$error.maxlength">* Code length must be [[ validations.principal_full.min_length ]] to [[ validations.principal_full.max_length ]]  <br /></span>
						</span>
					</div>
					<div class="col-lg-6">
						<div>
							<label class=" input-label" ng-class="{ 'required': validations.principal_master.required }">Main Principal:</label>
							<!-- <input class="form-control input-form" type="text" ng-class="{ 'error': principalManagementForm.principal_full.$invalid && notifications }" ng-model="input.principal_master" ng-model-options="{allowInvalid: true}" ng-disabled="[[ viewOnly ]]" > -->
							<select ng-if="operation == 'add'" name="principal_master" class="form-control input-form" ng-class="{ 'error': principalManagementForm.principal_master.$invalid && notifications }" ng-model="input.principal_master.id" ng-options="x.value as x.label for x in principalMastersLists" ng-init="input.principal_master.id=principalMastersLists[0]['value']" ng-disabled="[[ viewOnly ]]">
							</select>
							<select ng-if="operation == 'update'" name="principal_master" class="form-control input-form" ng-class="{ 'error': principalManagementForm.principal_master.$invalid && notifications }" ng-model="input.principal_master.id" ng-options="x.value as x.label for x in principalMastersLists" ng-disabled="[[ viewOnly ]]" ng-required="[[ validations.principal_master.required ]]">
							</select>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="col-lg-4">
						<div>
							<label class=" input-label" ng-class="{ 'required': validations.principal_sss.required }">SSS No.:</label>
							<input class="form-control input-form" type="text" ng-class="{ 'error': principalManagementForm.principal_sss.$invalid && notifications }" ng-model="input.principal_sss" ng-model-options="{allowInvalid: true}"  name="principal_sss" id="principal_sss" ui-mask="99-9999999-9" ng-disabled="[[ viewOnly ]]" ng-required="[[ validations.principal_sss.required ]]">
						</div>
						<span class="errors" id="error-principal-sss">
							<!-- <span  ng-if="principalManagementForm.principal_sss.$error.required">* [[ requiredMessage ]] <br /></span> -->
							<span  ng-if="principalManagementForm.principal_sss.$error.required && notifications">* [[ requiredMessage ]] <br /></span>
							<span  ng-if="principalManagementForm.principal_sss.$invalid && !principalManagementForm.principal_sss.$error.required">* Must be exactly [[ validations.principal_sss.min_length ]] characters <br /></span>
							<span ng-if="principalManagementForm.principal_sss.$error.unique">* This code [[ errorDuplicate ]] <br /></span>
						</span>	
					</div>
					<div class="col-lg-4">
						<div>
							<label class=" input-label" ng-class="{ 'required': validations.principal_philhealth.required }">PhilHealth No.:</label>
							<input class="form-control input-form" type="text" ng-class="{ 'error': principalManagementForm.principal_philhealth.$invalid && notifications }" ng-model="input.principal_philhealth" ng-model-options="{allowInvalid: true}"  name="principal_philhealth" id="principal_philhealth" ui-mask="99-999999999-9" ng-disabled="[[ viewOnly ]]" ng-required="[[ validations.principal_philhealth.required ]]">
						</div>
						<span class="errors" id="error-principal-philhealth">
							<!-- <span  ng-if="principalManagementForm.principal_philhealth.$error.required">* [[ requiredMessage ]] <br /></span> -->
							<span  ng-if="principalManagementForm.principal_philhealth.$error.required && notifications">* [[ requiredMessage ]] <br /></span>
							<span  ng-if="principalManagementForm.principal_philhealth.$invalid && !principalManagementForm.principal_philhealth.$error.required">* Must be exactly [[ validations.principal_philhealth.min_length ]] characters <br /></span>
							<span ng-if="principalManagementForm.principal_philhealth.$error.unique">* This code [[ errorDuplicate ]] <br /></span>
						</span>	
					</div>
					<div class="col-lg-4">
						<div>
							<label class=" input-label" ng-class="{ 'required': validations.principal_email_address.required }">Email:</label>
							<input class="form-control input-form" type="email" ng-class="{ 'error': principalManagementForm.principal_email_address.$invalid && notifications }" ng-model="input.principal_email_address" ng-model-options="{allowInvalid: true}"  name="principal_email_address" id="principal_email_address" maxlength="[[ validations.principal_email_address.max_length ]]" ng-disabled="[[ viewOnly ]]" ng-required="[[ validations.principal_email_address.required ]]">
						</div>
						<span class="errors" id="error-email">
							<!-- <span ng-hide="!principalManagementForm.principal_email_address.$error.required">* [[ requiredMessage ]] <br /></span> -->
							<span ng-if="principalManagementForm.principal_email_address.$error.required && notifications">* [[ requiredMessage ]] <br /></span>
							<span ng-if="principalManagementForm.principal_email_address.$error.email">* Must be a valid email <br /></span>
							<span ng-if="principalManagementForm.principal_email_address.$error.maxlength">* Maximum of [[ validations.principal_email_address.max_length ]] characters <br /></span>
						</span>
					</div>
				</div>
				<div class="form-group">
					<!-- <div class="col-lg-12"> -->
						<div class="col-lg-6">
							<h3>
								<strong>LOCATIONS</strong>
							</h3>
						</div>
						<div class="col-lg-6 text-right">
							<h3>
								<span class="caret big-caret" data-toggle="collapse" data-target="#locations" ng-click="dynamicCaret($event)"></span>
							</h3>
						</div>
					<!-- </div> -->
				</div>
				<div id="locations" class="collapse in">
					<fieldset ng-repeat="principalAddress in principalAddresses" data-ng-form="nestedAddressesForm" ng-if="!principalAddress.delete">
						<div class="form-group">
							<div class="col-lg-12">
								<!-- <div class="col-lg-12"> -->
									<div class="col-lg-12 negate-padding-left title-with-border">
										<!-- <h3 class="">ADDRESS [[ $index + 1 ]]</h3> -->
										<div class="col-lg-6 negate-padding-left">
											<h3 class="">ADDRESS [[ $index + 1 ]]</h3>
										</div>
										<div class="col-lg-6 negate-padding-right" ng-if="!viewOnly">
											<!-- <h3>Negate</h3> -->
											<h4 class="h4-column-glyphicons-right ">
												<span ng-if="$index" class="glyphicon [[ glyphiconRemoveObject ]]" data-toggle="tooltip" title="Remove Address" ng-click="removeNestedModels(principalAddresses, $index)"></span>
											</h4>
										</div> 
									</div>
								<!-- </div> -->
							</div>
						</div>
						<div class="form-group">
							<div class="col-lg-6">
								<div>
									<label class=" input-label" ng-class="{ 'required': validations.principal_address.required }">Address:</label>
									<input class="form-control input-form" type="text" ng-class="{ 'error': nestedAddressesForm.principal_address.$invalid && notifications }" ng-model="principalAddress.principal_address" ng-model-options="{allowInvalid: true}"  name="principal_address" id="principal_address" maxlength="[[ validations.principal_address.max_length ]]" ng-disabled="[[ viewOnly ]]" ng-required="[[ validations.principal_address.required ]]">
								</div>
								<span class="errors" id="error-principal-address">
									<!-- <span ng-hide="!nestedAddressesForm.principal_address.$error.required"> * [[ requiredMessage ]] <br /></span> -->
									<span ng-if="nestedAddressesForm.principal_address.$error.required && notifications"> * [[ requiredMessage ]] <br /></span>
									<span ng-if="nestedAddressesForm.principal_address.$error.maxlength">* Maximum of [[ validations.principal_address.max_length ]] characters <br /></span>
								</span>
							</div>
							<div class="col-lg-3">
								<div>
									<label class=" input-label" ng-class="{ 'required': validations.principal_address_city.required }">City:</label>
									<input type="text" class="form-control input-form" ng-class="{ 'error': nestedAddressesForm.principal_address_city.$invalid && notifications }" ng-model="principalAddress.principal_address_city" ng-model-options="{allowInvalid: true}"  name="principal_address_city" id="principal_address_city" maxlength="[[ validations.principal_address_city.max_length ]]" ng-disabled="[[ viewOnly ]]" ng-required="[[ validations.principal_address_city.required ]]">
									<!-- <select class="form-control input-form" ng-class="{ 'error': principalManagementForm.principal_full.$invalid && notifications }" ng-model="principalAddress.principal_address_city" ng-model-options="{allowInvalid: true}"  name="principal_address_city" id="principal_address_city" ng-disabled="[[ viewOnly ]]">
										<option></option>
										<option>Dummy city-[[ $index ]]</option>
									</select> -->
								</div>
								<span class="errors" id="error-principal-address-city">
									<!-- <span ng-hide="!nestedAddressesForm.principal_address_city.$error.required"> * [[ requiredMessage ]] <br /></span> -->
									<span ng-if="nestedAddressesForm.principal_address_city.$error.required && notifications"> * [[ requiredMessage ]] <br /></span>
									<span ng-if="nestedAddressesForm.principal_address_city.$error.maxlength">* Maximum of [[ validations.principal_address_city.max_length ]] characters <br /></span>
								</span>
							</div>
							<div class="col-lg-3">
								<div>
									<label class=" input-label" ng-class="{ 'required': validations.principal_address_state.required }">State:</label>
									<input type="text" class="form-control input-form" ng-class="{ 'error': nestedAddressesForm.principal_address_state.$invalid && notifications }" ng-model="principalAddress.principal_address_state" ng-model-options="{allowInvalid: true}"  name="principal_address_state" id="principal_address_state" ng-disabled="[[ viewOnly ]]" ng-required="[[ validations.principal_address_state.required ]]">
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="col-lg-3">
								<div>
									<!-- Required is manually set to true because the id is in IntegerField so no required key is returned -->
									<label class=" input-label" ng-class="{ 'required': true }">Country:</label>
									<select class="form-control input-form" ng-class="{ 'error': nestedAddressesForm.principal_address_country.$invalid && notifications }" ng-model="principalAddress.principal_address_country.id" name="principal_address_country" id="principal_address_country" ng-options="country.id as country.country_name for country in countries" ng-disabled="[[ viewOnly ]]" ng-required="true">
										<!-- <option></option>
										<option>Dummy country-[[ $index ]]</option> -->
									</select>
								</div>
								<span class="errors" id="error-principal-address-country">
									<!-- <span ng-hide="!nestedAddressesForm.principal_address_country.$error.required"> * [[ requiredMessage ]] <br /></span> -->
									<span ng-if="nestedAddressesForm.principal_address_country.$error.required && notifications"> * [[ requiredMessage ]] <br /></span>
								</span>
							</div>
							<div class="col-lg-3">
								<div>
									<label class=" input-label" ng-class="{ 'required': validations.principal_address_zip.required }">Zip Code:</label>
									<input type="number" class="form-control input-form" ng-class="{ 'error': nestedAddressesForm.principal_address_zip.$invalid && notifications }" ng-model="principalAddress.principal_address_zip" ng-model-options="{allowInvalid: true}"  name="principal_address_zip" id="principal_address_zip" ng-disabled="[[ viewOnly ]]" ng-required="[[ validations.principal_address_zip.required ]]" numbers-only>
								</div>
							</div>
							<div class="col-lg-6">
								<div>
									<label class=" input-label" ng-class="{ 'required': validations.principal_address_contact_number_1.required }">Emergency No.:</label>
									<input class="form-control input-form" type="text" ng-class="{ 'error': nestedAddressesForm.principal_address_contact_number_1.$invalid && notifications }" ng-model="principalAddress.principal_address_contact_number_1" ng-model-options="{allowInvalid: true}"  name="principal_address_contact_number_1" id="principal_address_contact_number_1" maxlength="[[ validations.principal_address_contact_number_1.max_length ]]" ng-disabled="[[ viewOnly ]]"  ng-required="[[ validations.principal_address_contact_number_1 ]]">
								</div>
								<span class="errors" id="error-principal-contact-number-1">
									<!-- <span ng-hide="!nestedAddressesForm.principal_address_contact_number_1.$error.required"> * [[ requiredMessage ]] <br /></span> -->
									<span ng-if="nestedAddressesForm.principal_address_contact_number_1.$error.required && notifications"> * [[ requiredMessage ]] <br /></span>
									<span ng-if="nestedAddressesForm.principal_address_contact_number_1.$error.maxlength">* Maximum of [[ validations.principal_address_contact_number_1.max_length ]] characters <br /></span>
								</span>
							</div>
						</div>
						<div class="form-group">
							<div class="col-lg-3">
								<div>
									<label class=" input-label" ng-class="{ 'required': validations.principal_address_contact_number_2.required }">Telephone 1:</label>
									<input class="form-control input-form" type="text" ng-class="{ 'error': nestedAddressesForm.principal_address_contact_number_2.$invalid && notifications }" ng-model="principalAddress.principal_address_contact_number_2" ng-model-options="{allowInvalid: true}"  name="principal_address_contact_number_2" id="principal_address_contact_number_2" maxlength="[[ validations.principal_address_contact_number_2.max_length ]]" ng-disabled="[[ viewOnly ]]" ng-required="[[ validations.principal_address_contact_number_2.required ]]">
								</div>
								<span class="errors" id="error-principal-contact-number-2">
									<span ng-if="nestedAddressesForm.principal_address_contact_number_2.$error.maxlength">* Maximum of [[ validations.principal_address_contact_number_2.max_length ]] characters</span>
								</span>
							</div>
							<div class="col-lg-3">
								<div>
									<label class=" input-label" ng-class="{ 'required': validations.principal_address_contact_number_3.required }">Telephone 2:</label>
									<input class="form-control input-form" type="text" ng-class="{ 'error': nestedAddressesForm.principal_address_contact_number_3.$invalid && notifications }" ng-model="principalAddress.principal_address_contact_number_3" ng-model-options="{allowInvalid: true}"  name="principal_address_contact_number_3" id="principal_address_contact_number_3" maxlength="[[ validations.principal_address_contact_number_3.max_length ]]" ng-disabled="[[ viewOnly ]]" ng-required="[[ validations.principal_address_contact_number_3.required ]]">
								</div>
								<span class="errors" id="error-principal-contact-number-3">
									<span ng-if="nestedAddressesForm.principal_address_contact_number_3.$error.maxlength">* Maximum of [[ validations.principal_address_contact_number_3.max_length ]] characters</span>
								</span>
							</div>
						</div>
					</fieldset>				
					<div class="form-group" ng-if="!viewOnly">
						<div class="col-lg-12">
							<!-- <div class="col-lg-12"> -->
								<div class="col-lg-12 title-with-border">
									<div class="col-lg-6 negate-padding-left">
										<h3>ADD ADDRESS</h3>
									</div>
									<div class="col-lg-6 negate-padding-right">
										<!-- <h3>Negate</h3> -->
										<h4 class="h4-column-glyphicons-right">
											<span class="glyphicon [[ glyphiconAddObject ]]" data-toggle="tooltip" title="Click to add an address" ng-click="addNestedModelsWithFocus(principalAddresses, $event)"></span>
										</h4>
									</div>
								</div>
							<!-- </div> -->
						</div>
					</div>
				</div>
				<div class="form-group">
					<!-- <div class="col-lg-12"> -->
						<!-- <div class="col-lg-12"><h3><strong>CONTACT DETAILS</strong></h3></div> -->
					<!-- </div> -->
					<div class="col-lg-6">
						<h3>
							<strong>CONTACT DETAILS</strong>
						</h3>
					</div>
					<div class="col-lg-6 text-right">
						<h3>
							<span class="caret big-caret" data-toggle="collapse" data-target="#contact-details" ng-click="dynamicCaret($event)"></span>
						</h3>
					</div>
				</div>
				<div id="contact-details" class="collapse in">
					<fieldset ng-repeat="principalContactInfo in principalContactInfos" data-ng-form="nestedRepresentativesForm" ng-if="!principalContactInfo.delete">
						<div class="form-group">
							<div class="col-lg-12">
								<!-- <div class="col-lg-12"> -->
									<div class="col-lg-12 negate-padding-left title-with-border">
										<!-- <h3 class="">[[ principalContactInfo.principal_contact_info_designation ]]</h3> -->
										<div class="col-lg-9 negate-padding-left">
											<h3 ng-if="flagVisibility(originalPrincipalContactInfos, $index) || viewOnly">[[ principalContactInfo.principal_contact_info_designation ]]</h3>
											<h3 ng-if="!flagVisibility(originalPrincipalContactInfos, $index) && !viewOnly">
												<input type="text" class="input-text form-control principal_contact_info_designation" ng-class="{ 'error': nestedRepresentativesForm.principal_contact_info_designation.$invalid && notifications }" ng-model="principalContactInfo.principal_contact_info_designation" ng-model-options="{allowInvalid: true}"  name="principal_contact_info_designation" id="principal_contact_info_designation" maxlength="[[ validations.principal_contact_info_designation.max_length ]]" placeholder="Designation" ng-required="[[ validations.principal_contact_info_designation.required ]]">
												<span class="errors" id="error-contact-info-designation">
													<!-- <span ng-hide="!nestedRepresentativesForm.principal_contact_info_designation.$error.required">* [[ requiredMessage ]] <br /></span> -->
													<span ng-if="nestedRepresentativesForm.principal_contact_info_designation.$error.required && notifications">* [[ requiredMessage ]] <br /></span>
													<span ng-if="nestedRepresentativesForm.principal_contact_info_designation.$error.maxlength">* Maximum of [[ validations.principal_contact_info_designation.max_length ]] characters <br /></span>
												</span>
											</h3>
										</div>
										<div class="col-lg-3 negate-padding-right" ng-if="!viewOnly">
											<!-- <h3>Negate</h3> -->
											<h4 class="h4-column-glyphicons-right ">
												<span ng-if="!flagVisibility(originalPrincipalContactInfos, $index)" class="glyphicon [[ glyphiconRemoveObject ]]" data-toggle="tooltip" title="Remove Representative" ng-click="removeNestedModels(principalContactInfos, $index)"></span>
											</h4>
										</div> 
									</div>
								<!-- </div> -->
							</div>
						</div>
						<div class="form-group">
							<div class="col-lg-4">
								<div>
									<label class=" input-label" ng-class="{ 'required': validations.principal_contact_info_last_name.required }">Lastname:</label>
									<input class="form-control input-form" type="text" ng-class="{ 'error': nestedRepresentativesForm.principal_contact_info_last_name.$invalid && notifications }" ng-model="principalContactInfo.principal_contact_info_last_name" ng-model-options="{allowInvalid: true}"  name="principal_contact_info_last_name" id="principal_contact_info_last_name" maxlength="[[ validations.principal_contact_info_last_name.max_length ]]" ng-disabled="[[ viewOnly ]]" ng-required="[[ validations.principal_contact_info_last_name.required ]]">
								</div>
								<span class="errors" id="error-contact-info-last-name">
									<!-- <span ng-hide="!nestedRepresentativesForm.principal_contact_info_last_name.$error.required">* [[ requiredMessage ]] <br /></span> -->
									<span ng-if="nestedRepresentativesForm.principal_contact_info_last_name.$error.required && notifications">* [[ requiredMessage ]] <br /></span>
									<span ng-if="nestedRepresentativesForm.principal_contact_info_last_name.$error.maxlength">* Maximum of [[ validations.principal_contact_info_last_name.max_length ]] characters <br /></span>
								</span>
							</div>
							<div class="col-lg-4">
								<div>
									<label class=" input-label" ng-class="{ 'required': validations.principal_contact_info_first_name.required }">Firstname:</label>
									<input class="form-control input-form" type="text" ng-class="{ 'error': nestedRepresentativesForm.principal_contact_info_first_name.$invalid && notifications }" ng-model="principalContactInfo.principal_contact_info_first_name" ng-model-options="{allowInvalid: true}"  name="principal_contact_info_first_name" id="principal_contact_info_first_name" maxlength="[[ validations.principal_contact_info_first_name.max_length ]]" ng-disabled="[[ viewOnly ]]" ng-required="[[ validations.principal_contact_info_first_name.required ]]">
								</div>
								<span class="errors" id="error-contact-info-first-name">
									<!-- <span ng-hide="!nestedRepresentativesForm.principal_contact_info_first_name.$error.required">* [[ requiredMessage ]] <br /></span> -->
									<span ng-if="nestedRepresentativesForm.principal_contact_info_first_name.$error.required && notifications">* [[ requiredMessage ]] <br /></span>
									<span ng-if="nestedRepresentativesForm.principal_contact_info_first_name.$error.maxlength">* Maximum of [[ validations.principal_contact_info_first_name.max_length ]] characters <br /></span>
								</span>
							</div>
							<div class="col-lg-4">
								<div>
									<label class=" input-label" ng-class="{ 'required': validations.principal_contact_info_middle_name.required }">Middlename:</label>
									<input class="form-control input-form" type="text" ng-class="{ 'error': nestedRepresentativesForm.principal_contact_info_middle_name.$invalid && notifications }" ng-model="principalContactInfo.principal_contact_info_middle_name" ng-model-options="{allowInvalid: true}"  name="principal_contact_info_middle_name" id="principal_contact_info_middle_name" maxlength="[[ validations.principal_contact_info_middle_name.max_length ]]" ng-disabled="[[ viewOnly ]]" ng-required="[[ validations.principal_contact_info_middle_name.required ]]">
								</div>
								<span class="errors" id="error-contact-info-middle-name">
									<span ng-if="nestedRepresentativesForm.principal_contact_info_middle_name.$error.maxlength">* Maximum of [[ validations.principal_contact_info_middle_name.max_length ]] characters</span>
								</span>
							</div>
						</div>
						<div class="form-group">
							<div class="col-lg-6">
								<div>
									<label class=" input-label" ng-class="{ 'required': validations.principal_contact_info_email_address.required }">E-mail:</label>
									<input class="form-control input-form" type="email" ng-class="{ 'error': nestedRepresentativesForm.principal_contact_info_email_address && notifications }" ng-model="principalContactInfo.principal_contact_info_email_address" ng-model-options="{allowInvalid: true}"  name="principal_contact_info_email_address" id="principal_contact_info_email_address" maxlength="[[ validations.principal_contact_info_email_address.max_length ]]" ng-disabled="[[ viewOnly ]]" ng-required="[[ validations.principal_contact_info_email_address.required ]]">
								</div>
								<span class="errors" id="error-contact-info-email-address">
									<!-- <span ng-hide="!nestedRepresentativesForm.principal_contact_info_email_address.$error.required">* [[ requiredMessage ]] <br /></span> -->
									<span ng-if="nestedRepresentativesForm.principal_contact_info_email_address.$error.required && notifications">* [[ requiredMessage ]] <br /></span>
									<span ng-if="nestedRepresentativesForm.principal_contact_info_email_address.$error.email">* Must be a valid email <br /></span>
									<span ng-if="nestedRepresentativesForm.principal_contact_info_email_address.$error.maxlength">* Maximum of [[ validations.principal_contact_info_first_name.max_length ]] characters <br /></span>
								</span>
							</div>
							<div class="col-lg-6">
								<div>
									<label class=" input-label" ng-class="{ 'required': validations.principal_contact_info_contact_number_1.required }">Telephone 1:</label>
									<input class="form-control input-form" type="text" ng-class="{ 'error': nestedRepresentativesForm.principal_contact_info_contact_number_1.$invalid && notifications }" ng-model="principalContactInfo.principal_contact_info_contact_number_1" name="principal_contact_info_contact_number_1" ng-model-options="{allowInvalid: true}" maxlength="[[ validations.principal_contact_info_contact_number_1.max_length ]]" ng-disabled="[[ viewOnly ]]"  ng-required="[[ validations.principal_contact_info_contact_number_1.required ]]">
								</div>
								<span class="errors" id="error-contact-info-contact-number-1">
									<!-- <span ng-hide="!nestedRepresentativesForm.principal_contact_info_contact_number_1.$error.required">* [[ requiredMessage ]] <br /></span> -->
									<span ng-if="nestedRepresentativesForm.principal_contact_info_contact_number_1.$error.required && notifications">* [[ requiredMessage ]] <br /></span>
									<span ng-if="nestedRepresentativesForm.principal_contact_info_contact_number_1.$error.maxlength">* Maximum of [[ validations.principal_contact_info_contact_number_1 ]] characters <br /></span>
								</span>
							</div>
						</div>
						<div class="form-group">
							<div class="col-lg-6">
								<div>
									<label class=" input-label" ng-class="{ 'required': validations.principal_contact_info_contact_number_2.required }">Telephone 2:</label>
									<input class="form-control input-form" type="text" ng-class="{ 'error': nestedRepresentativesForm.principal_contact_info_contact_number_2.$invalid && notifications }" ng-model="principalContactInfo.principal_contact_info_contact_number_2" name="principal_contact_info_contact_number_2" ng-model-options="{allowInvalid: true}" maxlength="[[ validations.principal_contact_info_contact_number_2.max_length ]]" ng-disabled="[[ viewOnly ]]" ng-required="[[ validations.principal_contact_info_contact_number_2.required ]]">
								</div>
								<span class="errors" id="error-contact-info-contact-number-2">
									<span ng-if="nestedRepresentativesForm.principal_contact_info_contact_number_2.$error.maxlength">* Maximum of [[ validations.principal_contact_info_contact_number_2 ]] characters <br /></span>
								</span>
							</div>
						</div>
						<div class="form-group">
							<div class="col-lg-4">
								<div>
									<label class=" input-label" ng-class="{ 'required': validations.principal_contact_info_contact_number_3.required }">Mobile 1:</label>
									<input class="form-control input-form" type="text" ng-class="{ 'error': nestedRepresentativesForm.principal_contact_info_contact_number_3.$invalid && notifications }" ng-model="principalContactInfo.principal_contact_info_contact_number_3" name="principal_contact_info_contact_number_3" ng-model-options="{allowInvalid: true}" maxlength="[[ validations.principal_contact_info_contact_number_3.max_length ]]" ng-disabled="[[ viewOnly ]]" ng-required="[[ validations.principal_contact_info_contact_number_3.required ]]">
								</div>
								<span class="errors" id="error-contact-info-contact-number-3">
									<span ng-if="nestedRepresentativesForm.principal_contact_info_contact_number_3.$error.maxlength">* Maximum of [[ validations.principal_contact_info_contact_number_3 ]] characters <br /></span>
								</span>
							</div>
							<div class="col-lg-4">
								<div>
									<label class=" input-label" ng-class="{ 'required': validations.principal_address_city.required }">Mobile 2:</label>
									<input class="form-control input-form" type="text" ng-class="{ 'error': nestedRepresentativesForm.principal_contact_info_contact_number_4.$invalid && notifications }" ng-model="principalContactInfo.principal_contact_info_contact_number_4" name="principal_contact_info_contact_number_4" ng-model-options="{allowInvalid: true}" maxlength="[[ validations.principal_contact_info_contact_number_4.max_length ]]" ng-disabled="[[ viewOnly ]]" ng-required="[[ validations.principal_contact_info_contact_number_4.required ]]">
								</div>
								<span class="errors" id="error-contact-info-contact-number-4">
									<span ng-if="nestedRepresentativesForm.principal_contact_info_contact_number_4.$error.maxlength">* Maximum of [[ validations.principal_contact_info_contact_number_4 ]] characters <br /></span>
								</span>
							</div>
						</div>
					</fieldset>		
					<div class="form-group parent-most-addNestedModel" ng-if="!viewOnly">
						<div class="col-lg-12">
							<!-- <div class="col-lg-12"> -->
								<div class="col-lg-12 negate-padding-left title-with-border">
									<div class="col-lg-6 negate-padding-left">
										<h3>ADD REPRESENTATIVE</h3>
									</div>
									<div class="col-lg-6 negate-padding-right">
										<!-- <h3>Negate</h3> -->
										<h4 class="h4-column-glyphicons-right ">
											<span class="glyphicon [[ glyphiconAddObject ]]" data-toggle="tooltip" title="Click to add a representative" ng-click="addNestedModelsWithFocus(principalContactInfos, $event)"></span>
										</h4>
									</div>
								</div>
							<!-- </div> -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Does not work if included outside -->
	<script type="text/javascript" src="/static/js/scripts.js"></script>

	<!-- modalController to manipulate properly the showModal and toggleModal on the app's angular-scripts.js -->
	<div ng-controller="modalController">
		<!-- Footer is included inside form-and-notifications because putting it outside the template does not read the file object -->
		<div id="crew-menu-footer"> <!-- START id="crew-menu-footer" -->
			<div class="form-group screens-footer" > <!-- START class="form-group screens-footer" -->
				<div class="col-lg-2 col-lg-offset-6" ng-if="!viewOnly">
					<button class="btn form-control" ng-click="principalClearInput()" id="clear" type="button">CLEAR</button>
				</div>
				<div class="col-lg-2" ng-if="!viewOnly">
					<!-- <button class="btn form-control" ng-click="saveInput(nestedRepresentativesForm.$invalid, input, apiAdd)" id="save">SAVE</button> -->
					<button ng-if="operation == 'add'" class="btn form-control" ng-click="principalSaveInput(principalManagementForm.$invalid, input, apiAdd, principal_logo)" id="save">SAVE </button>
					<button ng-if="operation == 'update'" class="btn form-control" ng-click="toggleModal()" id="confirmation-save">SAVE</button>
				</div>
				<admin-form-cancel-button></admin-form-cancel-button>
			</div> <!-- END class="form-group screens-footer" -->
		</div>	<!-- END id="crew-menu-footer" -->
		<confirmation-modal title="Please Confirm" visible="showModal"> <!-- START delete-modal -->
			<div class="form-group">
				Are you sure you want to update the record?
			</div>
			<div class="text-right">
				<button class="btn btn-default" data-dismiss="modal" id="update-cancel">Cancel</button>
				<a href="" target="_blank" ng-click="principalUpdateInput(principalManagementForm.$invalid, input, apiUpdate, principal_logo)" ><button class="btn" data-dismiss="modal" id="save">Save</button></a>
			</div>
		</confirmation-modal> <!-- END delete-modal -->
	</div>

	