<div id="crew-menu-header"> <!-- START id="crew-menu-header" -->
	<strong>[[ title ]] PRINCIPAL</strong>
	<h3 class="color-msmi-green">[[ subTitle ]] information of the client</h3>
</div> <!-- END id="crew-menu-header" -->
<form ng-controller="formController" name="principalManagementForm" onsubmit="formSubmit()" novalidate> <!-- START ng-controller="formController" -->
	<div ng-include="'/static/principal_management/html/form-and-notifications.html?query='+forceReload"></div>
</form> <!-- END ng-controller="formController" -->
