{% extends "base.html" %}
{% load static %}

{% block content %}
<div id="crew-menu-container" class="container">
	<div id="crew-menu-header">
		<strong>CREW LIST ONBOARD</strong>
	</div>
	<div id="crew-menu-body" class="form-horizontal">
		<!-- <div class="form-group"> -->

		<!-- </div> -->
	</div>
	<div id="crew-menu-footer">
		<div class="form-group">
			<div class="col-lg-2">
				<div class="input-group">
					<label class="input-group-addon input-label">Print:</label>
					<select class="form-control input-form">
						<option>No</option>
					</select>
				</div>
			</div>
			<div class="col-lg-2">
				<div class="input-group">
					<label class="input-group-addon input-label">View:</label>
					<select class="form-control input-form">
						<option>Yes</option>
					</select>
				</div>
			</div>
			<div class="col-lg-2 col-lg-offset-2">
				<a href="#" target="_blank"><button class="btn form-control">NEW</button></a>
			</div>
			<div class="col-lg-2">
				<a href="#" target="_blank"><button class="btn form-control">PRINT</button></a>
			</div>
			<div class="col-lg-2">
				<a href="#" target="_blank"><button class="btn form-control">EXIT</button></a>
			</div>
		</div>
	</div>
</div>

{% endblock %}