<div>
	<center>
		<table border="1px solid #ccc">
			<tbody>
				<tr>
					<td style="padding:30px; border:1px solid #ccc;text-align:left;color:#2e76b8"> 
						{{ email_greetings }}
						{{ email_body }}
					</td>
				</tr>
			</tbody>
		</table>
	</center>
</div>