<div id="crew-menu-header"> <!-- START id="crew-menu-header" -->
	<strong>PEOPLE BIODATA</strong>
	<h3 class="bio-title">[[ title ]] information about our people</h3>
</div> <!-- END id="crew-menu-header" -->
<form ng-controller="formController" name="bioManagementForm" onsubmit="formSubmit()" novalidate> <!-- START ng-controller="formController" -->
	<!-- <div id="login-notifications" ng-if="notifications"> --> <!-- START id="login-notifications"  -->
		<!-- [[ errorNotificationTitle ]] -->
		<!-- <span class="pull-right notifications-close" ng-click="hideNotifications()">X</span> -->
		<!-- <span class="pull-right glyphicon glyphicon-remove glyphicon-border-negate" id="hideNotifications" ng-click="hideNotifications()"></span>
		<hr>
		* You have errors on your form
		<p ng-if="relationGroupValidation">* Please select at least one next of kin AND one emergency relation</p>
	</div> --> <!-- END id="login-notifications"  -->
	<ul class="hide">
	  <li ng-repeat="(key, errors) in form.$error track by $index"> <strong>{{ key }}</strong> errors
	    <ul>
	      <li ng-repeat="e in errors">{{ e.$name }} has an error: <strong>{{ key }}</strong>.</li>
	    </ul>
	  </li>
	</ul>
	<div id="crew-menu-body" class="form-horizontal screens-body"> <!-- START id="crew-menu-body" -->
		<div id="bio" class="form-group negate-margin-bottom"> <!-- START class="form-group negate-margin-bottom" -->
			<!-- <div ng-include="'/static/bio/html/sidebar.html'"></div> --> 
			<!-- CAN NOT BE TEMPLATED BECAUSE MODEL PHOTO DOES NOT WORK ON THE ANGULAR-SCRIPTS LIKE [[ photo ]] AND AS A PARAMETER IN THE SAVEINPUT FUNCTION -->
			<aside id="bio-sidebar">
				<div class="col-lg-2">
					<div id="profile-sidebar" get-width-affix>
						<!-- Take note that profile-pictures should be 200px -->
						<img src="/static/img/sample_profile_picture.jpg" ng-if="!photo" class="img-responsive profile-picture" style="width: 100%" data-toggle="tooltip" title="[[ input.first_name | uppercase ]] [[ input.middle_name | uppercase ]] [[ input.last_name | uppercase ]]" data-original-title="[[ input.first_name | uppercase ]] [[ input.middle_name | uppercase ]] [[ input.last_name | uppercase ]]">
						<!-- ng-if will result to a bug -->
						<img align="center" ng-show="photo" ngf-thumbnail="photo" class="img-responsive profile-picture" data-toggle="tooltip" title="[[ input.first_name | uppercase ]] [[ input.middle_name | uppercase ]] [[ input.last_name | uppercase ]]" data-original-title="[[ input.first_name | uppercase ]] [[ input.middle_name | uppercase ]] [[ input.last_name | uppercase ]]">
						<label for="profile_picture" class="change-picture-label"><img src="/static/img/camcon.png" id="camera-label" class="change-picture-icon" data-toggle="tooltip" title="Change Picture"></label>
						<input type="file" ngf-select name="photo" ng-model="photo" id="profile_picture" accept="image/*" ngf-model-invalid="errorFile" class="hide">
						<div class="profile-picture-caption" ng-if="input.user_code">[[ input.user_code ]]</div>
						<!-- <div class="profile-picture-caption">CODE</div> -->
						<!-- <div>
							<input class="form-control code text-center attached-with-pic" ng-class="{ 'error': bioManagementForm.user_code.$invalid && notifications }" ng-model="input.user_code" ng-model-options="{allowInvalid: true}"  name="user_code" id="user_code" type="text" minlength="[[ validations.user_code.min_length ]]" maxlength="[[ validations.user_code.max_length ]]" ng-keyup="uniqueCheck(bioManagementForm, $event, code_readonly)" ng-readonly="[[ code_readonly ]]" ng-disabled="[[ viewOnly ]]" ng-required="[[ validations.user_code.required ]]" ng-disabled="[[ viewOnly ]]" placeholder="CODE">
						</div> -->
						<span class="errors reversed" id="error-bio-user-code">
							<span ng-if="bioManagementForm.user_code.$error.required && notifications"> * [[ requiredMessage ]] <br /></span>
							<span ng-if="bioManagementForm.user_code.$error.maxlength || bioManagementForm.user_code.$error.minlength">* Code length must be exactly [[ validations.user_code.max_length ]] <br /></span>
							<span ng-if="bioManagementForm.user_code.$error.unique && notifications"> * This code [[ errorDuplicate ]] <br /></span>
						</span>
						<div class="single-border-end" id="bio-views">
							<p ng-click="anchorTagScroll('status')">Employment Status</p>
							<p ng-click="anchorTagScroll('personal-information')">Personal Information</p>
							<p ng-click="anchorTagScroll('educational-background')">Educational Background</p>
							<p ng-click="anchorTagScroll('relation')">Relations</p>
						</div>
						<div class="sections" ng-class="{ 'disabled': title == 'ADD' }">
							<ul>
								<li><span href=""><span class="msmi-certificate"></span> CERTIFICATES</span></li>
								<li><span href=""><span class="msmi-evaluation"></span> EVALUATIONS</span></li>
								<li><span href=""><span class="msmi-license"></span> LICENSES</span></li>
								<li><span href=""><span class="msmi-service"></span> SERVICES</span></li>
								<li><span href=""><span class="msmi-relation"></span> REFERRALS</span></li>
							</ul>
						</div>
					</div>
				</div>
			</aside>
			<div id="main-content" class="col-lg-10 profile-border">
				<div ng-include="'/static/bio/html/views/status.html?query='+forceReload"></div>
				<div class="view-separator"></div> <!-- Nicest way to force the border between views template beacause of form-group/form-control custom manipulations -->
				<div ng-include="'/static/bio/html/views/personal-information.html?query='+forceReload"></div>
				<!-- <div ng-include="'/static/bio/html/views/'+temp+'.html'"></div> -->
				<div class="view-separator"></div> <!-- Nicest way to force the border between views template beacause of form-group/form-control custom manipulations -->
				<div ng-include="'/static/bio/html/views/educational-background.html?query='+forceReload"></div>
				<div class="view-separator"></div> <!-- Nicest way to force the border between views template beacause of form-group/form-control custom manipulations -->
				<div ng-include="'/static/bio/html/relations.html?query='+forceReload"></div>
				<!-- <div class="view-separator"></div> --> <!-- Nicest way to force the border between views template beacause of form-group/form-control custom manipulations -->
				<!-- <div class="form-group">
					<div class="col-lg-12">
						<div>
							<label class="input-label">General Comments:</label>
							<textarea ng-disabled="viewOnly" class="form-control input-form"></textarea>
						</div>
					</div>
				</div> -->
			</div>
		</div> <!-- END class="form-group negate-margin-bottom" -->
	</div> <!-- END id="crew-menu-body" -->
	<div ng-controller="modalController">
		<div id="crew-menu-footer"> <!-- START id="crew-menu-footer" -->
			<div class="form-group screens-footer" > <!-- START class="form-group screens-footer" -->
				<!-- <div class="col-lg-2 col-lg-offset-6">
					<button class="btn form-control" ng-click="clearInput()" id="clear" type="button">CLEAR</button>
				</div> -->
				<!-- <admin-add-page-clear-button></admin-add-page-clear-button> -->
				<!-- <div class="col-lg-2">
					<button class="btn form-control" ng-click="saveInput(userManagementForm.$invalid, input, apiAdd)" id="save">SAVE</button>
				</div> -->
				<div class="col-lg-2" ng-class="{'col-lg-offset-6': title == 'UPDATE', 'col-lg-offset-8': title != 'UPDATE' }">
					<button ng-if="title == 'ADD'" class="btn form-control" ng-click="bioSaveInput(bioManagementForm.$invalid, input, apiAdd, photo)" id="save">SAVE</button>
				</div>
				<admin-update-page-save-button ng-if="title == 'UPDATE'"></admin-update-page-save-button>
				<admin-form-cancel-button></admin-form-cancel-button>
			</div> <!-- END class="form-group screens-footer" -->
		</div>	<!-- END id="crew-menu-footer" -->
		<confirmation-modal title="Please Confirm" visible="showModal"> <!-- START delete-modal -->
			<div class="form-group">
				Are you sure you want to update the record?
			</div>
			<div class="text-right">
				<button class="btn btn-default" data-dismiss="modal" id="update-cancel">Cancel</button>
				<a href="" target="_blank" ng-click="bioUpdateInput(bioManagementForm.$invalid, input, apiUpdate, photo)" ><button class="btn" data-dismiss="modal" id="save">Save</button></a>
			</div>
		</confirmation-modal> <!-- END delete-modal -->
	</div>
</form> <!-- END ng-controller="formController" -->

<script type="text/javascript" src="/static/js/scripts.js"></script>
<script type="text/javascript">
	$("#user_code").focus();
</script>