<div class="container">
	<div id="crew-menu-header"> <!-- START id="crew-menu-header" -->
		<strong>BIO DATA REPORT</strong>
		<h3>Export report for crew and office people information</h3>
		<!-- <h3 class="color-msmi-green">See crew and office personnel information</h3> -->
	</div> <!-- END id="crew-menu-header" -->
	<div ng-controller="itemListController">
		<!-- <div id="login-notifications" ng-if="notifications"> --> <!-- START id="login-notifications"  -->
			<!-- Delete Notifications!
			<span class="pull-right notifications-close" ng-click="hideNotifications()">X</span>
			<hr>
			<div ng-repeat="x in deleteArray"> --><!-- [[ x.id ]] -->
				<!-- <div> [[ x.name ]] - has been deleted <button class="btn btn-default btn-msmi-blue" ng-enter="individualUpdate($event, x.id,'rank_sys_status', null, apiUpdate)" data-dismiss="modal">UNDO</button></div>
			</div> -->
			<!-- <div>* adgc - has been deleted <a href="">undo</a></div> -->
		<!-- </div> --> <!-- END id="login-notifications"  -->
		<div id="crew-menu-body" class="form-horizontal admin-screens-body"> <!-- START id="crew-menu-body" -->
			<div class="form-group negate-margin-bottom" id="report-page"> <!-- START class="form-group negate-margin-bottom" -->
				<div class="col-lg-12" id="search-filter-container"> <!-- START class="col-lg-10 profile-border" -->
					<div ng-include="'/static/bio/html/reusable-advanced-search-filter.html?query='+forceReload"></div>
					<div class="view-separator form-group disabled"></div>
					<div class="form-group" id="report-config-container">
						<div class="col-lg-6 output-fields">
							<div class="content">
								<div class="title">
									<h4>OUTPUT FIELDS</h4>
								</div>
								<div class="form-group col-lg-12">
									<div class="col-lg-4 col-lg-offset-1">
										<input type="checkbox" checked="checked"> <label>Rank</label>
									</div>
									<div class="col-lg-4">
										<input type="checkbox"> <label>Birthdate</label>
									</div>
								</div>
								<div class="form-group col-lg-12">
									<div class="col-lg-4 col-lg-offset-1">
										<input type="checkbox" checked="checked"> <label>Code</label>
									</div>
									<div class="col-lg-4">
										<input type="checkbox" checked="checked"> <label>Age</label>
									</div>
								</div>
								<div class="form-group col-lg-12">
									<div class="col-lg-4 col-lg-offset-1">
										<input type="checkbox" checked="checked"> <label>Status</label>
									</div>
									<div class="col-lg-4">
										<input type="checkbox"> <label>Vessel</label>
									</div>
								</div>
								<div class="form-group col-lg-12">
									<div class="col-lg-4 col-lg-offset-1">
										<input type="checkbox"> <label>E-mail</label>
									</div>
									<div class="col-lg-4">
										<input type="checkbox"> <label>Company</label>
									</div>
								</div>
								<div class="form-group col-lg-12">
									<div class="col-lg-4 col-lg-offset-1">
										<input type="checkbox" checked="checked"> <label>Name</label>
									</div>
									<!-- <div class="col-lg-4">
										<input type="checkbox"> <label>Armada</label>
									</div> -->
								</div>
							</div>
						</div>
						<div class="col-lg-6 sorts">
							<div class="content">
								<div class="title">
									<h4>SORTS</h4>
								</div>
								<div class="col-lg-12 col-lg form-group text-center" ng-repeat="advancedSortRow in advancedSortRows">
									<div class="col-lg-9">
										<select class="form-control input-form">
											<option>Rank (ASC)</option>
											<option>Status (ASC)</option>
											<option>Age (ASC)</option>
											<option>Rank (DESC)</option>
											<option>Status (DESC)</option>
											<option>Age (DESC)</option>
										</select>
									</div>
									<div class="col-lg-3 text-center">
										<span class="glyphicon [[ glyphiconAddObject ]]" ng-click="addDynamicFilter(advancedSortRows)"></span>
										<span ng-if="$index > 0"class="glyphicon [[ glyphiconRemoveObject ]]" ng-click="removeDynamicFilter(advancedSortRows, $index)"></span>
										<span ng-if="$index == 0"class="glyphicon [[ glyphiconRemoveObject ]] glyphicon-disabled"></span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="view-separator form-group"></div>
					<div class="form-group">
						<div class="col-lg-6">
							<div class="input-group">
								<label class="input-group-addon input-label">Title:</label>
								<input class="form-control input-form" type="text">
							</div>
						</div>
						<div class="col-lg-3">
							<div class="input-group">
								<label class="input-group-addon input-label">Date:</label>
								<input class="form-control input-form" type="text">
							</div>
						</div>
						<div class="col-lg-3">
							<div class="input-group">
								<label class="input-group-addon input-label">Code:</label>
								<input class="form-control input-form" type="text">
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="col-lg-9">
							<div class="input-group">
								<label class="input-group-addon input-label">Company:</label>
								<input class="form-control input-form" type="text">
							</div>
						</div>
						<div class="col-lg-3">
							<div class="input-group">
								<label class="input-group-addon input-label"><strong>Found: 000 results</strong></label>
							</div>
						</div>
					</div>
					<div class="view-separator form-group disabled"></div>
					<div id="report-preview-table">
						<table class="table table-condensed"> <!-- START class="table table-condensed" -->
							<thead> 
						      	<tr>
									<th>Code</th>
									<th>Name</th>
									<th>Rank</th>
									<th>Status</th>
									<th>Age</th>
						      	</tr>
						    </thead>
						    <tbody>
						    	<tr>
						    		<td>JDGA</td>
						    		<td>Jacob, Dexter Gralto</td>
						    		<td>CA</td>
						    		<td>Onboard</td>
						    		<td>45</td>
						    	</tr>
						    	<tr>
						    		<td>SECA</td>
						    		<td>Surilla, Eric Cabalengan</td>
						    		<td>EO</td>
						    		<td>Waiting</td>
						    		<td>40</td>
						    	</tr>
						    	<tr>
						    		<td>SRMA</td>
						    		<td>Sonana, Rogelio Jr. Maderilla</td>
						    		<td>SS</td>
						    		<td>Separated</td>
						    		<td>34</td>
						    	</tr>
						    	<tr>
						    		<td>&nbsp;</td>
						    		<td>&nbsp;</td>
						    		<td>&nbsp;</td>
						    		<td>&nbsp;</td>
						    		<td>&nbsp;</td>
						    	</tr>
						    	<tr>
						    		<td>&nbsp;</td>
						    		<td>&nbsp;</td>
						    		<td>&nbsp;</td>
						    		<td>&nbsp;</td>
						    		<td>&nbsp;</td>
						    	</tr>
						    	<tr>
						    		<td>&nbsp;</td>
						    		<td>&nbsp;</td>
						    		<td>&nbsp;</td>
						    		<td>&nbsp;</td>
						    		<td>&nbsp;</td>
						    	</tr>
						    	<tr>
						    		<td>&nbsp;</td>
						    		<td>&nbsp;</td>
						    		<td>&nbsp;</td>
						    		<td>&nbsp;</td>
						    		<td>&nbsp;</td>
						    	</tr>
						    	<tr>
						    		<td>&nbsp;</td>
						    		<td>&nbsp;</td>
						    		<td>&nbsp;</td>
						    		<td>&nbsp;</td>
						    		<td>&nbsp;</td>
						    	</tr>
						    	<tr>
						    		<td>&nbsp;</td>
						    		<td>&nbsp;</td>
						    		<td>&nbsp;</td>
						    		<td>&nbsp;</td>
						    		<td>&nbsp;</td>
						    	</tr>
						    </tbody>
						</table> <!-- END class="table table-condensed" -->
					</div>
				</div>
				<!-- <aside> --> <!-- START aside -->
					<!-- <div class="col-lg-2"> --> <!-- START class="col-lg-2" -->
						<!-- <div id="profile-sidebar">  --><!-- START id="profile-sidebar" -->
							<!-- <a href=""><button class="btn form-control" ng-hide="!isChecked()" ng-click="deleteMultiple()">DELETE</button></a>
							<a href="#/add"><button class="btn form-control">ADD</button></a>
							<a href=""><button class="btn form-control" ng-click="close()">EXIT</button></a> -->
						<!-- </div> --> <!-- END id="profile-sidebar" -->
					<!-- </div> --> <!-- END class="col-lg-2" -->
				<!-- </aside> --> <!-- END aside -->
			</div> <!-- END class="form-group negate-margin-bottom" -->
		</div> <!-- END id="crew-menu-body" -->

		<div id="crew-menu-footer"> <!-- START id="crew-menu-footer" -->
			<div class="form-group screens-footer"> <!-- START class="form-group screens-footer" -->
				<div class="col-lg-2 col-lg-offset-8">
					<a href=""><button class="btn form-control" id="print">PRINT</button></a>
				</div>
				<div class="col-lg-2">
					<a href=""><button class="btn form-control" ng-click="close()" id="cancel">CANCEL</button></a>
				</div>  <!-- preSorts:[[preSorts]] --------------- sorts:[[ sorts ]] /////// -->
			</div> <!-- END class="form-group screens-footer" -->
		</div> <!-- END id="crew-menu-foote"r -->
	</div>
</div>