<div ng-class="{ 'default-bio-content-height': viewOnly }">
	<div class="form-group">
		<div class="col-lg-6">
			<h4><strong>RELATIONS</strong><!--  <a href="" ng-click="version1 = true; version2 = false">Version 1</a> <a href="" ng-click="version1 = false; version2 = true">Version 2</a> --></h4>
		</div>
		<div ng-if="!viewOnly" class="col-lg-6 text-right">
			<h4><span class="caret big-caret" data-toggle="collapse" data-target="#relation" ng-click="dynamicCaret($event)" aria-expanded="true"></span></h4>
		</div>
	</div>
	<div id="relation" class="collapse in">
		<fieldset ng-repeat="relationType in relationTypes" data-ng-form="nestedRelationTypesForm" ng-if="!relationType.deleted">
			<ul class="hide">
			  <li ng-repeat="(key, errors) in form.$error track by $index"> <strong>{{ key }}</strong> errors
			    <ul>
			      <li ng-repeat="e in errors">{{ e.$name }} has an error: <strong>{{ key }}</strong>.</li>
			    </ul>
			  </li>
			</ul>
			<input type="text" ng-model="relationType._id" class="hide" ng-if="title == 'UPDATE'"> <!-- Id used for the Updates -->
			<div class="form-group">
				<div class="col-lg-5">
					<div>
						<label class="input-label twin" ng-class="{ 'required': validations.related_people_relationship_type.required }">Relation Type:</label>
						<!-- <input class="form-control input-form twin" ng-model="relationType.related_people_relationship_type" type="text" value="FATHER"> -->
						<select class="form-control input-form twin" ng-class="{ 'error': nestedRelationTypesForm.related_people_relationship_type.$invalid && notifications }" ng-model="relationType.related_people_relationship_type" id="related_people_relationship_type" name="related_people_relationship_type" ng-options="x.value as x.label for x in relationshipTypesOptions" ng-required="[[ validations.related_people_relationship_type.required ]]" ng-disabled="$index <= 1"></select>
						<input type="checkbox" style="margin-left:11%" id="deceased-[[$index]]" ng-model="relationType.related_people_is_deceased" ng-true-value="'Y'" ng-false-value="'N'" ng-disabled="!relationType.related_people_relationship_type || viewOnly" ng-init="relationType.related_people_is_deceased = 'N'" ng-change="dDGV(relationType)"> <label for="deceased-[[$index]]" >Deceased</label>
					</div>
					<span class="errors pull-left" id="error-bio-relationship-type">
						<span ng-if="nestedRelationTypesForm.related_people_relationship_type.$error.required && notifications"> * [[ requiredMessage ]] <br /></span>
					</span>
				</div>
				<div class="col-lg-7">
					 [[ formGroupValidationChecker(input.bio_related_people) ]] <!-- Method used to validate the relation group realtime -->
					<div>
						<label class="input-label">Relation Group:</label> <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Select at least one person as emergency"></span>
						<div class="checkbox-input-custom-form-control" ng-class="{ 'error': relationGroupValidation && notifications }" show-errors>
							<input id="philhealth-[[$index]]" type="checkbox" ng-model="relationType.related_people_is_dependent" ng-true-value="'Y'" ng-false-value="'N'" ng-disabled="!relationType.related_people_relationship_type || viewOnly || relationType.related_people_is_deceased == 'Y'"> <label for="philhealth-[[$index]]">PhilHealth Dependent</label> &nbsp;&nbsp;
							<input id="beneficiary-[[$index]]" type="checkbox" ng-model="relationType.related_people_is_beneficiary" ng-true-value="'Y'" ng-false-value="'N'" ng-disabled="!relationType.related_people_relationship_type || viewOnly || relationType.related_people_is_deceased == 'Y'"> <label for="beneficiary-[[$index]]">OWWA Beneficiary</label> &nbsp;&nbsp;
							<input id="kin-[[$index]]" type="checkbox" ng-model="relationType.related_people_is_next_of_kin" ng-true-value="'Y'" ng-false-value="'N'" ng-disabled="!relationType.related_people_relationship_type || viewOnly || relationType.related_people_is_deceased == 'Y'"> <label for="kin-[[$index]]">Next of Kin</label> &nbsp;&nbsp;
							<input id="emergency-[[$index]]" type="checkbox" ng-model="relationType.related_people_is_emergency" ng-true-value="'Y'" ng-false-value="'N'" ng-disabled="!relationType.related_people_relationship_type || viewOnly || relationType.related_people_is_deceased == 'Y'"> <label for="emergency-[[$index]]">Emergency</label> &nbsp;&nbsp;
						</div>
					</div>
					<span class="errors reversed" id="error-bio-gender">
						<span ng-if="relationGroupValidation && notifications"> * [[ relationGroupValidationMessage ]] <br /></span>
					</span>
				</div>
			</div>
			<div class="form-group">
				<div class="col-lg-3 text-center" ng-if="determineGender(relationType.related_people_relationship_type) == 'F'">
					<div>
						<input class="form-control input-form" type="text" style="visibility:hidden">
						<label class="input-label">Maiden Name</label>
					</div>
				</div>
				<div class="col-lg-3">
					<div>
						<label class="input-label" ng-class="{ 'required': validations.related_people_last_name.required }">Last Name:</label>
						<input class="form-control input-form" ng-class="{ 'error': nestedRelationTypesForm.last_name.$invalid && notifications }" type="text" ng-model="relationType.related_people_last_name" name="last_name" id="last_name" ng-required="[[ validations.related_people_last_name.required ]]" maxlength="[[ validations.related_people_last_name.max_length ]]" ng-disabled="!relationType.related_people_relationship_type || viewOnly" negate-special-characters="name">
					</div>
					<span class="errors" id="error-bio-relations-last-name">
						<span ng-if="nestedRelationTypesForm.last_name.$error.required && notifications"> * [[ requiredMessage ]] <br /></span>
						<span ng-if="nestedRelationTypesForm.last_name.$error.maxlength">* Maximum of [[ validations.last_name.max_length ]] characters <br /></span>
					</span>
					<!-- TODO: ng-required -->
					<!-- TODO: maxlength -->
				</div>
				<div class="col-lg-3">
					<div>
						<label class="input-label" ng-class="{ 'required': validations.related_people_first_name.required }">First Name:</label>
						<input class="form-control input-form" ng-class="{ 'error': nestedRelationTypesForm.first_name.$invalid && notifications }" type="text" ng-model="relationType.related_people_first_name" name="first_name" id="first_name" ng-required="[[ validations.related_people_first_name.required ]]" maxlength="[[ validations.related_people_first_name.max_length ]]" ng-disabled="!relationType.related_people_relationship_type || viewOnly" negate-special-characters="name">
					</div>
					<span class="errors" id="error-bio-relations-first-name">
						<span ng-if="nestedRelationTypesForm.first_name.$error.required && notifications"> * [[ requiredMessage ]] <br /></span>
						<span ng-if="nestedRelationTypesForm.first_name.$error.maxlength">* Maximum of [[ validations.last_name.max_length ]] characters <br /></span>
					</span>
					<!-- TODO: ng-required -->
					<!-- TODO: maxlength -->
				</div>
				<div class="col-lg-3">
					<div>
						<label class="input-label" ng-class="{ 'required': validations.related_people_middle_name.required }">Middle Name:</label>
						<input id="middle_name" name="middle_name" class="form-control input-form" ng-class="{ 'error': nestedRelationTypesForm.middle_name.$invalid && notifications }" type="text" ng-model="relationType.related_people_middle_name" maxlength="" ng-required="[[ validations.related_people_middle_name.required ]]" maxlength="[[ validations.related_people_middle_name.max_length ]]" ng-disabled="!relationType.related_people_relationship_type || viewOnly" negate-special-characters="name">
					</div>
					<span class="errors" id="error-bio-relations-middle-name">
						<span ng-if="nestedRelationTypesForm.middle_name.$error.maxlength">* Maximum of [[ validations.last_name.max_length ]] characters <br /></span>
					</span>
					<!-- TODO: maxlength -->
				</div>
				<div ng-if="determineGender(relationType.related_people_relationship_type) == 'M'" class="col-lg-3">
				<!-- <div ng-class="{ 'col-lg-1': relationType.gender == 'F', 'col-lg-3': relationType.gender == 'M' }"> -->
					<div>
						<label class="input-label">Suffix:</label>
						<!-- <input class="form-control input-form" type="text" ng-model="relationType.name_suffix"> -->
						<select class="form-control input-form" ng-model="relationType.related_people_name_suffix" ng-options="x.value as x.label for x in nameSuffixOptions" ng-required="[[ validations.name_suffix.required ]]">
						</select>
					</div>
				</div>
			</div>
			<div class="form-group"  ng-if="determineGender(relationType.related_people_relationship_type) == 'F'">
				<div class="col-lg-3 text-center">
					<div>
						<input class="form-control input-form" type="text" style="visibility:hidden">
							<input type="checkbox" id="married-name-[[$index]]" ng-model="relationType.marriedName" ng-click="marriedName(relationType)">
							<label for="married-name-[[$index]]">Married Name</label>
					</div>
				</div>
				<div class="col-lg-3">
					<div>
						<label class="input-label" ng-class="{ 'required': relationType.marriedName }">Last Name:</label>
						<input class="form-control input-form" ng-class="{ 'error': nestedRelationTypesForm.married_last_name.$invalid && notifications }" type="text" ng-model="relationType.related_people_married_last_name" name="married_last_name" id="married_last_name" ng-required="relationType.marriedName" maxlength="[[ validations.related_people_married_last_name.max_length ]]" ng-disabled="!relationType.related_people_relationship_type || !relationType.marriedName" negate-special-characters="name">
					</div>
					<span class="errors" id="error-bio-relations-married-last-name">
						<span ng-if="nestedRelationTypesForm.last_name.$error.required && notifications"> * [[ requiredMessage ]] <br /></span>
						<span ng-if="nestedRelationTypesForm.last_name.$error.maxlength">* Maximum of [[ validations.last_name.max_length ]] characters <br /></span>
					</span>
					<!-- TODO: ng-required -->
					<!-- TODO: maxlength -->
				</div>
				<div class="col-lg-3">
					<div>
						<label class="input-label" ng-class="{ 'required': relationType.marriedName }">First Name:</label>
						<input class="form-control input-form" ng-class="{ 'error': nestedRelationTypesForm.married_first_name.$invalid && notifications }" type="text" ng-model="relationType.related_people_married_first_name" name="married_first_name" id="married_first_name" ng-required="relationType.marriedName" maxlength="[[ validations.related_people_married_first_name.max_length ]]" ng-disabled="!relationType.related_people_relationship_type || !relationType.marriedName" negate-special-characters="name">
					</div>
					<span class="errors" id="error-bio-relations-married-first-name">
						<span ng-if="nestedRelationTypesForm.first_name.$error.required && notifications"> * [[ requiredMessage ]] <br /></span>
						<span ng-if="nestedRelationTypesForm.first_name.$error.maxlength">* Maximum of [[ validations.last_name.max_length ]] characters <br /></span>
					</span>
					<!-- TODO: ng-required -->
					<!-- TODO: maxlength -->
				</div>
				<div class="col-lg-3">
					<div>
						<label class="input-label" ng-class="{ 'required': relationType.marriedName }">Middle Name:</label>
						<input class="form-control input-form" ng-class="{ 'error': nestedRelationTypesForm.married_middle_name.$invalid && notifications }" type="text" ng-model="relationType.related_people_married_middle_name" name="married_middle_name" id="married_middle_name" ng-required="relationType.marriedName" maxlength="[[ validations.related_people_married_middle_name.max_length ]]" ng-disabled="!relationType.related_people_relationship_type || !relationType.marriedName" negate-special-characters="name">
					</div>
					<span class="errors" id="error-bio-relations-married-middle-name">
						<span ng-if="nestedRelationTypesForm.married_middle_name.$error.required && notifications"> * [[ requiredMessage ]] <br /></span>
						<span ng-if="nestedRelationTypesForm.married_middle_name.$error.maxlength">* Maximum of [[ validations.last_name.max_length ]] characters <br /></span>
					</span>
					<!-- TODO: ng-required -->
					<!-- TODO: maxlength -->
				</div>
			</div>
			<div class="form-group">
				<div class="col-lg-2">
					<div>
						<label class="input-label" ng-class="{ 'required': validations.related_people_birthdate.required }">Birthdate:</label>
						<input class="form-control input-form birth_date" ng-class="{ 'error': nestedRelationTypesForm.birthdate.$invalid && notifications }" type="text" ng-model="relationType.related_people_birthdate" name="birthdate" ng-disabled="!relationType.related_people_relationship_type || viewOnly" ng-required="[[ validations.related_people_birthdate.required ]]" datepicker>
					</div>
					<span class="errors" id="error-bio-relations-birthdate">
						<span ng-if="nestedRelationTypesForm.birthdate.$error.required && notifications"> * [[ requiredMessage ]] <br /></span>
					</span>
					<!-- TODO: ng-required -->
				</div>
				<div class="col-lg-1">
					<div>
						<label class="input-label">Age:</label>
						<input class="form-control input-form disabled important" type="number" disabled value="[[ relationType.related_people_birthdate | ageFilter ]]">
					</div>
				</div>
				<div class="col-lg-3">
					<div>
						<label class="input-label" ng-class="{ 'required': validations.related_people_birthplace.required }">Birthplace:</label>
						<input class="form-control input-form" ng-class="{ 'error': nestedRelationTypesForm.birthplace.$invalid && notifications }" type="text" ng-model="relationType.related_people_birthplace" name="birthplace" id="birthplace" ng-required="[[ validations.related_people_birthplace.required ]]" maxlength="[[ validations.related_people_birthplace.max_length ]]" ng-disabled="!relationType.related_people_relationship_type || viewOnly" negate-special-characters="address">
					</div>
					<span class="errors" id="error-bio-relations-birthplace">
						<span ng-if="nestedRelationTypesForm.birthplace.$error.required && notifications"> * [[ requiredMessage ]] <br /></span>
						<span ng-if="nestedRelationTypesForm.birthplace.$error.maxlength">* Maximum of [[ validations.related_people_birthplace.max_length ]] characters <br /></span>
					</span>
					<!-- TODO: ng-required -->
					<!-- TODO: maxlength -->
				</div>
				
				<div class="col-lg-3">
					<div>
						<label class="input-label" ng-class="{ 'required': validations.related_people_nationality.required }">Nationality:</label>
						<select ng-disabled="!relationType.related_people_relationship_type || viewOnly" class="form-control input-form" ng-class="{ 'error': nestedRelationTypesForm.nationality.$invalid && notifications }" ng-model="relationType.related_people_nationality" name="nationality" id="nationality-[[ $index ]]" ng-options="x.value as x.label for x in nationalityOptions" ng-init="relationType.related_people_nationality = philippines" ng-required="[[ validations.related_people_nationality.required ]]">
						</select>
					</div>
					<span class="errors" id="error-bio-relations-nationality">
						<span ng-if="nestedRelationTypesForm.nationality.$error.required && notifications"> * [[ requiredMessage ]] <br /></span>
					</span>
				</div>
				<div class="col-lg-3">
					<div>
						<label class="input-label" ng-class="{ 'required': validations.related_people_passport_number.required }">Passport:</label>
						<input class="form-control input-form" ng-class="{ 'error': nestedRelationTypesForm.passport_number.$invalid && notifications }" type="text" ng-model="relationType.related_people_passport_number" name="passport_number" id="passport-number" ng-required="[[ validations.related_people_passport_number.required ]]" maxlength="[[ validations.related_people_passport_number.max_length ]]" ng-disabled="viewOnly">
					</div>
				</div>
			</div>
			<!-- <div class="form-group" ng-if="relationType.related_people_relationship_type == wife || relationType.related_people_relationship_type == husband"> -->
			<div class="form-group" ng-class="{ 'hide': relationType.related_people_relationship_type != wife && relationType.related_people_relationship_type != husband}">
				<div class="col-lg-2">
					<div>
						<label class="input-label" ng-class="{ 'required': relationType.related_people_relationship_type == wife || relationType.related_people_relationship_type == husband }">Date of Marriage:</label>
						<input name="marriage_date" class="form-control input-form" ng-class="{ 'error': nestedRelationTypesForm.marriage_date.$invalid && notifications }" type="text" ng-model="relationType.related_people_marriage_date" ng-required="relationType.related_people_relationship_type == wife || relationType.related_people_relationship_type == husband" datepicker>
					</div>
					<span class="errors" id="error-bio-relations-marriage-date">
						<span ng-if="nestedRelationTypesForm.marriage_date.$error.required && notifications"> * [[ requiredMessage ]] <br /></span>
					</span>
					<!-- TODO: ng-required -->
				</div>
				<div class="col-lg-4">
					<div>
						<label class="input-label" ng-class="{ 'required': !viewOnly }">Place of Marriage:</label>
						<input class="form-control input-form" type="text" ng-class="{ 'error': nestedRelationTypesForm.marriage_place.$invalid && notifications }" ng-model="relationType.related_people_marriage_place" id="marriage_place" name="marriage_place" ng-required="relationType.related_people_relationship_type == wife || relationType.related_people_relationship_type == husband" maxlength="[[ validations.related_people_marriage_place.max_length ]]" negate-special-characters="address">
					</div>
					<span class="errors" id="error-bio-relations-marriage-place">
						<span ng-if="nestedRelationTypesForm.marriage_place.$error.required && notifications"> * [[ requiredMessage ]] <br /></span>
					</span>
					<!-- TODO: ng-required -->
				</div>
				<div class="col-lg-3">
					<div class="text-center" style="padding-top:10px;">
						<label class="input-label"></label><br />
						
						<input type="checkbox" id="working-[[$index]]" ng-model="relationType.related_people_is_working" ng-true-value="'Y'" ng-false-value="'N'" ng-init="relationType.related_people_is_working = 'N'"><label for="working-[[$index]]"> Working</label> &nbsp; &nbsp;
						<input type="checkbox" id="studying-[[$index]]" ng-model="relationType.related_people_is_student" ng-true-value="'Y'" ng-false-value="'N'" ng-init="relationType.related_people_is_student = 'N'"><label for="studying-[[$index]]"> Studying</label>
					</div>
				</div>
				<div class="col-lg-3">
					<div>
						<label class="input-label">Occupation:</label>
						<input ng-disabled="!relationType.related_people_relationship_type || viewOnly" class="form-control input-form" type="text" ng-model="relationType.related_people_occupation" name="occupation-[[ $index ]]" id="occupation-[[ $index ]]" negate-special-characters="name">
					</div>
				</div>
			</div>
			<div class="view-separator disabled"></div>
			<div class="form-group">
				<div class="col-lg-6">
					<h4>
						CONTACT DETAILS
					</h4>
				</div>
			</div>
			<div class="form-group">
				<div class="col-lg-3">
					<div>
						<label class="input-label"><i class="glyphicon [[ glyphiconTelephone ]]"></i> 1. Area Code:</label>
						<select ng-disabled="!relationType.related_people_relationship_type || viewOnly || relationType.related_people_is_deceased == 'Y'" class="form-control input-form" ng-model="relationType.related_people_tel_area_code" name="related_people_tel_area_code" id="related_people_tel_area_code_[[ $index ]]" ng-options="x.value as x.label for x in areaCodeOptions" ng-change="emptyTelephoneChange(relationType.related_people_tel_area_code, relationType, 'related_people_tel_number');">
							<option value=""></option>
						</select>
					</div>
					<span class="errors" id="error-bio-relations-tel-area-code">
						<span ng-if="nestedRelationTypesForm.tel_area_code.$error.required && notifications"> * [[ requiredMessage ]] <br /></span>
					</span>
				</div>
				<div class="col-lg-3">
					<div>
						<label class="input-label">Telephone:</label>
						<input ng-disabled="!relationType.related_people_relationship_type || viewOnly || !relationType.related_people_tel_area_code || relationType.related_people_is_deceased == 'Y'" class="form-control input-form" type="text" ng-model="relationType.related_people_tel_number" name="related_people_tel_number" id="related_people_tel_number_[[ $index ]]" ui-mask="999-99-99" ui-mask-placeholder="xxx-xx-xx" ng-change="nullRemover('related_people_tel_number', relationType)">
					</div>
					<span class="errors" id="error-bio-relations-tel-number">
						<span ng-if="nestedRelationTypesForm.tel_number.$error.required && notifications"> * [[ requiredMessage ]] <br /></span>
					</span>
				</div>
				<div class="col-lg-3">
					<div>
						<label class="input-label"><i class="glyphicon [[ glyphiconTelephone ]]"></i> 2. Area Code:</label>
						<select ng-disabled="!relationType.related_people_relationship_type || viewOnly || relationType.related_people_is_deceased == 'Y'" class="form-control input-form" ng-model="relationType.related_people_tel_area_code_2" name="related_people_tel_area_code_2" id="related_people_tel_area_code_2_[[ $index ]]" ng-options="x.value as x.label for x in areaCodeOptions" ng-change="emptyTelephoneChange(relationType.related_people_tel_area_code_2, relationType, 'related_people_tel_number_2');">
							<option value=""></option>
						</select>
					</div>
					<span class="errors" id="error-bio-relations-tel-area-code-2">
						<span ng-if="nestedRelationTypesForm.tel_area_code_2.$error.required && notifications"> * [[ requiredMessage ]] <br /></span>
					</span>
				</div>
				<div class="col-lg-3">
					<div>
						<label class="input-label">Telephone:</label>
						<input ng-disabled="!relationType.related_people_relationship_type || viewOnly || !relationType.related_people_tel_area_code_2 || relationType.related_people_is_deceased == 'Y'" class="form-control input-form" type="text" ng-model="relationType.related_people_tel_number_2" name="related_people_tel_number_2" id="related_people_tel_number_2_[[ $index ]]" ui-mask="999-99-99" ui-mask-placeholder="xxx-xx-xx" ng-change="nullRemover('related_people_tel_number_2', relationType)">
					</div>
					<span class="errors" id="error-bio-relations-tel-number-2">
						<span ng-if="nestedRelationTypesForm.tel_number_2.$error.required && notifications"> * [[ requiredMessage ]] <br /></span>
					</span>
				</div>
			</div>
			<div class="form-group">
				<div class="col-lg-2">
					<div>
						<label class="input-label"><i class="glyphicon [[ glyphiconMobile ]]"></i> 1. Network:</label>
						<input class="form-control input-form" name="related_people_mobile_network" id="related_people_mobile_network" ng-disabled="!viewOnly || relationType.related_people_is_deceased == 'Y'" value="[[ determineNetwork(relationType.related_people_mobile_prefix) ]]">
					</div>
					<span class="errors" id="error-bio-relations-mobile-network">
						<span ng-if="nestedRelationTypesForm.mobile_network.$error.required && notifications"> * [[ requiredMessage ]] <br /></span>
					</span>
				</div>
				<div class="col-lg-1">
					<div>
						<label class="input-label" ng-class="{ 'required': !viewOnly && relationType.related_people_is_deceased == 'N' }">Prefix:</label>
						<select ng-disabled="!relationType.related_people_relationship_type || viewOnly || relationType.related_people_is_deceased == 'Y'" class="form-control input-form" ng-class="{ 'error': nestedRelationTypesForm.mobile_prefix.$invalid && notifications }" ng-model="relationType.related_people_mobile_prefix" name="mobile_prefix" id="related_people_mobile_prefix" ng-required="!viewOnly && relationType.related_people_is_deceased == 'N'" ng-options="x.value as x.label for x in mobilePrefixNetworkOptions" ng-change="fieldDependentRemover(relationType, 'related_people_mobile_prefix', 'related_people_mobile_number'); prefixTypeChange('[[ relationType.related_people_mobile_prefix ]]', relationType, 'related_people_mobile_number');">
							<option value=""></option>
						</select>
					</div>
					<span class="errors" id="error-bio-relations-mobile-prefix">
						<span ng-if="nestedRelationTypesForm.mobile_prefix.$error.required && notifications"> * [[ requiredMessage ]] <br /></span>
					</span>
				</div>
				<div class="col-lg-3">
					<div>
						<label class="input-label" ng-class="{ 'required': !viewOnly && relationType.related_people_is_deceased == 'N' }">Mobile:</label>
						<input ng-if="relationType.related_people_mobile_prefix == other_prefix || !relationType.related_people_mobile_prefix" ng-disabled="!relationType.related_people_relationship_type || viewOnly || !relationType.related_people_mobile_prefix || relationType.related_people_is_deceased == 'Y'" class="form-control input-form" ng-class="{ 'error': nestedRelationTypesForm.mobile_number.$invalid && notifications }" type="text" ng-model="relationType.related_people_mobile_number" name="mobile_number" id="mobile_number_[[ $index ]]" ng-required="!viewOnly && relationType.related_people_is_deceased == 'N'" maxlength="[[ validations.related_people_mobile_number.max_length ]]" numbers-only>
						<input name="mobile_number" ng-if="relationType.related_people_mobile_prefix != other_prefix && relationType.related_people_mobile_prefix" ng-disabled="relationType.related_people_is_deceased == 'Y'" class=" form-control input-form" ng-class="{ 'error': nestedRelationTypesForm.mobile_number.$invalid && notifications }" type="text" ui-mask="99-99-999" ui-mask-placeholder="xx-xx-xxx" ng-model="relationType.related_people_mobile_number" ng-required="relationType.related_people_mobile_prefix">
					</div>
					<span class="errors" id="error-bio-relations-mobile-number">
						<span ng-if="nestedRelationTypesForm.mobile_number.$error.required && notifications"> * [[ requiredMessage ]] <br /></span>
					</span>
				</div>
				<div class="col-lg-2">
					<div>
						<label class="input-label"><i class="glyphicon [[ glyphiconMobile ]]"></i> 2. Network:</label>
						<input class="form-control input-form" name="related_people_mobile_network_2" id="related_people_mobile_network_2" ng-disabled="!viewOnly || relationType.related_people_is_deceased == 'Y'" value="[[ determineNetwork(relationType.related_people_mobile_prefix_2) ]]">
					</div>
					<span class="errors" id="error-bio-relations-mobile-network-2">
						<span ng-if="nestedRelationTypesForm.mobile_network_2.$error.required && notifications"> * [[ requiredMessage ]] <br /></span>
					</span>
				</div>
				<div class="col-lg-1">
					<div>
						<label class="input-label">Prefix:</label>
						<select ng-disabled="!relationType.related_people_relationship_type || viewOnly || relationType.related_people_is_deceased == 'Y'" class="form-control input-form" ng-model="relationType.related_people_mobile_prefix_2" name="related_people_mobile_prefix_2" id="related_people_mobile_prefix_2" ng-options="x.value as x.label for x in mobilePrefixNetworkOptions" ng-change="fieldDependentRemover(relationType, 'related_people_mobile_prefix', 'related_people_mobile_number'); prefixTypeChange('[[ relationType.related_people_mobile_prefix_2 ]]', relationType, 'related_people_mobile_number_2');">
							<option value=""></option>
						</select>
					</div>
					<span class="errors" id="error-bio-relations-mobile-prefix-2">
						<span ng-if="nestedRelationTypesForm.mobile_prefix_2.$error.required && notifications"> * [[ requiredMessage ]] <br /></span>
					</span>
				</div>
				<div class="col-lg-3">
					<div>
						<label class="input-label">Mobile:</label>
						<input ng-if="relationType.related_people_mobile_prefix_2 == other_prefix || !relationType.related_people_mobile_prefix_2" ng-disabled="!relationType.related_people_relationship_type || viewOnly || !relationType.related_people_mobile_prefix_2 || relationType.related_people_is_deceased == 'Y'" class="form-control input-form" ng-class="{ 'error': nestedRelationTypesForm.mobile_number_2.$invalid && notifications }" type="text" ng-model="relationType.related_people_mobile_number_2" name="mobile_number_2" id="mobile_number_[[ $index ]]" maxlength="[[ validations.related_people_mobile_number.max_length ]]" numbers-only>
						<input name="mobile_number_2" ng-if="relationType.related_people_mobile_prefix_2 != other_prefix && relationType.related_people_mobile_prefix_2" ng-disabled="relationType.related_people_is_deceased == 'Y'" class=" form-control input-form" ng-class="{ 'error': nestedRelationTypesForm.mobile_number_2.$invalid && notifications }" type="text" ui-mask="99-99-999" ui-mask-placeholder="xx-xx-xxx" ng-model="relationType.related_people_mobile_number_2">
					</div>
					<span class="errors" id="error-bio-relations-mobile-number-2">
						<span ng-if="nestedRelationTypesForm.related_people_mobile_number_2.$error.required && notifications"> * [[ requiredMessage ]] <br /></span>
					</span>
				</div>
			</div>
			<div class="view-separator disabled"></div>
			<div class="form-group">
				<div class="col-lg-6">
					<h4>
						ADDRESS
					</h4>
				</div>
			</div>
			<div class="form-group">
				<div class="col-lg-2">
					<div class="same-as-above">
						<label class="input-label"><br /></label><br />
						<input type="checkbox" id="same-as-above-permanent-[[ $index ]]" ng-model="relationType.same" ng-click="sameAsAbove(relationType.same, bioAddresses[0], relationType, 'related_region'+$index, 'related_province'+$index, 'related_municipality'+$index, 1)" ng-disabled="!relationType.related_people_relationship_type || viewOnly">
						<label for="same-as-above-permanent-[[ $index ]]">Same as Permanent</label>
					</div>
				</div>
				<div class="col-lg-5">
					<div>
						<label class="input-label">Address (Unit/House/Street/Subdivision):</label>
						<input ng-disabled="!relationType.related_people_relationship_type || viewOnly || relationType.addressReadonly" class="form-control input-form" type="text" ng-model="relationType.related_people_address" name="address" id="address-[[ $index ]]" negate-special-characters="address">
					</div>
					<span class="errors" id="error-bio-relations-address">
						<span ng-if="nestedRelationTypesForm.address.$error.required && notifications"> * [[ requiredMessage ]] <br /></span>
					</span>
				</div>
				<div class="col-lg-5">
					<div>
						<label class="input-label">Region:</label>
						<select ng-disabled="!relationType.related_people_relationship_type || viewOnly || relationType.regionReadonly" class="form-control input-form" ng-model="relationType.region" name="region" id="related_region[[ $index ]]" ng-options="x.value as x.label for x in regionOptions" ng-change="dynamicFilter(1 , 'provinces', 'region', relationType.region, 'related_region'+$index, 'province', 'province', $index+1)">
						</select>
					</div>
					<span class="errors" id="error-bio-relations-region">
						<span ng-if="nestedRelationTypesForm.region.$error.required && notifications"> * [[ requiredMessage ]] <br /></span>
					</span>
				</div>	
			</div>
			<div class="form-group">
				<div class="col-lg-3">
					<div>
						<label class="input-label">Province:</label>
						<select class="form-control input-form" ng-disabled="!relationType.related_people_relationship_type || viewOnly || !relationType.region || relationType.provinceReadonly" ng-model="relationType.province" name="province" id="related_province[[ $index ]]" ng-options="x.value as x.label for x in filter['related_region'+$index].province" ng-change="dynamicFilter(1 , 'municipalities', 'province', relationType.province, 'related_province'+$index, 'municipality', 'municipality', $index+1)">
						</select>
					</div>
				</div>
				<div class="col-lg-3">
					<div>
						<label class="input-label">City/Municipality:</label>
						<select ng-disabled="!relationType.related_people_relationship_type || viewOnly || !relationType.province || relationType.cityReadonly" class="form-control input-form" ng-model="relationType.municipality" name="municipality-[[ $index ]]" name="municipality" id="related_municipality[[ $index ]]" ng-options="x.value as x.label for x in filter['related_province'+$index].municipality" ng-change="zipFilter(1, $index, relationType.municipality)" ng-if="relationType.region != ncr">
						</select>
						<select ng-disabled="!relationType.related_people_relationship_type || viewOnly || !relationType.province || relationType.cityReadonly" class="form-control input-form" name="municipality" id="municipality[[ $index ]]" ng-model="relationType.municipality" ng-options="x.value as x.label for x in filter['related_province'+$index].municipality" ng-change="dynamicFilter(1 , 'barangays', 'municipality', relationType.municipality, 'related_municipality'+$index, 'barangay', 'barangay', $index+1)" ng-if="relationType.region == ncr">
						</select>
					</div>
					<span class="errors" id="error-bio-relations-municipality">
						<span ng-if="nestedRelationTypesForm.municipality.$error.required && notifications"> * [[ requiredMessage ]] <br /></span>
					</span>
				</div>
				<div class="col-lg-5">
					<div>
						<label class="input-label ">Barangay/Purok/Barrio:</label>
						<input ng-disabled="!relationType.related_people_relationship_type || viewOnly || !relationType.municipality || relationType.barangayReadonly" class="form-control input-form" type="text" ng-model="relationType.related_people_province_barangay" name="barangay" id="barangay-[[ $index ]]" ng-if="relationType.region != ncr"  maxlength="[[ validations.related_people_province_barangay.max_length ]]" negate-special-characters="address">
						<select ng-disabled="!relationType.related_people_relationship_type || viewOnly || !relationType.municipality || relationType.barangayReadonly" class="form-control input-form" ng-model="relationType.related_people_province_barangay" name="barangay" id="barangay[[ $index ]]" ng-if="relationType.region == ncr" ng-options="x.value as x.label for x in filter['related_municipality'+$index].barangay" ng-change="zipFilter(1, $index, relationType.municipality, relationType.related_people_province_barangay)" ng-if="relationType.region != ncr">
						</select>
					</div>
					<span class="errors" id="error-bio-relations-barangay">
						<span ng-if="nestedRelationTypesForm.barangay.$error.required && notifications"> * [[ requiredMessage ]] <br /></span>
					</span>
				</div>
				<div class="col-lg-1">
					<div>
						<label class="input-label">Zip Code:</label>
						<input ng-disabled="!relationType.related_people_relationship_type || viewOnly" class="form-control input-form disabled hide" type="text" ng-model="relationType.related_people_zip" id="related_people_zip" name="related_people_zip" ng-required="false" readonly="">
						<input ng-disabled="!relationType.related_people_relationship_type || viewOnly" class="form-control input-form disabled important" type="text" ng-model="relationType.related_people_zip_proxy"readonly="">
					</div>
				</div>
				<!-- <div class="col-lg-2">
					<div>
						<label class="input-label"><br /></label>
						<a href="https://www.google.com.ph/webhp?hl=en#hl=en&q=[[ bioAddress.bio_fil_zip_proxy ]] [[  bioAddress.bio_fil_address ]]" target="_blank">
							<button type="button" class="btn form-control google-search">Search on Google</button>
						</a>
					</div>
				</div> -->
			</div>
			<div class="form-group" ng-if="$index >= 2">
				<div class="col-lg-12">
					<button class="btn form-control remove" ng-click="removeNestedModels(relationTypes, $index, originalRelationTypes)"><span class="glyphicon [[ glyphiconRemoveObject ]]"></span>Delete Relation</button>
				</div>
			</div>
			<div class="view-separator disabled" style="margin-bottom: 20px;"></div>
		</fieldset>
		<div class="form-group" ng-if="!viewOnly">
			<div class="col-lg-12">
				<button class="btn form-control add" ng-click="addRelationNestedModels(relationTypes)"><span class="glyphicon [[ glyphiconAddObject ]]"></span>Add Relation</button>
			</div>
		</div>
	</div>
<!-- </div>