<div class="form-group"> <!-- START class="form-group search-filter-container" -->
	<div class="col-lg-6">
		<div class="input-group">
			<label class="input-group-addon input-label negate-padding-left">Search:</label>
			<input class="form-control input-form" id="search" type="text" placeholder="Search here..." ng-keyup="search(apiGetItems, $event)" auto-complete ui-items="searchItems">
		</div>
	</div>
	<div class="col-lg-3 hide">
		<div class="input-group">
			<!-- <select id="field-select" class="form-control input-form">
				<option value="">Search by..</option>
				<option value="rank_code">Code</option>
				<option value="rank_description">Description</option>
			</select> -->
			<label class="input-group-addon input-label">Search by:</label>
			<select id="field-select" class="form-control input-form" ng-model="searchList" ng-options="x as x.label for x in searchFilters" ng-change="searchFilter(apiGetItems, $event)" auto-complete ui-items="searchItems" ng-init="searchList=searchFilters[0]"></select>
		</div>
	</div>
	<div class="col-lg-2 hide">
		<div class="input-group">
			<button class="btn form-control btn-msmi-blue" ng-click="clearSearch()" id="clear-sort">Clear</button>
		</div>
	</div>
	<div class="col-lg-2 col-lg-offset-2" ng-if="deleteArray.length > 0">
		<div class="input-group">
			<button class="btn form-control btn-msmi-blue" ng-click="toggleNotificationModal()" id="undo-delete">Undo Delete</button>
		</div>
	</div>
</div> <!-- END class="form-group" -->
<div class="row">
	<div class="col-lg-6">
		<h4><strong>ADVANCED SEARCH</strong></h4>
	</div>
	<div class="col-lg-6 text-right">
		<h4><span class="caret big-caret" data-toggle="collapse" data-target="#advanced-filter" ng-click="dynamicCaret($event)" aria-expanded="true"></span></h4>
	</div>
</div>
<div id="advanced-filter" class="collapse in">
	<div class="view-separator disabled col-lg-12"></div>
	<div class="col-lg-12">
		<h4 class="filters-title">FILTERS</h4>
		<div class="view-separator disabled col-lg-12 form-group"></div>
	</div>
	<div class="col-lg-12 dynamic-filter-row" ng-repeat="advancedFilterRow in advancedFilterRows">
		<div class="col-lg-4">
			<select class="form-control input-form" ng-model="advancedFilterRow.field" ng-options="x.value as x.label for x in fieldOptions" ng-change="advancedFieldChange($index)">
				<!-- <option>STATUS</option>
				<option>BMI</option> -->
			</select>
		</div>
		<div class="col-lg-1 conditional-container">
			<select class="form-control input-form" ng-model="advancedFilterRow.operator" ng-options="x.value as x.label for x in operatorOptions[$index]" ng-disabled="!advancedFilterRow.field">
				<!-- <option>is</option>
				<option>=</option>
				<option>>=</option>
				<option><=</option> -->
			</select>
		</div>
		<div class="col-lg-4" ng-if="advancedFilterRow.operator != '__range'">
			<select class="form-control input-form" ng-model="advancedFilterRow.value" ng-options="x.value as x.label for x in valueOptions[$index]" ng-disabled="!advancedFilterRow.field" ng-if="!advancedFilterRow.textbox">
				<!-- <option>ONBOARD</option>
				<option>WHATEVER VALUE</option> -->
			</select>
			<input class="form-control input-form" ng-model="advancedFilterRow.value" ng-if="advancedFilterRow.textbox">
		</div>
		<div class="col-lg-2" ng-if="advancedFilterRow.operator == '__range'">
			<input class="form-control input-form" ng-model="advancedFilterRow.value1">
		</div>
		<div class="col-lg-2" ng-if="advancedFilterRow.operator == '__range'">
			<input class="form-control input-form" ng-model="advancedFilterRow.value2">
		</div>


		<div class="col-lg-1 button-container">
			<span class="glyphicon [[ glyphiconAddObject ]]" ng-click="addDynamicFilter(advancedFilterRows)"></span>
			<span ng-if="$index > 0"class="glyphicon [[ glyphiconRemoveObject ]]" ng-click="removeDynamicFilter(advancedFilterRows, $index)"></span>
			<span ng-if="$index == 0"class="glyphicon [[ glyphiconRemoveObject ]] glyphicon-disabled"></span>
		</div>
		<div class="col-lg-2">
			<button class="btn form-control">Clear</button>
		</div>
	</div>
</div>

<!-- [[ operatorOptions ]] -->
[[ advancedFilterRows ]]

<!-- <select ng-if="!viewOnly" name="name_suffix" ng-disabled="viewOnly" class="form-control input-form" ng-class="{ 'error': bioManagementForm.name_suffix.$invalid && notifications }" ng-model="input.name_suffix" ng-options="x.value as x.label for x in nameSuffixOptions" ng-required="[[ validations.name_suffix.required ]]">
					<option value=""></option>
				</select> -->