<aside id="bio-sidebar">
	<div class="col-lg-2">
		<div id="profile-sidebar" get-width-affix>
			<!-- Take note that profile-pictures should be 200px -->
			<img src="/static/img/sample_profile_picture.jpg" ng-if="!photo" class="img-responsive profile-picture" style="width: 100%" data-toggle="tooltip" title="[[ input.first_name ]] [[ input.middle_name ]] [[ input.last_name ]]" data-original-title="[[ input.first_name ]] [[ input.middle_name ]] [[ input.last_name ]]">
			<!-- ng-if will result to a bug -->
			<img align="center" ng-show="photo" ngf-thumbnail="photo" class="img-responsive profile-picture" style="width: 100%">
			<label for="profile_picture" class="change-picture-label"><img src="/static/img/camcon.png" id="camera-label" class="change-picture-icon" data-toggle="tooltip" title="Change Picture"></label>
			<input type="file" ngf-select name="photo" ng-model="photo" id="profile_picture" accept="image/*" ngf-model-invalid="errorFile" class="hide">
			<!-- <div class="profile-picture-caption">CODE</div> -->
			<div>
				<input class="form-control code text-center attached-with-pic" ng-model="input.user_code" ng-model-options="{allowInvalid: true}"  name="user_code" id="user_code" type="text" minlength="[[ validations.user_code.min_length ]]" maxlength="[[ validations.user_code.max_length ]]" ng-keyup="uniqueCheck(bioManagementForm, $event, code_readonly)" ng-readonly="[[ code_readonly ]]" ng-disabled="[[ viewOnly ]]" ng-required="[[ validations.user_code.required ]]" ng-disabled="[[ viewOnly ]]" placeholder="CODE">
			</div>
			<span class="errors" id="error-bio-user-code">
				<span ng-if="bioManagementForm.user_code.$error.required && notifications"> * [[ requiredMessage ]] <br /></span>
				<span ng-if="bioManagementForm.user_code.$error.maxlength || bioManagementForm.user_code.$error.minlength">* Code length must be exactly [[ validations.user_code.max_length ]] <br /></span>
			</span>
			<div class="single-border-end" id="bio-views">
				<p ng-click="anchorTagScroll('status')">Employment Status</p>
				<p ng-click="anchorTagScroll('personal-information')">Personal Information</p>
				<p ng-click="anchorTagScroll('educational-background')">Educational Background</p>
				<p ng-click="anchorTagScroll('relation')">Relations</p>
			</div>
			<div class="sections disabled">
				<ul>
					<!-- <li><a class="hover-green" href=""><span class="msmi-certificate"></span> CERTIFICATES</a></li>
					<li><a class="hover-green" href=""><span class="msmi-evaluation"></span> EVALUATIONS</a></li>
					<li><a class="hover-green" href=""><span class="msmi-license"></span> LICENSES</a></li>
					<li><a class="hover-green" href=""><span class="msmi-service"></span> SERVICES</a></li>
					<li><a class="hover-green" href=""><span class="msmi-relation"></span> REFERRALS</a></li> -->
					<li><span href=""><span class="msmi-certificate"></span> CERTIFICATES</span></li>
					<li><span href=""><span class="msmi-evaluation"></span> EVALUATIONS</span></li>
					<li><span href=""><span class="msmi-license"></span> LICENSES</span></li>
					<li><span href=""><span class="msmi-service"></span> SERVICES</span></li>
					<li><span href=""><span class="msmi-relation"></span> REFERRALS</span></li>
				</ul>
			</div>
			<!-- <div class="input-group">
				<label class="input-group-addon input-label negate-padding-left">Rank:</label>
				<select class="form-control input-form">
					<option>Captain</option>
				</select>
			</div>
			<div class="input-group">
				<label class="input-group-addon input-label negate-padding-left">Status:</label>
				<select class="form-control input-form">
					<option>Onboard</option>
				</select>
			</div> -->
		</div>
	</div>
</aside>

<script type="text/javascript" src="/static/js/scripts.js"></script>
<script type="text/javascript">
	$("#user_code").focus();
</script>