<div id="crew-menu-header"> <!-- START id="crew-menu-header" -->
	<!-- <strong>[[ title ]] CREW INFORMATION</strong> -->
	<strong>PEOPLE BIODATA</strong>
	<h3>Update information about our People</h3>
</div> <!-- END id="crew-menu-header" -->
<form ng-controller="formController" name="bioManagementForm" onsubmit="formSubmit()" novalidate> <!-- START ng-controller="formController" -->
	<div ng-include="'/static/bio/html/form-and-notifications.html'"></div>
	<div id="crew-menu-footer"> <!-- START id="crew-menu-footer" -->
		<div class="form-group screens-footer" > <!-- START class="form-group screens-footer" -->
			<!-- <admin-update-page-clear-button field='user_code'></admin-update-page-clear-button> -->
			<admin-update-page-save-button></admin-update-page-save-button>
			<admin-form-cancel-button></admin-form-cancel-button>
			<!-- <admin-update-view-footer></admin-update-view-footer> -->
		</div> <!-- END class="form-group screens-footer" -->
	</div>	<!-- END id="crew-menu-footer" -->
	<confirmation-modal title="Please Confirm" visible="showModal" ng-if="!viewOnly"> <!-- START delete-modal -->
		<div class="form-group">
			Are you sure you want to update the record?
		</div>
		<div class="text-right">
			<button class="btn btn-default" data-dismiss="modal" id="update-cancel">Cancel</button>
			<a href="" target="_blank" ng-click="updateInput(userManagementForm.$invalid, input, apiUpdate)" ><button class="btn" data-dismiss="modal" id="save">Save</button></a>
		</div>
	</confirmation-modal> <!-- END delete-modal -->
</form> <!-- END ng-controller="formController" -->