<div id="crew-menu-header"> <!-- START id="crew-menu-header" -->
	<!-- <strong>[[ title ]] CREW INFORMATION</strong>
	<h3>Viewing new crew information</h3> -->
	<strong>PEOPLE BIODATA</strong>
	<h3>See information about our People</h3>
</div> <!-- END id="crew-menu-header" -->
<form ng-controller="formController" name="bioManagementForm" onsubmit="formSubmit()" novalidate> <!-- START ng-controller="formController" -->
	<div id="login-notifications" ng-if="notifications"> <!-- START id="login-notifications"  -->
		[[ errorNotificationTitle ]]
		<!-- <span class="pull-right notifications-close" ng-click="hideNotifications()">X</span> -->
		<span class="pull-right glyphicon glyphicon-remove glyphicon-border-negate" id="hideNotifications" ng-click="hideNotifications()"></span>
		<hr>
		* You have errors on your form
	</div> <!-- END id="login-notifications"  -->
	<div id="crew-menu-body" class="form-horizontal screens-body"> <!-- START id="crew-menu-body" -->
		<div id="bio" class="form-group negate-margin-bottom" ng-controller="modalController"> <!-- START class="form-group negate-margin-bottom" -->
			<div ng-include="'/static/bio/html/views/sidebar.html?query='+forceReload"></div>
			<!-- <div id="main-content" class="col-lg-10 profile-border" ng-include="'/static/bio/html/views/personal-information.html'"></div> -->
			<div id="main-content" class="col-lg-10 profile-border" ng-include="'/static/bio/html/views/'+[[ page ]]+'.html?query='+forceReload"></div>
		</div> <!-- END class="form-group negate-margin-bottom" -->
	</div> <!-- END id="crew-menu-body" -->

	<!-- Does not work if included outside -->
	<!-- <script type="text/javascript" src="/static/js/scripts.js"></script> -->
	<div id="crew-menu-footer"> <!-- START id="crew-menu-footer" -->
		<div class="form-group screens-footer" > <!-- START class="form-group screens-footer" -->
			<!-- <div class="col-lg-2 col-lg-offset-6">
				<button class="btn form-control" ng-click="clearInput()" id="clear" type="button">CLEAR</button>
			</div> -->
			<!-- <admin-add-page-clear-button></admin-add-page-clear-button> -->
			<!-- <div class="col-lg-2">
				<button class="btn form-control" ng-click="saveInput(userManagementForm.$invalid, input, apiAdd)" id="save">SAVE</button>
			</div> -->
			<div class="col-lg-offset-6 col-lg-2"></div>
			<!-- <div class="col-lg-2">
				<a href="#/"><button class="btn form-control" id="cancel">CANCEL</button></a>
			</div> -->
			<admin-form-cancel-button></admin-form-cancel-button>
		</div> <!-- END class="form-group screens-footer" -->
	</div>	<!-- END id="crew-menu-footer" -->
</form> <!-- END ng-controller="formController" -->