{% load static %}

<!-- <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"> -->
<link rel="stylesheet" type="text/css" href="{% static 'bower_components/bootstrap/dist/css/bootstrap.min.css' %}">
<!-- <link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/flick/jquery-ui.min.css"> -->
<link rel="stylesheet" type="text/css" href="{% static 'bower_components/jquery-ui/themes/flick/jquery-ui.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'bower_components/angular-tree-dnd/dist/ng-tree-dnd.min.css' %}">
<link rel="stylesheet" href="{% static 'bower_components/ng-tags-input/ng-tags-input.min.css' %}" type="text/css" />
<link rel="stylesheet" href="{% static 'bower_components/components-font-awesome/css/font-awesome.min.css' %}" type="text/css" />
<link rel="stylesheet" href="{% static 'bower_components/angular-ui-select/dist/select.min.css' %}" />
<link rel="stylesheet" href="{% static 'bower_components/selectize/dist/css/selectize.default.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
<!-- <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script> -->
<script type="text/javascript" src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>
<!-- Needed for the modals and tooltip, try removing it and modals will not work anymore -->
<!-- <script type="text/javascript" src="https://code.jquery.com/ui/1.11.2/jquery-ui.min.js"></script> -->
<script type="text/javascript" src="{% static 'bower_components/jquery-ui/jquery-ui.min.js' %}"></script>
<!-- <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script> -->
<script type="text/javascript" src="{% static 'bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
<!-- <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.js"></script>  -->
<script type="text/javascript" src="{% static 'bower_components/angular/angular.min.js' %}"></script>
<!-- <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-route.min.js"></script> -->
<script type="text/javascript" src="{% static 'bower_components/angular-route/angular-route.min.js' %}"></script>
<!-- <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-animate.min.js"></script> -->
<script type="text/javascript" src="{% static 'bower_components/angular-animate/angular-animate.min.js' %}"></script>
<script src="{% static 'bower_components/angular-sanitize/angular-sanitize.min.js' %}" type="text/javascript" charset="utf-8"></script>
<!-- <script type="text/javascript" src="https://angular-file-upload.appspot.com/js/ng-file-upload.min.js"></script> -->
<script type="text/javascript" src="{% static 'bower_components/ng-file-upload/ng-file-upload.min.js' %}"></script>
<!-- <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-sanitize.js"></script> -->
<!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-mask/1.8.2/mask.min.js"></script> -->
<script type="text/javascript" src="{% static 'bower_components/angular-ui-mask/dist/mask.min.js' %}"></script>
<!-- <script src="http://thienhung1989.github.io/angular-tree-dnd/3.0.4/ng-tree-dnd.js"></script> -->
<script type="text/javascript" src="{% static 'bower_components/angular-tree-dnd/dist/ng-tree-dnd.js' %}"></script> <!-- Take note that I changed the bower component with the one on the github cdn-->
<script src="{% static 'bower_components/ng-tags-input/ng-tags-input.min.js' %}" type="text/javascript" charset="utf-8"></script>
<script src="{% static 'bower_components/angular-ui-select/dist/select.min.js' %}" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" src="{% static 'js/main.js' %}"></script>
<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->