{% load static %}

<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	    {% block custom_meta_tags %}
	    	<!-- Default SEO metas -->
		    <meta name="description" content="">
			<meta name="keywords" content="">
		{% endblock %}
		<link rel="apple-touch-icon" href="{# static 'img/favicon.ico' #}">
		<link rel="icon" href="{# static 'img/favicon.ico' #}">

		<title>{% block title %} Default Title {% endblock %}</title>
		{% include 'header_css.html' %}
	</head>
	<body>
		{% block header_content %}
			<!-- Default Header -->
			{# include 'header.html' #}
		{% endblock %}
		
		{% block content %}
			<!-- Default Content -->
		{% endblock %}
		
		{% block footer_content %}
			<!-- Default Footer -->
			{# include 'footer.html' #}
		{% endblock %}
		
		{% include 'footer_js.html' %}

		
	</body>
</html>