{% extends "base.html" %}
{% load static %}

{% block title %}Crew Admin{% endblock %}

{% block content %}
<div id="crew-menu-container" class="container">
	<div id="crew-menu-header">
		<strong>CREW ADMIN</strong>
	</div>
	<div id="crew-menu-body" class="form-horizontal">
		<div class="form-group">
			<div class="col-lg-4">
				<a href="{% url 'rank_management_index' %}" target="_blank" id="rank-management"><button class="btn form-control">Ranks Management</button></a>
			</div>
			<div class="col-lg-4">
				<a href="{% url 'principal_management_index' %}" target="_blank" id="principal-management"><button class="btn form-control">Principals Management</button></a>
			</div>
			<div class="col-lg-4">
				<a ><button class="btn form-control btn-msmi-disabled">Vessels Management</button></a>
			</div>
		</div>
		<div class="form-group">
			<div class="col-lg-4">
				<a ><button class="btn form-control btn-msmi-disabled">Rank Types Management</button></a>
			</div>
			<div class="col-lg-4">
				<a ><button class="btn form-control btn-msmi-disabled">Vessel Types Management</button></a>
			</div>
			<div class="col-lg-4">
				<a ><button class="btn form-control btn-msmi-disabled">Banks Managements</button></a>
			</div>
		</div>
		<div class="form-group">
			<div class="col-lg-4">
				<a href="{% url 'user_management_index' %}" target="_blank"><button class="btn form-control">User Management</button></a>
			</div>
		</div>
	</div>
	<!-- <div id="crew-menu-footer">
		<div class="form-group">
			<div class="col-lg-3">
				<a href="#" target="_blank"><button class="btn form-control">ADMIN</button></a>
			</div>
			<div class="col-lg-3">
				<a href="{% url 'crew_menu_report' %}" target="_blank"><button class="btn form-control">REPORTS</button></a>
			</div>
			<div class="col-lg-3">
				<a href="#" target="_blank"><button class="btn form-control">KPI</button></a>
			</div>
			<div class="col-lg-3">
				<a href="#" target="_blank"><button class="btn form-control">PRINTER SETTINGS</button></a>
			</div>
		</div>
	</div> -->
</div>

{% endblock %}