{% load static %}

<aside>
	<div class="col-lg-2">
		<div id="profile-sidebar">
			<!-- Take note that profile-pictures should be 200px -->
			<a href="#/add"><button class="btn form-control">ADD</button></a>
			<a href=""><button class="btn form-control">EXIT</button></a>
			
		</div>
	</div>
</aside>