<div class="pagination-container" ng-if="!noRecord"> <!-- START class="pagination-container" -->
	<div class="row"> <!-- START class="row" -->
		<div class="col-lg-6">
			<!-- Showing --> Page [[ page ]] of [[ totalPage ]]
		</div>
		<div class="col-lg-6 text-right">
			<!-- <a href="#/" class="glyphicon glyphicon-triangle-left" ng-click="previousPage()" ng-if="previousPageBool"></a> -->
			<a href="#/" ng-click="previousPage()" ng-if="previousPageBool" id="previous-page"><span aria-hidden="true">&laquo;</span></a>
			<a href="#/" ng-click="returnPage(page)" ng-if="totalPage-2 <= totalPage">[[ page ]]</a>
			<a href="#/" ng-click="returnPage(page +1)" ng-if="page+1 <= totalPage || totalPage-1 > page">[[ page +1 ]]</a>
			<a href="#/" ng-click="returnPage(page +2)" ng-if="page+2 <= totalPage">[[ page +2 ]]</a>
			<!-- <a href="#/" class="glyphicon glyphicon-triangle-right" ng-click="nextPage()" ng-if="nextPageBool"></a> -->
			<a href="#/" ng-click="nextPage()" ng-if="nextPageBool" id="next-page"><span aria-hidden="true">&raquo;</span></a>
		</div>
	</div> <!-- END class="row" -->
</div> <!-- END class="pagination-container" -->