<div id="crew-menu-body" class="form-horizontal admin-screens-body"> <!-- START id="crew-menu-body" -->
	<div class="form-group negate-margin-bottom "> <!-- START class="form-group negate-margin-bottom" -->
		<div class="col-lg-12"> <!-- START class="col-lg-12" -->
			<div class="form-group"> <!-- START class="form-group" -->
				<div class="col-lg-3">
					<div class="input-group">
						<label class="input-group-addon input-label" ng-class="{ 'required': validations.rank_order.required }">Order: </label>
						<input type="number" class="form-control input-form" ng-class="{ 'error': rankManagementForm.order.$invalid && notifications }" ng-model="input.rank_order" ng-model-options="{allowInvalid: true}" name="order" min="0" max="[[ validations.rank_order.max_value ]]" maxlength="2" negator-decimal-negative  ng-required="[[ validations.rank_order.required ]]" ng-disabled="[[ viewOnly ]]" >
					</div>
					<span class="errors" id="error-rank-order" >
						<span ng-if="rankManagementForm.order.$error.number"> * [[ integerOnlyMessage ]] <br /></span>
						<span ng-if="rankManagementForm.order.$error.max"> * Max order is [[ validations.rank_order.max_value ]] <br /></span>
						<!-- <span ng-hide="!rankManagementForm.order.$error.required"> * [[ requiredMessage ]] <br /></span> -->
						<span ng-if="rankManagementForm.order.$error.required && notifications"> * [[ requiredMessage ]] <br /></span>
					</span>
				</div>
				<div class="col-lg-3">
					<div class="input-group">
						<label class="input-group-addon input-label" ng-class="{ 'required': validations.rank_code.required }">Code:</label>
						<input class="form-control input-form code" ng-class="{ 'error': rankManagementForm.rank_code.$invalid && notifications }" ng-model="input.rank_code" ng-model-options="{allowInvalid: true}" name="rank_code" type="text" ng-keyup="uniqueCheck(rankManagementForm, $event, code_readonly)" ng-readonly="[[ code_readonly ]]" minlength="[[ validations.rank_code.min_length ]]" maxlength="[[ validations.rank_code.max_length ]]" ng-required="[[ validations.rank_code.required ]]" >
					</div>
					<span class="errors" id="error-rank-code" >
						<!-- <span ng-hide="!rankManagementForm.rank_code.$error.required"> * [[ requiredMessage ]] <br /></span> -->
						<span ng-if="rankManagementForm.rank_code.$error.required && notifications"> * [[ requiredMessage ]] <br /></span>
						<span ng-if="rankManagementForm.rank_code.$error.unique">* This code [[ errorDuplicate ]] <br /></span>
						<span ng-if="rankManagementForm.rank_code.$error.minlength || rankManagementForm.rank_code.$error.maxlength">* Code length must be [[ validations.rank_code.min_length ]] or [[ validations.rank_code.max_length ]] <br /></span>
					</span>	
				</div>
				<div class="col-lg-3">
					<div class="input-group">
						<label class="input-group-addon input-label" ng-class="{ 'required': validations.rank_description.required }">Description:</label>
						<input class="form-control input-form" ng-class="{ 'error': rankManagementForm.rank_description.$invalid && notifications }" ng-model="input.rank_description" ng-model-options="{allowInvalid: true}" name="rank_description" type="text" maxlength="[[ validations.rank_description.max_length ]]" ng-required="[[ validations.rank_description.required ]]" ng-disabled="[[ viewOnly ]]" >
					</div>
					<span class="errors" id="error-rank-description" >
						<!-- <span ng-hide="!rankManagementForm.rank_description.$error.required">* [[ requiredMessage ]] <br /></span> -->
						<span ng-if="rankManagementForm.rank_description.$error.required && notifications">* [[ requiredMessage ]] <br /></span>
						<span ng-if="rankManagementForm.rank_description.$error.maxlength">* Must not be more than [[ validations.rank_code.max_length ]] characters <br /></span>
					</span>
				</div>
				<div class="col-lg-3">
					<div class="input-group">
						<label class="input-group-addon input-label" ng-class="{ 'required': validations.rank_department.required }">Department:</label>
						<!-- <input class="form-control input-form" ng-model="input.rank_department" name="rank_department" type="text" required> -->
						<select class="form-control input-form" ng-class="{ 'error': rankManagementForm.rank_department.$invalid && notifications }" ng-model="input.rank_department" ng-model-options="{allowInvalid: true}" name="rank_department" ng-required="[[ validations.rank_department.required ]]" ng-disabled="[[ viewOnly ]]" >
							<option></option>
							<option value="Deck">Deck</option>
							<option value="Engine">Engine</option>
						</select>
					</div>
					<span class="errors" id="error-rank-department" >
						<!-- <span ng-hide="!rankManagementForm.rank_department.$error.required"> * [[ requiredMessage ]] </span>  -->
						<span ng-if="rankManagementForm.rank_department.$error.required && notifications"> * [[ requiredMessage ]] </span>
					</span>
				</div>
			</div> <!-- END class="form-group" -->
			<div class="form-group"> <!-- START class="form-group" -->
				<div class="col-lg-3">
					<div class="input-group">
						<label class="input-group-addon input-label" ng-class="{ 'required': validations.rank_type.required }">Type:</label>
						<!-- <input class="form-control input-form" ng-model="input.rank_type" name="rank_type" type="text" maxlength="4" required> -->
						<select class="form-control input-form" ng-class="{ 'error': rankManagementForm.rank_type.$invalid && notifications }" ng-model="input.rank_type" ng-model-options="{allowInvalid: true}" name="rank_type" ng-required="[[ validations.rank_type.required ]]" ng-disabled="[[ viewOnly ]]" >
							<option></option>
							<option value="O">Officer</option>
							<option value="R">Rating</option>
						</select>
					</div>
					<span class="errors" id="error-rank-type">
						<!-- <span ng-hide="!rankManagementForm.rank_type.$error.required">* [[ requiredMessage ]] <br /></span> -->
						<span ng-if="rankManagementForm.rank_type.$error.required && notifications">* [[ requiredMessage ]] <br /></span>
						<span ng-if="rankManagementForm.rank_type.$error.maxlength">* Must not be more than [[ validations.rank_type.max_length ]] characters <br /></span>
					</span>
				</div>
			</div> <!-- END class="form-group" -->
		</div> <!-- END class="col-lg-12" -->
	</div> <!-- END class="form-group negate-margin-bottom" -->
</div> <!-- END id="crew-menu-body" -->