<div id="crew-menu-header"> <!-- START id="crew-menu-header" -->
	<strong>RANKS</strong>
	<h3>See rank information</h3>
	<!-- <h3 class="color-msmi-green">Create and update ranks.</h3> -->
</div> <!-- END id="crew-menu-header" -->
<div ng-controller="itemListController">
	<!-- <div id="login-notifications" ng-if="notifications"> --> <!-- START id="login-notifications"  -->
		<!-- Delete Notifications!
		<span class="pull-right notifications-close" ng-click="hideNotifications()">X</span>
		<hr>
		<div ng-repeat="x in deleteArray"> --><!-- [[ x.id ]] -->
			<!-- <div> [[ x.name ]] - has been deleted <button class="btn btn-default btn-msmi-blue" ng-enter="individualUpdate($event, x.id,'rank_sys_status', null, apiUpdate)" data-dismiss="modal">UNDO</button></div>
		</div> -->
		<!-- <div>* adgc - has been deleted <a href="">undo</a></div> -->
	<!-- </div> --> <!-- END id="login-notifications"  -->
	<div id="crew-menu-body" class="form-horizontal admin-screens-body"> <!-- START id="crew-menu-body" -->
		<div class="form-group negate-margin-bottom"> <!-- START class="form-group negate-margin-bottom" -->
			<div class="col-lg-12"> <!-- START class="col-lg-10 profile-border" -->
				<div class="form-group" id="search-filter-container"> <!-- START class="form-group search-filter-container" -->
					<div class="col-lg-3">
						<div class="input-group">
							<label class="input-group-addon input-label negate-padding-left">Search:</label>
							<input class="form-control input-form" id="search" type="text" placeholder="Search here..." ng-keyup="search(apiGetItems, $event)" auto-complete ui-items="searchItems">
						</div>
					</div>
					<div class="col-lg-3">
						<div class="input-group">
							<!-- <select id="field-select" class="form-control input-form">
								<option value="">Search by..</option>
								<option value="rank_code">Code</option>
								<option value="rank_description">Description</option>
							</select> -->
							<label class="input-group-addon input-label">Search by:</label>
							<select id="field-select" class="form-control input-form" ng-model="searchList" ng-options="x as x.label for x in searchFilters" ng-change="searchFilter()" ng-init="searchList=searchFilters[0]"></select>
						</div>
					</div>
					<div class="col-lg-2">
						<div class="input-group">
							<button class="btn form-control btn-msmi-blue" ng-click="clearSearch()" id="clear-sort">Clear</button>
						</div>
					</div>
					<div class="col-lg-2 col-lg-offset-2" ng-if="deleteArray.length > 0">
						<div class="input-group">
							<button class="btn form-control btn-msmi-blue" ng-click="toggleNotificationModal()" id="undo-delete">Undo Delete</button>
						</div>
					</div>
				</div> <!-- END class="form-group" -->
				<table class="table table-condensed"> <!-- START class="table table-condensed" -->
					<thead>
				      <tr>
				        <!-- <th class="text-center"><input type="checkbox" ng-model="selectedAll" ng-click="checkAll()"></th> -->
				        <!-- Table Headers declared in an array via angular -->
				        <th ng-repeat="x in tableHeaders">
				        	<label ng-class="checkSortable(x.url)" ng-click="itemSort(x.url, x.field, $event)">
				        		[[x.name]]
				        		<span ng-if="x.url" class="caret [[ x.class ]]" ng-click="dynamicCaret($event)" id="sort_[[ x.id ]]"></span>
				        	</label> 
				        	<span ng-if="x.url">
				        		<span ng-if="orderPosition(x.field)" class="order-attributes">
				        			<span  ng-click="removeOrder(x.field, $event)" class="glyphicon [[ glyphiconRemoveSort ]]" data-toggle="tooltip" title="Remove Sort" id="remove_[[ x.id ]]"></span>
				        			<span id="priority_[[ x.id ]]">[[ orderPosition(x.field) ]]</span>
				        		</span>
				        	</span>
				        </th>
				        <th class="text-center"><label>Options</label></th>
				      </tr>
				    </thead>
				    <tbody>
				    	<tr ng-if="noRecord">
				    		<td colspan="[[ tableHeadersLength ]]" class="text-center">[[ noRecordMessage ]] <!-- in the search --></td>
				    	</tr>
				    	<tr ng-repeat="x in items" ng-if="!noRecord">
				    		<!-- <td class="text-center"><input value="[[ x.id ]]" type="checkbox" ng-model="x.selected"></td> -->
					        <td>[[x.rank_order]]</td>
					        <td>[[x.rank_code]]</td>
					        <td>[[x.rank_description]]</td>
					        <td>[[x.rank_department]]</td>
					        <td>[[x.rank_type]]</td>
					        <td>[[x.updated_by.user_code]]</td>
				        	<td>[[x.date_updated]]</td>
					        <td class="text-center">
					        	<view-glyphicon-button id='x.id'></view-glyphicon-button>
					        	<a href="#/update/[[ x.id ]]"><span class="glyphicon [[ glyphiconUpdate ]]" data-toggle="tooltip" title="Update"></span></a>
					        	<span class="glyphicon [[ glyphiconDelete ]]" ng-click="toggleModal(x.id)" data-toggle="tooltip" title="Delete"></span>
					        	<!-- <update-item-glyphicon-button id='x.id'></update-item-glyphicon-button></a> -->
					        	<!-- <delete-item-glyphicon-button id='[[x.id]]'></delete-item-glyphicon-button></a> -->
					        </td>
				    	</tr>
				    </tbody>
				</table> <!-- END class="table table-condensed" -->
				<div ng-include="'/static/html/pagination.html?query='+forceReload"></div>
			</div> <!-- START class="col-lg-12 profile-border" -->
			<!-- <aside> --> <!-- START aside -->
				<!-- <div class="col-lg-2"> --> <!-- START class="col-lg-2" -->
					<!-- <div id="profile-sidebar">  --><!-- START id="profile-sidebar" -->
						<!-- <a href=""><button class="btn form-control" ng-hide="!isChecked()" ng-click="deleteMultiple()">DELETE</button></a>
						<a href="#/add"><button class="btn form-control">ADD</button></a>
						<a href=""><button class="btn form-control" ng-click="close()">EXIT</button></a> -->
					<!-- </div> --> <!-- END id="profile-sidebar" -->
				<!-- </div> --> <!-- END class="col-lg-2" -->
			<!-- </aside> --> <!-- END aside -->
		</div> <!-- END class="form-group negate-margin-bottom" -->
	</div> <!-- END id="crew-menu-body" -->

	<confirmation-modal title="Confirm Delete" visible="showModal"> <!-- START delete-modal -->
		<div id="notifications">
			<div ng-if="!notifications">
				<div class="form-group">
					[[ deleteStatement ]]
				</div>
				<div class="text-right">
					<button class="btn btn-default" data-dismiss="modal">Cancel</button>
					<button class="btn btn-default" ng-click="deleteItem(id, 'rank_description', apiDelete)" data-dismiss="modal" ng-if="individualDelete" id="delete">Delete</button>
					<button class="btn btn-default" ng-click="deleteMultiple('rank_description', apiDelete)" data-dismiss="modal" ng-if="multipleDelete">Delete All</button>
				</div>
			</div>
			<div ng-if="notifications">
				<div ng-repeat="x in deleteArray">
					<div> <span class="item-notification">[[ x.name ]]</span> - has been deleted <button class="btn btn-default btn-msmi-blue undo-button" ng-click="individualUpdate($event, x.id,'rank_sys_status', null, apiUpdate, x)">UNDO</button></div>
				</div>
			</div>
		</div>
	</confirmation-modal> <!-- END delete-modal -->

	<div id="crew-menu-footer"> <!-- START id="crew-menu-footer" -->
		<div class="form-group screens-footer"> <!-- START class="form-group screens-footer" -->
			<div class="col-lg-2 col-lg-offset-6">
				<a href=""><button class="btn form-control" ng-hide="!isChecked()" ng-click="toggleModalMultiple()">DELETE</button></a>
			</div>
			<div class="col-lg-2">
				<a href="#/add"><button class="btn form-control" id="add-page">ADD</button></a>
			</div>
			<div class="col-lg-2">
				<a href=""><button class="btn form-control" ng-click="close()" id="exit">EXIT</button></a>
			</div>  <!-- preSorts:[[preSorts]] --------------- sorts:[[ sorts ]] /////// -->
		</div> <!-- END class="form-group screens-footer" -->
	</div> <!-- END id="crew-menu-foote"r -->
</div>